n8n-workspace/02-AI-Agent-Head-Vendas-V2-ATUALIZADO.json
{
  "name": "02-AI-Agent-Head-Vendas-V2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1yr256LwbLKJZ5HzHgC7Zq25MrSOKTQEs",
          "mode": "url"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        752,
        464
      ],
      "id": "50ab3d5d-cdab-4a5f-baf5-b98be492245a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cr.*, l.api_key as location_api_key, l.association_id FROM call_recordings cr LEFT JOIN locations l ON cr.location_id = l.location_id WHERE cr.gdrive_file_id = '{{ $json.id }}' AND cr.status = 'movido' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        976,
        464
      ],
      "id": "72f77326-bf7d-4a8d-b29e-444b0949a589",
      "name": "Buscar Call no Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-call-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        464
      ],
      "id": "7abf8480-534d-4842-9d1b-f0f667f4a648",
      "name": "Call Existe?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1424,
        560
      ],
      "id": "163d2256-7365-4bdd-b990-5c55df839659",
      "name": "Skip - Call nao encontrada"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Google Drive Trigger').item.json.id }}/export",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mimeType",
              "value": "text/plain"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        368
      ],
      "id": "2da0f355-f57f-40f6-a767-eef5e134b35e",
      "name": "Export Google Doc como Texto",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Buscar dados do node que tem as informações corretas\n  const dadosCall = $('Buscar Call no Supabase').first().json;\n\n  // Tentar buscar Pre-Processador, mas pode não existir nesse caminho\n  let preProcessador = {};\n  try {\n    preProcessador = $('Pre-Processador Transcricao').first().json || {};\n  } catch (e) {\n    preProcessador = {};\n  }\n\n  // Função para formatar cada item da análise\n  function formatItem(item, dadosCall, preProcessador) {\n    // Extrair dados da análise do AI\n    const analise = item.json?.message?.content || item.json?.content || item.json || {};\n\n    // Se vier como string JSON, fazer parse\n    let analiseObj = analise;\n    if (typeof analise === 'string') {\n      try {\n        analiseObj = JSON.parse(analise);\n      } catch (e) {\n        analiseObj = { raw_response: analise };\n      }\n    }\n\n    return {\n      json: {\n        // === CAMPOS DE IDENTIFICAÇÃO (do Buscar Call no Supabase) ===\n        call_recording_id: dadosCall.id || preProcessador.call_recording_id || null,\n        location_id: dadosCall.location_id || preProcessador.location_id || null,\n        location_api_key: dadosCall.location_api_key || dadosCall.api_key || preProcessador.location_api_key || null,\n        contact_id: dadosCall.contact_id || preProcessador.contact_id || null,\n\n        // === CAMPOS ADICIONAIS DO CALL (do Buscar Call no Supabase) ===\n        gdrive_url: dadosCall.gdrive_url || preProcessador.gdrive_url || null,\n        association_id: dadosCall.association_id || preProcessador.association_id || null,\n        nome_lead: dadosCall.nome_lead || preProcessador.nome_lead || null,\n\n        // === CAMPOS DA ANÁLISE (do AI) ===\n        resumo: analiseObj.resumo || analiseObj.summary || null,\n        sentimento: analiseObj.sentimento || analiseObj.sentiment || null,\n        intencao: analiseObj.intencao || analiseObj.intent || null,\n        proximos_passos: analiseObj.proximos_passos || analiseObj.next_steps || null,\n        score_qualificacao: analiseObj.score_qualificacao || analiseObj.qualification_score || null,\n        objecoes: analiseObj.objecoes || analiseObj.objections || null,\n        pontos_positivos: analiseObj.pontos_positivos || analiseObj.positive_points || null,\n        pontos_negativos: analiseObj.pontos_negativos || analiseObj.negative_points || null,\n        keywords: analiseObj.keywords || analiseObj.palavras_chave || null,\n        duracao_estimada: analiseObj.duracao_estimada || analiseObj.estimated_duration || null,\n        tipo_ligacao: analiseObj.tipo_ligacao || analiseObj.call_type || null,\n        status_lead: analiseObj.status_lead || analiseObj.lead_status || null,\n        temperatura_lead: analiseObj.temperatura_lead || analiseObj.lead_temperature || null,\n\n        // === CAMPOS PARA GHL (Custom Fields) ===\n        ghl_resumo_ligacao: analiseObj.resumo || analiseObj.summary || null,\n        ghl_sentimento: analiseObj.sentimento || analiseObj.sentiment || null,\n        ghl_proximos_passos: Array.isArray(analiseObj.proximos_passos)\n          ? analiseObj.proximos_passos.join('; ')\n          : (analiseObj.proximos_passos || analiseObj.next_steps || null),\n        ghl_score: analiseObj.score_qualificacao || analiseObj.qualification_score || null,\n        ghl_temperatura: analiseObj.temperatura_lead || analiseObj.lead_temperature || null,\n\n        // === RESPOSTA COMPLETA (para debug/referência) ===\n        analise_completa: analiseObj,\n\n        // === METADADOS ===\n        processed_at: new Date().toISOString(),\n        processing_status: 'success'\n      }\n    };\n  }\n\n  // Processar todos os itens de entrada\n  const items = $input.all();\n  const results = [];\n\n  for (const item of items) {\n    try {\n      const formatted = formatItem(item, dadosCall, preProcessador);\n      results.push(formatted);\n    } catch (error) {\n      results.push({\n        json: {\n          call_recording_id: dadosCall.id || null,\n          location_id: dadosCall.location_id || null,\n          location_api_key: dadosCall.location_api_key || dadosCall.api_key || null,\n          contact_id: dadosCall.contact_id || null,\n          processing_status: 'error',\n          error_message: error.message,\n          processed_at: new Date().toISOString()\n        }\n      });\n    }\n  }\n\n  return results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        368
      ],
      "id": "46014332-22ce-47d6-9b04-3a303eadef0d",
      "name": "Pre-Processador Transcricao"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.transcricao_processada }}",
        "options": {
          "systemMessage": "=={{ $('2.1 Resolver Variáveis').item.json.prompt_final }}"
        }
      },
      "id": "0e85a5f8-b2db-4beb-83e4-5cacea157664",
      "name": "AI Agent - Head de Vendas V2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2320,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// CODE - PROCESSAR ANALISE V2 (CORRIGIDO)\n// =====================================================\n\nconst items = $input.all();\n\n// CORREÇÃO: Buscar dados do lead DIRETAMENTE do Supabase\nconst dadosCall = $('Buscar Call no Supabase').first()?.json || {};\n\n// CORREÇÃO: Também buscar do 2.1 Resolver Variáveis (que agora tem os dados)\nconst dadosResolverVariaveis = $('2.1 Resolver Variáveis').first()?.json || {};\n\nfunction cleanFences(s) {\n  if (typeof s !== 'string') s = String(s ?? '');\n  let r = s.trim();\n  r = r.replace(/^\\s*```[a-z]*\\s*/i, '');\n  r = r.replace(/\\s*```$/, '');\n  return r;\n}\n\nfunction findBalancedEnd(s, start) {\n  let depth = 0, inStr = false, esc = false;\n  for (let i = start; i < s.length; i++) {\n    const ch = s[i];\n    if (inStr) {\n      if (esc) { esc = false; }\n      else if (ch === '\\\\') { esc = true; }\n      else if (ch === '\"') { inStr = false; }\n    } else {\n      if (ch === '\"') inStr = true;\n      else if (ch === '{') depth++;\n      else if (ch === '}') { depth--; if (depth === 0) return i; }\n    }\n  }\n  return -1;\n}\n\nfunction tryParse(str) {\n  try { return JSON.parse(str); } catch {}\n  const raw = cleanFences(str);\n  try { return JSON.parse(raw); } catch {}\n  const start = raw.indexOf('{');\n  const end = start >= 0 ? findBalancedEnd(raw, start) : -1;\n  if (start >= 0 && end >= 0) {\n    const jsonStr = raw.slice(start, end + 1);\n    try { return JSON.parse(jsonStr); } catch {}\n  }\n  return null;\n}\n\nfunction formatItem(analise) {\n  let tier, cor, emoji;\n  const scoreTotal = Number(analise?.analise_geral?.score_total ?? 0);\n  if (scoreTotal >= 81) { tier = 'A+ EXCELENTE'; cor = '#10b981'; emoji = '🏆'; }\n  else if (scoreTotal >= 61) { tier = 'B BOA'; cor = '#3b82f6'; emoji = '✅'; }\n  else if (scoreTotal >= 41) { tier = 'C MEDIANA'; cor = '#f59e0b'; emoji = '⚠️'; }\n  else { tier = 'D FRACA'; cor = '#ef4444'; emoji = '❌'; }\n\n  const resumoFormatado = `\n${emoji} CALL ${tier}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nScore Total: ${scoreTotal}/100\nProbabilidade Fechamento: ${analise?.analise_geral?.probabilidade_fechamento ?? 0}%\nStatus: ${analise?.analise_geral?.status ?? ''}\n\n${analise?.analise_geral?.resumo_executivo ?? ''}\n`;\n\n  const scores = `\n📊 BREAKDOWN DE SCORES:\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n• Qualificacao (BANT): ${analise?.scores_detalhados?.qualificacao_bant?.score ?? 0}/10\n• Descoberta (SPIN): ${analise?.scores_detalhados?.descoberta_spin?.score ?? 0}/10\n• Conducao: ${analise?.scores_detalhados?.conducao?.score ?? 0}/10\n• Fechamento: ${analise?.scores_detalhados?.fechamento?.score ?? 0}/10\n`;\n\n  return {\n    json: {\n      // === ANÁLISE DA IA ===\n      ...analise,\n\n      // === METADATA FORMATADA ===\n      metadata: {\n        tier,\n        cor,\n        emoji,\n        resumo_formatado: resumoFormatado,\n        scores_formatado: scores,\n        timestamp: new Date().toISOString()\n      },\n\n      // === DADOS DO LEAD (DO SUPABASE - FONTE CONFIÁVEL!) ===\n      location_id: dadosCall.location_id || dadosResolverVariaveis.location_id || null,\n      location_api_key: dadosCall.location_api_key || dadosCall.api_key || dadosResolverVariaveis.location_api_key || null,\n      contact_id: dadosCall.contact_id || dadosResolverVariaveis.contact_id || null,\n      call_recording_id: dadosCall.id || dadosResolverVariaveis.call_recording_id || null,\n      tipo_call: dadosCall.tipo || dadosResolverVariaveis.tipo_call || 'diagnostico',\n      gdrive_url: dadosCall.gdrive_url || dadosResolverVariaveis.gdrive_url || null,\n      association_id: dadosCall.association_id || dadosResolverVariaveis.association_id || null,\n      nome_lead: dadosCall.nome_lead || dadosCall.contact_name || dadosResolverVariaveis.nome_lead || null\n    }\n  };\n}\n\n// CORREÇÃO: Buscar a resposta da IA do nó correto\n// O input vem do \"2.2 Registrar Uso\" que é um INSERT, então precisamos buscar do AI Agent\nlet respostaIA = null;\ntry {\n  const aiAgentOutput = $('AI Agent - Head de Vendas V2').first()?.json || {};\n  respostaIA = aiAgentOutput.output || aiAgentOutput.text || aiAgentOutput;\n} catch (e) {\n  console.warn('Erro ao buscar resposta do AI Agent:', e.message);\n}\n\nconst results = items.map(item => {\n  // Primeiro tenta do input atual, depois do AI Agent\n  const rawVal = item?.json?.output || item?.json?.text || respostaIA;\n  const outputStr = typeof rawVal === 'string' ? rawVal : String(rawVal ?? '');\n  const analise = typeof rawVal === 'object' && rawVal ? rawVal : tryParse(outputStr);\n\n  if (!analise) {\n    return {\n      json: {\n        metadata: {\n          erro_parse: true,\n          motivo: 'Resposta do agente incompleta ou com cercas Markdown. JSON invalido.',\n          raw_snippet: cleanFences(outputStr).slice(0, 1000),\n          timestamp: new Date().toISOString()\n        },\n        // AINDA ASSIM, PASSAR OS DADOS DO LEAD!\n        location_id: dadosCall.location_id || dadosResolverVariaveis.location_id || null,\n        location_api_key: dadosCall.location_api_key || dadosCall.api_key || dadosResolverVariaveis.location_api_key || null,\n        contact_id: dadosCall.contact_id || dadosResolverVariaveis.contact_id || null,\n        call_recording_id: dadosCall.id || dadosResolverVariaveis.call_recording_id || null,\n        tipo_call: dadosCall.tipo || 'diagnostico',\n        gdrive_url: dadosCall.gdrive_url || null,\n        association_id: dadosCall.association_id || null,\n        nome_lead: dadosCall.nome_lead || dadosCall.contact_name || null\n      }\n    };\n  }\n  return formatItem(analise);\n});\n\nreturn results;"
      },
      "id": "f7d09a93-35d9-4134-b523-b14be8278f7f",
      "name": "Code - Processar Analise V2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        368
      ]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/locations/{{ $('Buscar Call no Supabase').first().json.location_id }}/customFields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code - Processar Analise V2').item.json.location_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        224
      ],
      "id": "dda5fbd6-22db-4a1d-b32b-41ff43f8f844",
      "name": "Listar Custom Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/objects/custom_objects.anlises_de_call/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code - Processar Analise V2').item.json.location_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $('Code - Processar Analise V2').item.json.location_id }}\",\n  \"properties\": {\n    \"resumo_da_call\": {{ JSON.stringify(String($('Code - Processar Analise V2').item.json.analise_geral?.resumo_executivo ?? 'Analise processada')) }},\n    \"data_call\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"tipo\": \"{{ $('Code - Processar Analise V2').item.json.tipo_call ?? 'diagnostico' }}\",\n    \"sentimento\": \"{{ ($('Code - Processar Analise V2').item.json.analise_geral?.score_total ?? 0) >= 61 ? 'positivo' : (($('Code - Processar Analise V2').item.json.analise_geral?.score_total ?? 0) >= 41 ? 'neutro' : 'negativo') }}\",\n    \"pontuacao_geral\": {{ $('Code - Processar Analise V2').item.json.analise_geral?.score_total ?? 0 }},\n    \"participantes\": \"{{ $('Code - Processar Analise V2').item.json.nome_lead ?? 'Lead' }}\",\n    \"duracao_minutos\": 30,\n    \"proximos_passos\": {{ JSON.stringify(String($('Code - Processar Analise V2').item.json.plano_acao?.follow_up?.mensagem_sugerida ?? $('Code - Processar Analise V2').item.json.veredicto_final?.proximos_passos?.join(', ') ?? 'Aguardando definicao')) }},\n    \"pontos_positivos\": {{ JSON.stringify(String($('Code - Processar Analise V2').item.json.highlights_positivos?.map(h => h.momento).join('\\n') ?? 'Analise em processamento')) }},\n    \"pontos_atencao\": {{ JSON.stringify(String($('Code - Processar Analise V2').item.json.veredicto_final?.principal_erro ?? 'Verificar pontos de atencao')) }},\n    \"objecoes_identificadas\": {{ JSON.stringify(String($('Code - Processar Analise V2').item.json.red_flags?.flags_identificados?.map(f => f.flag).join('\\n') ?? 'Nenhuma objecao critica')) }},\n    \"link_gravacao\": \"{{ $('Code - Processar Analise V2').item.json.gdrive_url }}\",\n    \"bant_score\": {{ $('Code - Processar Analise V2').item.json.scores_detalhados?.qualificacao_bant?.score ?? 0 }},\n    \"spin_score\": {{ $('Code - Processar Analise V2').item.json.scores_detalhados?.descoberta_spin?.score ?? 0 }},\n    \"conducao_score\": {{ $('Code - Processar Analise V2').item.json.scores_detalhados?.conducao?.score ?? 0 }},\n    \"fechamento_score\": {{ $('Code - Processar Analise V2').item.json.scores_detalhados?.fechamento?.score ?? 0 }},\n    \"probabilidade_fechamento\": {{ $('Code - Processar Analise V2').item.json.analise_geral?.probabilidade_fechamento ?? 0 }},\n    \"status_analise\": \"{{ $('Code - Processar Analise V2').item.json.analise_geral?.status ?? 'nutrir' }}\",\n    \"tier\": \"{{ $('Code - Processar Analise V2').item.json.metadata?.tier ?? 'C MEDIANA' }}\",\n    \"veredicto\": {{ JSON.stringify(String($('Code - Processar Analise V2').item.json.veredicto_final?.resumo_uma_frase ?? 'Analise concluida')) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        464
      ],
      "id": "368badcd-0e3e-4e5c-9cdd-a4b47dfc640a",
      "name": "Salvar em Custom Object"
    },
    {
      "parameters": {
        "jsCode": "const customFields = $input.first().json.customFields || [];\n\nfunction find(fieldKey, name) {\n  const fk = fieldKey.toLowerCase();\n  const nm = name.toLowerCase();\n  return customFields.find(f => \n    (f.fieldKey && f.fieldKey.toLowerCase() === fk) || \n    (f.fieldKey && f.fieldKey.toLowerCase().includes(fk.replace('contact.', ''))) ||\n    (f.name && f.name.toLowerCase() === nm) ||\n    (f.name && f.name.toLowerCase().includes(nm))\n  );\n}\n\nconst mapping = [\n  ['score_total_id', 'contact.contactscore_total', 'Score Total'],\n  ['probabilidade_fechamento_id', 'contact.contactprobabilidade_fechamento', 'Probabilidade de Fechamento'],\n  ['status_analise_id', 'contact.contactstatus_analise', 'Status da Análise'],\n  ['tier_call_id', 'contact.contacttier_call', 'Tier da Call'],\n  ['resumo_executivo_id', 'contact.contactresumo_executivo', 'Resumo Executivo'],\n  ['scores_formatado_id', 'contact.contactscores_formatado', 'Scores Formatado'],\n  ['qualificacao_bant_score_id', 'contact.contactqualificacao_bant_score', 'Qualificação (BANT) Score'],\n  ['descoberta_spin_score_id', 'contact.contactdescoberta_spin_score', 'Descoberta (SPIN) Score'],\n  ['conducao_score_id', 'contact.contactconducao_score', 'Condução Score'],\n  ['fechamento_score_id', 'contact.contactfechamento_score', 'Fechamento Score']\n];\n\nconst result = {};\nfor (const [outKey, fk, name] of mapping) {\n  const f = find(fk, name);\n  if (f && f.id) result[outKey] = f.id;\n}\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        224
      ],
      "id": "dca0070c-bdc1-421c-8811-9755bf631f50",
      "name": "Code - Encontrar IDs"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Code - Processar Analise V2').item.json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code - Processar Analise V2').item.json.location_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    { \"id\": \"{{ $json.score_total_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.analise_geral?.score_total ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.probabilidade_fechamento_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.analise_geral?.probabilidade_fechamento ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.status_analise_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.analise_geral?.status ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.tier_call_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.metadata?.tier ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.resumo_executivo_id }}\", \"value\": {{  JSON.stringify($('Code - Processar Analise V2').item.json.analise_geral?.resumo_executivo ?? 'N/A') }} },\n    { \"id\": \"{{ $json.scores_formatado_id }}\", \"value\": {{  JSON.stringify($('Code - Processar Analise V2').item.json.metadata?.scores_formatado ?? 'N/A') }} },\n    { \"id\": \"{{ $json.qualificacao_bant_score_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.scores_detalhados?.qualificacao_bant?.score ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.descoberta_spin_score_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.scores_detalhados?.descoberta_spin?.score ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.conducao_score_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.scores_detalhados?.conducao?.score ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.fechamento_score_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.scores_detalhados?.fechamento?.score ?? 'N/A' }}\" }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        224
      ],
      "id": "d9225435-f72e-4f94-9c52-cf5803dff217",
      "name": "Atualizar Campos GHL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-contact-id",
              "leftValue": "={{ $('Code - Processar Analise V2').item.json.contact_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3344,
        464
      ],
      "id": "e52e2e81-572f-4db0-9978-fa72ba43be77",
      "name": "Tem Contact ID?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/associations/relations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code - Processar Analise V2').item.json.location_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"associationId\": \"{{ $('Code - Processar Analise V2').item.json.association_id }}\",\n  \"firstRecordId\": \"{{ $('Code - Processar Analise V2').item.json.contact_id }}\",\n  \"secondRecordId\": \"{{ $('Salvar em Custom Object').item.json.record.id }}\",\n  \"locationId\": \"{{ $('Code - Processar Analise V2').item.json.location_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        544
      ],
      "id": "a3a049c9-0e99-480c-84d0-9fa4466ff379",
      "name": "Associar Call ao Contato"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// PREPARAR DADOS PARA SUPABASE (NOVO NÓ)\n// Prepara transcrição e análise para salvar no banco\n// =====================================================\n\n// Buscar transcrição do nó Export Google Doc\nlet transcricao = '';\ntry {\n  transcricao = $('Export Google Doc como Texto').first().json.data || '';\n} catch (e) {\n  console.warn('Transcrição não encontrada:', e.message);\n}\n\n// Buscar análise do nó Code - Processar Analise V2\nconst analise = $input.first().json;\n\n// Limpar transcrição para SQL (escapar aspas simples)\nconst transcricaoLimpa = transcricao.replace(/'/g, \"''\");\n\n// Converter análise para JSON string seguro\nconst analiseJson = JSON.stringify(analise).replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    // Dados originais da análise (passar adiante)\n    ...analise,\n\n    // Dados preparados para o SQL\n    sql_data: {\n      call_recording_id: analise.call_recording_id,\n      transcricao: transcricaoLimpa,\n      analise_json: analiseJson,\n      transcricao_length: transcricao.length,\n      analise_json_length: analiseJson.length\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        224
      ],
      "id": "prep-supabase-001",
      "name": "Preparar Dados para Supabase"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE call_recordings\nSET\n  status = 'analisado',\n  analise_status = 'analisado',\n  processed_at = NOW(),\n  analyzed_at = NOW(),\n  transcricao = '{{ $json.sql_data.transcricao }}',\n  analise_json = '{{ $json.sql_data.analise_json }}'::jsonb\nWHERE id = '{{ $json.sql_data.call_recording_id }}'\nRETURNING id, status, analise_status, analyzed_at, length(transcricao) as transcricao_length",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4016,
        224
      ],
      "id": "739d2ae7-f78f-433c-ba89-af311d4ca164",
      "name": "Atualizar Status Supabase",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// NÓ: Code - Preparar Payload RAG\n// Workflow: 02-AI-Agent-Head-Vendas-V2\n// Descrição: Formata dados da análise para envio ao RAG\n// =====================================================\n\n// Buscar dados do nó anterior\nconst analiseData = $('Code - Processar Analise V2').first().json;\n\n// Dados da análise\nconst scoreTotal = analiseData.analise_geral?.score_total || 0;\nconst tier = analiseData.metadata?.tier || 'N/A';\nconst status = analiseData.analise_geral?.status || 'N/A';\nconst resumoExecutivo = analiseData.analise_geral?.resumo_executivo || '';\nconst probabilidadeFechamento = analiseData.analise_geral?.probabilidade_fechamento || 0;\n\n// Scores detalhados\nconst scoreBant = analiseData.scores_detalhados?.qualificacao_bant?.score || 0;\nconst scoreSpin = analiseData.scores_detalhados?.descoberta_spin?.score || 0;\nconst scoreConducao = analiseData.scores_detalhados?.conducao?.score || 0;\nconst scoreFechamento = analiseData.scores_detalhados?.fechamento?.score || 0;\n\n// Highlights e Red Flags\nconst highlightsPositivos = analiseData.highlights_positivos || [];\nconst redFlags = analiseData.red_flags?.flags_identificados || [];\nconst proximosPassos = analiseData.veredicto_final?.proximos_passos || [];\n\n// Metadados\nconst nomeLead = analiseData.nome_lead || 'Lead Desconhecido';\nconst tipoCall = analiseData.tipo_call || 'vendas';\nconst dataAnalise = new Date().toISOString().split('T')[0];\n\n// ============================================\n// REGRA: Só salvar se score >= 60\n// ============================================\nconst deveEnviarRag = scoreTotal >= 60;\n\nif (!deveEnviarRag) {\n  return [{\n    json: {\n      skip_rag: true,\n      reason: `Score ${scoreTotal} abaixo do threshold (60)`,\n      score_total: scoreTotal\n    }\n  }];\n}\n\n// ============================================\n// FORMATAR CONTEÚDO PARA BUSCA SEMÂNTICA\n// ============================================\nconst contentLines = [\n  `# Análise de Call - ${nomeLead}`,\n  ``,\n  `## Resumo Executivo`,\n  resumoExecutivo,\n  ``,\n  `## Métricas Principais`,\n  `- Score Total: ${scoreTotal}/100 (${tier})`,\n  `- Status: ${status}`,\n  `- Probabilidade de Fechamento: ${probabilidadeFechamento}%`,\n  `- Tipo de Call: ${tipoCall}`,\n  ``,\n  `## Scores por Categoria`,\n  `- Qualificação BANT: ${scoreBant}/10`,\n  `- Descoberta SPIN: ${scoreSpin}/10`,\n  `- Condução da Call: ${scoreConducao}/10`,\n  `- Técnicas de Fechamento: ${scoreFechamento}/10`,\n  ``\n];\n\n// Adicionar highlights se existirem\nif (highlightsPositivos.length > 0) {\n  contentLines.push(`## Highlights Positivos (Boas Práticas)`);\n  highlightsPositivos.forEach((h, i) => {\n    const texto = typeof h === 'string' ? h : h.momento || h.descricao || JSON.stringify(h);\n    contentLines.push(`${i + 1}. ${texto}`);\n  });\n  contentLines.push(``);\n}\n\n// Adicionar red flags se existirem\nif (redFlags.length > 0) {\n  contentLines.push(`## Red Flags Identificados`);\n  redFlags.forEach((f, i) => {\n    const texto = typeof f === 'string' ? f : f.flag || f.descricao || JSON.stringify(f);\n    contentLines.push(`${i + 1}. ${texto}`);\n  });\n  contentLines.push(``);\n}\n\n// Adicionar próximos passos\nif (proximosPassos.length > 0) {\n  contentLines.push(`## Próximos Passos Recomendados`);\n  proximosPassos.forEach((p, i) => {\n    contentLines.push(`${i + 1}. ${p}`);\n  });\n  contentLines.push(``);\n}\n\n// Insights de performance\ncontentLines.push(`## Insights de Performance`);\nif (scoreBant >= 8) contentLines.push(`- Excelente qualificação BANT - lead bem investigado`);\nif (scoreSpin >= 8) contentLines.push(`- Forte descoberta SPIN - dores e impactos bem explorados`);\nif (scoreConducao >= 8) contentLines.push(`- Boa condução - rapport e controle da conversa`);\nif (scoreFechamento >= 8) contentLines.push(`- Técnicas de fechamento bem aplicadas`);\nif (scoreBant < 5) contentLines.push(`- Oportunidade de melhoria: qualificação BANT mais profunda`);\nif (scoreSpin < 5) contentLines.push(`- Oportunidade de melhoria: explorar mais dores com SPIN`);\n\nconst content = contentLines.join('\\n');\n\n// ============================================\n// GERAR TAGS INTELIGENTES\n// ============================================\nconst tags = ['call-analysis', tipoCall.toLowerCase()];\n\nif (tier.includes('A+') || tier.includes('EXCELENTE')) {\n  tags.push('best-practice', 'excelente');\n}\nif (tier.includes('B') && tier.includes('BOA')) {\n  tags.push('boa-performance');\n}\nif (tier.includes('C') || tier.includes('MEDIANA')) {\n  tags.push('pode-melhorar');\n}\n\nif (scoreBant >= 8) tags.push('bant-forte');\nif (scoreSpin >= 8) tags.push('spin-forte');\nif (scoreConducao >= 8) tags.push('conducao-forte');\nif (scoreFechamento >= 8) tags.push('fechamento-forte');\n\nif (status === 'QUALIFICADO') tags.push('qualificado');\nif (status === 'NUTRIR') tags.push('nutrir');\nif (probabilidadeFechamento >= 70) tags.push('high-probability');\nif (redFlags.length > 0) tags.push('tem-red-flags');\n\n// ============================================\n// MONTAR PAYLOAD FINAL PARA RAG\n// ============================================\nconst ragPayload = {\n  category: 'call_analysis',\n  title: `Call ${tier} - ${nomeLead} (Score: ${scoreTotal}) - ${dataAnalise}`,\n  content: content,\n  project_key: 'socialfy',\n  tags: tags\n};\n\nreturn [{\n  json: {\n    skip_rag: false,\n    rag_payload: ragPayload,\n    metadata: {\n      score_total: scoreTotal,\n      tier: tier,\n      status: status,\n      nome_lead: nomeLead,\n      data_analise: dataAnalise,\n      tags_geradas: tags\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        688
      ],
      "id": "rag-payload-001",
      "name": "Preparar Payload RAG"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-skip-rag",
              "leftValue": "={{ $json.skip_rag }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3344,
        688
      ],
      "id": "rag-filter-001",
      "name": "Score >= 60?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agenticoskevsacademy-production.up.railway.app/webhook/rag-ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"category\": \"{{ $json.rag_payload.category }}\",\n  \"title\": \"{{ $json.rag_payload.title }}\",\n  \"content\": {{ JSON.stringify($json.rag_payload.content) }},\n  \"project_key\": \"{{ $json.rag_payload.project_key }}\",\n  \"tags\": {{ JSON.stringify($json.rag_payload.tags) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        688
      ],
      "id": "rag-ingest-001",
      "name": "Enviar para RAG",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// NÓ 2.1 - RESOLVER VARIÁVEIS NO PROMPT (CORRIGIDO)\n// =====================================================\n\n// Obter dados do prompt (do Postgres)\nconst promptRow = $input.first()?.json || {};\nconst promptContent = promptRow.prompt_content || '';\nconst promptKey = promptRow.prompt_key || 'unknown';\nconst version = promptRow.version || 1;\n\n// CORREÇÃO: Buscar dados do lead do nó correto!\nconst dadosCall = $('Buscar Call no Supabase').first()?.json || {};\n\n// Buscar transcrição\nlet transcricao = '';\ntry {\n  const exportDoc = $('Export Google Doc como Texto').first()?.json || {};\n  transcricao = exportDoc.data || exportDoc.texto || '';\n} catch (e) {\n  console.warn('Nó de transcrição não encontrado:', e.message);\n}\n\n// Mapeamento de variáveis\nconst variaveis = {\n  // === DADOS DA TRANSCRIÇÃO ===\n  'transcricao_processada': transcricao,\n  'texto': transcricao,\n\n  // === DADOS DO LEAD (AGORA VINDOS DO SUPABASE!) ===\n  'nome_lead': dadosCall.nome_lead || dadosCall.contact_name || '',\n  'tipo_call': dadosCall.tipo || 'diagnostico',\n  'nome_empresa': dadosCall.nome_empresa || '',\n\n  // === CONTEXTO DE NEGÓCIO ===\n  'icp_segmento': '',\n  'tickets': '[]',\n  'red_flags_criticos': '',\n  'objecoes': '[]',\n\n  // === IDs ===\n  'location_id': dadosCall.location_id || '',\n  'contact_id': dadosCall.contact_id || '',\n\n  // === METADATA ===\n  'data_atual': new Date().toLocaleDateString('pt-BR'),\n  'hora_atual': new Date().toLocaleTimeString('pt-BR'),\n  'timestamp': new Date().toISOString()\n};\n\n// Resolver variáveis no prompt\nlet promptFinal = promptContent;\n\nif (!promptContent) {\n  console.error('ERRO: Prompt vazio!');\n  promptFinal = 'ERRO: Prompt não encontrado no banco de dados.';\n} else {\n  for (const [key, value] of Object.entries(variaveis)) {\n    const regex = new RegExp(`\\\\{\\\\{\\\\s*${key}\\\\s*\\\\}\\\\}`, 'gi');\n    const valorStr = value === null || value === undefined ? '' : String(value);\n    promptFinal = promptFinal.replace(regex, valorStr);\n  }\n}\n\n// Verificar placeholders não resolvidos\nconst placeholdersRestantes = promptFinal.match(/\\{\\{[^}]+\\}\\}/g) || [];\n\nreturn [{\n  json: {\n    // PROMPT FINAL\n    prompt_final: promptFinal,\n\n    // TRANSCRIÇÃO PARA O AI AGENT\n    transcricao_processada: transcricao,\n\n    // DADOS DO LEAD (PARA PASSAR ADIANTE!)\n    location_id: dadosCall.location_id || '',\n    location_api_key: dadosCall.location_api_key || dadosCall.api_key || '',\n    contact_id: dadosCall.contact_id || '',\n    call_recording_id: dadosCall.id || '',\n    tipo_call: dadosCall.tipo || 'diagnostico',\n    gdrive_url: dadosCall.gdrive_url || '',\n    association_id: dadosCall.association_id || '',\n    nome_lead: dadosCall.nome_lead || dadosCall.contact_name || '',\n\n    // Metadados\n    prompt_metadata: {\n      prompt_key: promptKey,\n      version: version,\n      original_length: promptContent.length,\n      final_length: promptFinal.length\n    },\n    model_config: promptRow.model_config || {},\n\n    // Debug\n    variaveis_resolvidas: Object.fromEntries(\n      Object.entries(variaveis).filter(([k, v]) => v !== '' && v !== '[]')\n    ),\n    placeholders_nao_resolvidos: placeholdersRestantes,\n    success: promptContent.length > 0 && placeholdersRestantes.length === 0,\n    resolved_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "640e239a-83f3-4e7d-8f86-a94914ac2a94",
      "name": "2.1 Resolver Variáveis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        368
      ],
      "notesInFlow": true,
      "notes": "Substitui {{placeholders}} por valores reais.\nAdicione mais variáveis conforme necessário."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  pr.prompt_key,\n  pr.prompt_name,\n  pv.version,\n  pv.prompt_content,\n  pv.model_config,\n  pv.performance_score,\n  pr.variables_used\nFROM prompt_registry pr\nJOIN prompt_versions pv ON pv.prompt_id = pr.id AND pv.is_current = true\nWHERE pr.prompt_key = 'head-vendas-bposs'\n  AND pr.status = 'active'",
        "options": {}
      },
      "id": "48bb476a-877b-4cee-ad81-b6b394c6e024",
      "name": "2.0 Buscar Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1648,
        368
      ],
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      },
      "notes": "Busca prompt do Supabase via Postgres.\nAltere 'head-vendas-bposs' para a chave desejada."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Opus 4"
        },
        "options": {
          "maxTokensToSample": 16000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2400,
        592
      ],
      "id": "ffb7645f-a862-4713-a6ed-7ccd4c54a18f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "nNkFTZpNoiBCbO1I",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO prompt_executions (\n  prompt_id,\n  prompt_version_id,\n  workflow_key,\n  success,\n  execution_time_ms\n) \nSELECT \n  pr.id,\n  pv.id,\n  '{{ $workflow.name }}',\n  true,\n  5000\nFROM prompt_registry pr\nJOIN prompt_versions pv ON pv.prompt_id = pr.id AND pv.is_current = true\nWHERE pr.prompt_key = '{{ $('2.1 Resolver Variáveis').item.json.prompt_metadata.prompt_key }}'\nON CONFLICT DO NOTHING\nRETURNING id",
        "options": {}
      },
      "id": "f7024816-a04d-4447-8e8d-84ee2303f079",
      "name": "2.2 Registrar Uso",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2672,
        368
      ],
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      },
      "notes": "Opcional - registra analytics.\nColoque APÓS o AI Agent."
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Buscar Call no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Call no Supabase": {
      "main": [
        [
          {
            "node": "Call Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Existe?": {
      "main": [
        [
          {
            "node": "Export Google Doc como Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - Call nao encontrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Google Doc como Texto": {
      "main": [
        [
          {
            "node": "2.0 Buscar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Processador Transcricao": {
      "main": [
        [
          {
            "node": "AI Agent - Head de Vendas V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Head de Vendas V2": {
      "main": [
        [
          {
            "node": "2.2 Registrar Uso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Processar Analise V2": {
      "main": [
        [
          {
            "node": "Listar Custom Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar em Custom Object",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Payload RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Custom Fields": {
      "main": [
        [
          {
            "node": "Code - Encontrar IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Encontrar IDs": {
      "main": [
        [
          {
            "node": "Atualizar Campos GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Campos GHL": {
      "main": [
        [
          {
            "node": "Preparar Dados para Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados para Supabase": {
      "main": [
        [
          {
            "node": "Atualizar Status Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar em Custom Object": {
      "main": [
        [
          {
            "node": "Tem Contact ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Contact ID?": {
      "main": [
        [
          {
            "node": "Associar Call ao Contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Dados para Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associar Call ao Contato": {
      "main": [
        [
          {
            "node": "Preparar Dados para Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.1 Resolver Variáveis": {
      "main": [
        [
          {
            "node": "Pre-Processador Transcricao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.0 Buscar Prompt": {
      "main": [
        [
          {
            "node": "2.1 Resolver Variáveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Head de Vendas V2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "2.2 Registrar Uso": {
      "main": [
        [
          {
            "node": "Code - Processar Analise V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Payload RAG": {
      "main": [
        [
          {
            "node": "Score >= 60?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score >= 60?": {
      "main": [
        [
          {
            "node": "Enviar para RAG",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "WnRF9AdjFBkEW9Ma"
  },
  "versionId": "updated-2026-01-04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "JiTZQcq7Tt2c5Xol",
  "tags": [
    {
      "updatedAt": "2025-12-18T12:58:38.555Z",
      "createdAt": "2025-12-18T12:58:38.555Z",
      "id": "QPdL3PFQliP97uve",
      "name": "ai factory - vertical"
    }
  ]
}
