01-Organizador-Calls.json
{
  "name": "Monitor-Pasta-Calls (Corrigido)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/drive/folders/1WTJrbMl8HLppIHIeHT94Qsbog9XpxOx2",
          "__regex": "https:\\/\\/drive\\.google\\.com(?:\\/.*|)\\/folders\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        1136,
        416
      ],
      "id": "8e196343-547b-41ec-a94a-e0805b35d1a4",
      "name": "Google Drive - Novo Arquivo em /7. Calls/",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      },
      "notes": "Monitora a pasta raiz /7. Calls/ a cada 5 minutos. Configure o polling para 5 minutos no n8n."
    },
    {
      "parameters": {
        "content": "## Monitor-Pasta-Calls (Orquestrador)\n\n**Funcao**: Monitora a pasta `/7. Calls/` no Google Drive, detecta novos arquivos, move para a subpasta correta baseado no prefixo do nome.\n\n**IMPORTANTE**: Os workflows das subpastas (AI Agent - Head de Vendas, Call Analyzer Onboarding, etc.) sao disparados automaticamente pelo proprio Google Drive Trigger deles quando o arquivo entra na subpasta.\n\n### Prefixos Suportados:\n- `Diagnostico` ou `DIAG_` -> `/1. Vendas/`\n- `Kickoff` ou `KICK_` -> `/2. Onboarding/`\n- `Acompanhamento` ou `ACOMP_` -> `/3. Revisao/`\n- `Suporte` ou `SUPORTE_` -> `/4. Suporte/`\n- `Alinhamento` ou `ALINH_` -> `/5. Churn/`\n- Sem prefixo -> `/6. Outros/` -> Notifica CS\n\n### Configuracao Necessaria:\n1. Substituir credential IDs do Google Drive\n2. Configurar polling para 5 minutos\n3. Configurar folder ID correto",
        "height": 520,
        "width": 360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        128
      ],
      "id": "6261be83-6052-4d80-84a9-06bd923ef176",
      "name": "Instrucoes"
    },
    {
      "parameters": {
        "content": "## Fluxo Simplificado\n\n```\n1. Arquivo novo em /7. Calls/\n   |\n2. Classifica por prefixo\n   |\n3. Move para subpasta correta\n   |\n4. Registra no Postgres (call_recordings)\n   |\n5. Se nao reconhecido -> Notifica CS\n   |\n6. FIM\n```\n\n**Os workflows das subpastas sao disparados automaticamente!**\n- /1. Vendas/ -> AI Agent - Head de Vendas\n- /2. Onboarding/ -> Call Analyzer Onboarding\n- etc.",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        704
      ],
      "id": "46af5c2c-7254-4e26-9ba8-ba79becef647",
      "name": "Fluxo"
    },
    {
      "parameters": {
        "jsCode": "// IDs das pastas de destino\nconst pastasIds = {\n  '1. Vendas': '1yr256LwbLKJZ5HzHgC7Zq25MrSOKTQEs',\n  '2. Onboarding': '1JS87Zs1bRSiNKjqVPTZ3GkfCvMnUj8PO',\n  '3. Revisao': '1psAln8h2Il5ic6U8Nv8UhRWt6RNbnmyQ',\n  '4. Suporte': '15Q6LzE0Mujxj-Q8lqNjx8rmRjVyUx0Kw',\n  '5. Churn': '1G56zGj8N6mhdS7nZH77mtK15wGDFV8kk',\n  '6. Outros': '1Z0Zdo05XxtBhIe8mwUUkgGsld3PanHKU'\n};\n\nconst config = {\n  prefixos: {\n    'DIAGNOSTICO': { pasta: '1. Vendas', tipo: 'diagnostico' },\n    'DIAG_': { pasta: '1. Vendas', tipo: 'diagnostico' },\n    'KICKOFF': { pasta: '2. Onboarding', tipo: 'kickoff' },\n    'KICK_': { pasta: '2. Onboarding', tipo: 'kickoff' },\n    'ACOMPANHAMENTO': { pasta: '3. Revisao', tipo: 'acompanhamento' },\n    'ACOMP_': { pasta: '3. Revisao', tipo: 'acompanhamento' },\n    'REVISAO': { pasta: '3. Revisao', tipo: 'revisao' },\n    'REV_': { pasta: '3. Revisao', tipo: 'revisao' },\n    'ALINHAMENTO': { pasta: '3. Revisao', tipo: 'alinhamento' },\n    'ALINH_': { pasta: '3. Revisao', tipo: 'alinhamento' },\n    'SUPORTE': { pasta: '4. Suporte', tipo: 'suporte' },\n    'SUP_': { pasta: '4. Suporte', tipo: 'suporte' },\n    'CHURN': { pasta: '5. Churn', tipo: 'churn' },\n    'CHURN_': { pasta: '5. Churn', tipo: 'churn' }\n  },\n  fallback: { pasta: '6. Outros', tipo: 'outro' },\n  notificacaoContactId: 'Ql1qBRN8GTemuG0BlM0F'\n};\n\nconst arquivo = $input.first().json;\nconst nomeArquivo = arquivo.name || '';\n\n// Remover emojis do nome para processamento\nconst nomeClean = nomeArquivo.replace(/[\\u{1F300}-\\u{1F9FF}\\u{2600}-\\u{26FF}\\u{2700}-\\u{27BF}]/gu, '').trim();\nconst nomeUpper = nomeClean.toUpperCase();\n\n// Identificar prefixo\nlet prefixoEncontrado = null;\nlet configDestino = config.fallback;\n\nfor (const [prefixo, cfg] of Object.entries(config.prefixos)) {\n  if (nomeUpper.startsWith(prefixo) || nomeUpper.includes(' ' + prefixo + ' ') || nomeUpper.includes(prefixo + ' ')) {\n    prefixoEncontrado = prefixo.replace('_', '');\n    configDestino = cfg;\n    break;\n  }\n}\n\n// Extrair partes do nome: TIPO - Nome - Telefone - LocationID\n// ou: NUMERO - TIPO - Nome - Telefone - LocationID (se ja foi renomeado)\nlet partes = nomeClean.split(' - ').map(p => p.trim());\n\n// Detectar se o primeiro elemento e apenas um numero sequencial (ex: '23', '1', '100')\n// Se for, remove para normalizar o array\nif (partes.length >= 1 && /^\\d+$/.test(partes[0])) {\n  partes = partes.slice(1); // Remove o numero sequencial\n}\n\nlet nome = '';\nlet telefone = '';\nlet telefoneFormatado = '';\nlet locationId = '';\n\nif (partes.length >= 2) nome = (partes[1] || '').trim();\nif (partes.length >= 3) {\n  telefone = partes[2] ? partes[2].replace(/[^0-9]/g, '').trim() : '';\n  // Formatar telefone para busca no GHL\n  if (telefone.length >= 10) {\n    // Detectar se é ID de grupo GHL (começa com 120363... e tem mais de 13 dígitos)\n    // ou se é um telefone brasileiro normal\n    const isGHLGroupId = telefone.startsWith('120363') || telefone.length > 13;\n    \n    if (isGHLGroupId) {\n      // IDs de grupo do GHL: apenas adicionar +\n      telefoneFormatado = '+' + telefone;\n    } else {\n      // Telefones brasileiros: adicionar +55\n      // Remove o 0 do DDD se existir (ex: 011 -> 11)\n      const telefoneLimpo = telefone.startsWith('0') ? telefone.substring(1) : telefone;\n      telefoneFormatado = '+55' + telefoneLimpo;\n    }\n  }\n}\nif (partes.length >= 4) locationId = (partes[3] || '').trim();\n\n// Nome limpo (sem emoji, para usar no rename)\nconst nomeLimpo = nomeClean;\n\nconst temNome = nome.length > 0;\nconst temTelefone = telefone.length >= 10;\nconst dadosCompletos = temNome && temTelefone;\n\n// Notificacao necessaria se tem prefixo mas dados incompletos\nconst notificacaoNecessaria = prefixoEncontrado !== null && !dadosCompletos;\n\nconst resultado = {\n  arquivo: {\n    id: arquivo.id,\n    nome: nomeArquivo,\n    nomeLimpo: nomeLimpo,\n    mimeType: arquivo.mimeType,\n    createdTime: arquivo.createdTime,\n    webViewLink: arquivo.webViewLink\n  },\n  classificacao: {\n    prefixo: prefixoEncontrado,\n    tipo: configDestino.tipo,\n    pastaDestino: configDestino.pasta,\n    pastaDestinoId: pastasIds[configDestino.pasta],\n    reconhecido: prefixoEncontrado !== null\n  },\n  dadosExtraidos: {\n    nome: nome,\n    telefone: telefone,\n    telefoneFormatado: telefoneFormatado,\n    locationId: locationId || 'cd1uyzpJox6XPt4Vct8Y',\n    temNome: temNome,\n    temTelefone: temTelefone,\n    dadosCompletos: dadosCompletos\n  },\n  notificacao: {\n    necessaria: notificacaoNecessaria,\n    contactId: config.notificacaoContactId,\n    mensagem: notificacaoNecessaria\n      ? `Arquivo com dados incompletos: ${nomeArquivo}. Falta: ${!temNome ? 'Nome' : ''} ${!temTelefone ? 'Telefone' : ''}. Movido para /${configDestino.pasta}/`\n      : null\n  }\n};\n\nreturn [{ json: resultado }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        256
      ],
      "id": "265dba82-88b5-4e7e-84ad-af556cd4e8b6",
      "name": "Classificar Arquivo por Prefixo"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Classificar Arquivo por Prefixo').item.json.arquivo.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $json.numero }} - {{ $('Classificar Arquivo por Prefixo').item.json.arquivo.nomeLimpo }} - {{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd_HH-mm') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2416,
        256
      ],
      "id": "289af7da-95fc-418b-8354-4fdbe869744e",
      "name": "Renomear Arquivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Classificar Arquivo por Prefixo').item.json.arquivo.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Classificar Arquivo por Prefixo').item.json.classificacao.pastaDestinoId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2656,
        256
      ],
      "id": "7a4e256a-9f8e-4664-a18e-6c3770d3426a",
      "name": "Mover para Subpasta",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pegar dados do contato GHL (se API funcionou) ou fallback para dados extraídos do arquivo\nconst contatoGHL = $('Buscar Contato GHL').first()?.json?.contacts?.[0];\nconst dadosArquivo = $('Classificar Arquivo por Prefixo').item.json.dadosExtraidos;\nconst arquivoInfo = $('Renomear Arquivo').item.json;\nconst classificacao = $('Classificar Arquivo por Prefixo').item.json.classificacao;\n\n// Priorizar dados do GHL, mas usar fallback do arquivo se GHL falhar\nconst contactName = contatoGHL?.fullNameLowerCase || contatoGHL?.name || dadosArquivo.nome || null;\nconst contactPhone = contatoGHL?.phone || dadosArquivo.telefoneFormatado || dadosArquivo.telefone || null;\nconst contactId = contatoGHL?.id || null;\nconst locationId = dadosArquivo.locationId || 'cd1uyzpJox6XPt4Vct8Y';\nconst apiKey = 'pit-fe627027-b9cb-4ea3-aaa4-149459e66a03';\n\nreturn [{\n  json: {\n    tipo: classificacao.tipo,\n    titulo: arquivoInfo.name,\n    gdrive_file_id: $('Classificar Arquivo por Prefixo').item.json.arquivo.id,\n    gdrive_url: 'https://drive.google.com/file/d/' + $('Classificar Arquivo por Prefixo').item.json.arquivo.id + '/view',\n    contact_id: contactId,\n    location_id: locationId,\n    contact_name: contactName,\n    contact_phone: contactPhone,\n    api_key: apiKey,\n    status: 'movido'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        360
      ],
      "id": "prep-dados-call-123",
      "name": "Preparar Dados Call"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO call_recordings (\n  tipo,\n  titulo,\n  gdrive_file_id,\n  gdrive_url,\n  contact_id,\n  location_id,\n  contact_name,\n  contact_phone,\n  api_key,\n  nome_lead,\n  telefone,\n  status\n) VALUES (\n  '{{ $json.tipo }}',\n  '{{ $json.titulo }}',\n  '{{ $json.gdrive_file_id }}',\n  '{{ $json.gdrive_url }}',\n  '{{ $json.contact_id || '' }}',\n  '{{ $json.location_id }}',\n  '{{ $json.contact_name || '' }}',\n  '{{ $json.contact_phone || '' }}',\n  '{{ $json.api_key }}',\n  '{{ $json.contact_name || '' }}',\n  '{{ $json.contact_phone || '' }}',\n  '{{ $json.status }}'\n) RETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2896,
        256
      ],
      "id": "0fc938c6-f768-4b1e-8ed0-d565923f27a3",
      "name": "Registrar Call no Supabase",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-notificacao",
              "leftValue": "={{ $('Classificar Arquivo por Prefixo').item.json.notificacao.necessaria }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3136,
        256
      ],
      "id": "ddf324c0-204f-48a4-8149-82f36c7a0d83",
      "name": "Dados Incompletos?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-fe627027-b9cb-4ea3-aaa4-149459e66a03"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"WhatsApp\",\n  \"contactId\": \"{{ $('Classificar Arquivo por Prefixo').item.json.notificacao.contactId }}\",\n  \"message\": \"{{ $('Classificar Arquivo por Prefixo').item.json.notificacao.mensagem }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3376,
        352
      ],
      "id": "fcc8a946-4adb-4d16-94c4-f0a4194616a3",
      "name": "Notificar CS via WhatsApp"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3376,
        144
      ],
      "id": "fc45fc26-6e00-47d1-ab90-db55e29fa600",
      "name": "Fim OK"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/search",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "locationId",
              "value": "={{ $json.dadosExtraidos.locationId }}"
            },
            {
              "name": "pageLimit",
              "value": "={{ 20 }}"
            },
            {
              "name": "query",
              "value": "={{ $json.dadosExtraidos.telefoneFormatado || $json.dadosExtraidos.telefone }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer pit-fe627027-b9cb-4ea3-aaa4-149459e66a03"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        }
      },
      "name": "Buscar Contato GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1952,
        288
      ],
      "id": "e22a780f-edc5-48ea-8d40-e5ae0541fc66",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "notes": "Busca contato por TELEFONE se não encontrou por email"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE call_counters SET ultimo_numero = ultimo_numero + 1, updated_at = NOW() WHERE tipo = '{{ $('Classificar Arquivo por Prefixo').item.json.classificacao.tipo }}' RETURNING ultimo_numero as numero",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2176,
        256
      ],
      "id": "a0d0aeb2-7240-449d-b100-ccf6f49a9747",
      "name": "Buscar Próximo Número",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    }
  ],
  "pinData": {
    "Google Drive - Novo Arquivo em /7. Calls/": [
      {
        "json": {
          "exportLinks": {
            "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1iRhqcsaAjNhU0SkTtsrr6Sls8MDgHg7jTVBtGDqLNZs&exportFormat=rtf",
            "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1iRhqcsaAjNhU0SkTtsrr6Sls8MDgHg7jTVBtGDqLNZs&exportFormat=odt",
            "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1iRhqcsaAjNhU0SkTtsrr6Sls8MDgHg7jTVBtGDqLNZs&exportFormat=html",
            "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1iRhqcsaAjNhU0SkTtsrr6Sls8MDgHg7jTVBtGDqLNZs&exportFormat=pdf",
            "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1iRhqcsaAjNhU0SkTtsrr6Sls8MDgHg7jTVBtGDqLNZs&exportFormat=markdown",
            "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1iRhqcsaAjNhU0SkTtsrr6Sls8MDgHg7jTVBtGDqLNZs&exportFormat=markdown",
            "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1iRhqcsaAjNhU0SkTtsrr6Sls8MDgHg7jTVBtGDqLNZs&exportFormat=epub",
            "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1iRhqcsaAjNhU0SkTtsrr6Sls8MDgHg7jTVBtGDqLNZs&exportFormat=zip",
            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1iRhqcsaAjNhU0SkTtsrr6Sls8MDgHg7jTVBtGDqLNZs&exportFormat=docx",
            "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1iRhqcsaAjNhU0SkTtsrr6Sls8MDgHg7jTVBtGDqLNZs&exportFormat=txt"
          },
          "parents": [
            "1WTJrbMl8HLppIHIeHT94Qsbog9XpxOx2"
          ],
          "lastModifyingUser": {
            "displayName": "Marcos Daniel",
            "kind": "drive#user",
            "me": true,
            "permissionId": "17593624161997979916",
            "emailAddress": "ceo@marcosdaniels.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIxThQOKn67oYJ_d9CnClrZihFO_WHmcBS38rmK-BOgakQn-Cek4A=s64"
          },
          "owners": [
            {
              "displayName": "Marcos Daniel",
              "kind": "drive#user",
              "me": true,
              "permissionId": "17593624161997979916",
              "emailAddress": "ceo@marcosdaniels.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIxThQOKn67oYJ_d9CnClrZihFO_WHmcBS38rmK-BOgakQn-Cek4A=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "04781390080190356985",
              "type": "user",
              "emailAddress": "hallennaiane@gmail.com",
              "role": "writer",
              "displayName": "hallennaiane",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUJy1Jg57ERAE0s3uZv_8WfKrvWh1P_eNTu6SQEH0wcyaXzegY=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "17593624161997979916",
              "type": "user",
              "emailAddress": "ceo@marcosdaniels.com",
              "role": "owner",
              "displayName": "Marcos Daniel",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIxThQOKn67oYJ_d9CnClrZihFO_WHmcBS38rmK-BOgakQn-Cek4A=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "04781390080190356985",
            "17593624161997979916"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1iRhqcsaAjNhU0SkTtsrr6Sls8MDgHg7jTVBtGDqLNZs",
          "name": "⏳ Alinhamento - Gabriela Rossmam - (66) 99621-7962 - cd1uyzpJox6XPt4Vct8Y",
          "mimeType": "application/vnd.google-apps.document",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "4",
          "webViewLink": "https://docs.google.com/document/d/1iRhqcsaAjNhU0SkTtsrr6Sls8MDgHg7jTVBtGDqLNZs/edit?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBPPNAiG1PmzNMVQL3v2xgtTS9wY-JVB3MW4L0XlKq4R1olIWWpTYx6jgBczhxDC2gDKHCF1Cvp7g5yloAYS7tRbpvhZFyTw_JZuiGYdikIhJ0ug9QKyihRo3MYe5g=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2025-12-17T14:09:10.869Z",
          "createdTime": "2025-12-17T14:09:08.324Z",
          "modifiedTime": "2025-12-17T14:09:08.325Z",
          "modifiedByMeTime": "2025-12-17T14:09:08.325Z",
          "modifiedByMe": true,
          "shared": true,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "size": "33642",
          "quotaBytesUsed": "33642",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Drive - Novo Arquivo em /7. Calls/": {
      "main": [
        [
          {
            "node": "Classificar Arquivo por Prefixo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Arquivo por Prefixo": {
      "main": [
        [
          {
            "node": "Buscar Contato GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renomear Arquivo": {
      "main": [
        [
          {
            "node": "Mover para Subpasta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mover para Subpasta": {
      "main": [
        [
          {
            "node": "Preparar Dados Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados Call": {
      "main": [
        [
          {
            "node": "Registrar Call no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Call no Supabase": {
      "main": [
        [
          {
            "node": "Dados Incompletos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Incompletos?": {
      "main": [
        [
          {
            "node": "Notificar CS via WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fim OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contato GHL": {
      "main": [
        [
          {
            "node": "Buscar Próximo Número",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Próximo Número": {
      "main": [
        [
          {
            "node": "Renomear Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6df420e9-19a3-42db-aa7d-2120de9ccd79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "Gzkzaav9Yyx8kmpU",
  "tags": []
}