12-Multi-Tenant-Inbox-Classifier.json
{
  "name": "14 - Multi-Tenant Inbox Classifier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbox-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-inbox",
      "name": "Webhook: Nova Mensagem Inbox",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "multi-tenant-inbox"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tenant_id FROM tenants WHERE slug = '{{ $json.body.tenant_slug }}' AND status = 'active'",
        "options": {}
      },
      "id": "get-tenant",
      "name": "1. Buscar Tenant",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tenant-exists",
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-tenant-valid",
      "name": "Tenant Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Tenant não encontrado ou inativo\", \"tenant_slug\": $('Webhook: Nova Mensagem Inbox').item.json.body.tenant_slug } }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "response-tenant-invalid",
      "name": "Resposta: Tenant Inválido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM is_known_contact(\n  '{{ $('1. Buscar Tenant').item.json.tenant_id }}'::uuid,\n  '{{ $json.body.platform || 'instagram' }}',\n  '{{ $json.body.username }}'\n)",
        "options": {}
      },
      "id": "check-whitelist",
      "name": "2. Checar Whitelist",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-known",
              "leftValue": "={{ $json.is_known }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "skip-ai",
              "leftValue": "={{ $json.skip_ai_analysis }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-known-contact",
      "name": "É Conhecido + Bypass?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO classified_leads (\n  tenant_id,\n  persona_version,\n  platform,\n  username,\n  message_text,\n  profile_data,\n  ai_analysis,\n  classification,\n  icp_score,\n  confidence,\n  score_breakdown\n) VALUES (\n  '{{ $('1. Buscar Tenant').item.json.tenant_id }}'::uuid,\n  0,\n  '{{ $('Webhook: Nova Mensagem Inbox').item.json.body.platform || 'instagram' }}',\n  '{{ $('Webhook: Nova Mensagem Inbox').item.json.body.username }}',\n  '{{ $('Webhook: Nova Mensagem Inbox').item.json.body.message }}',\n  '{}'::jsonb,\n  jsonb_build_object('reasoning', 'Contato conhecido: ' || '{{ $json.contact_type }}'),\n  '{{ $json.auto_classify_as }}',\n  0,\n  1.0,\n  '{}'::jsonb\n)\nRETURNING id;",
        "options": {}
      },
      "id": "save-known-contact",
      "name": "Salvar: Contato Conhecido",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 480],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"known_contact\",\n  \"classification\": $json.auto_classify_as,\n  \"contact_type\": $json.contact_type,\n  \"lead_id\": $('Salvar: Contato Conhecido').item.json.id,\n  \"message\": \"Contato conhecido, bypass de IA aplicado\"\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-known",
      "name": "Resposta: Conhecido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_active_persona('{{ $('1. Buscar Tenant').item.json.tenant_id }}'::uuid)",
        "options": {}
      },
      "id": "get-persona",
      "name": "3. Buscar Persona Ativa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/scrape-instagram-profile",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $('Webhook: Nova Mensagem Inbox').item.json.body.username }}"
            }
          ]
        },
        "options": {}
      },
      "id": "scrape-profile",
      "name": "4. Scrape Perfil Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "// Dados de entrada\nconst webhook = $('Webhook: Nova Mensagem Inbox').item.json.body;\nconst persona = $('3. Buscar Persona Ativa').item.json;\nconst profile = $json;\n\n// Construir prompt personalizado para o tenant\nconst prompt = `\nVocê é um assistente de classificação de leads para: ${persona.business_type}\n\n**PERFIL ANALISADO:**\n- Username: ${webhook.username}\n- Bio: ${profile.bio || 'N/A'}\n- Seguidores: ${profile.followers || 0}\n- Posts: ${profile.posts_count || 0}\n- Mensagem: \"${webhook.message}\"\n\n**ICP DO CLIENTE (Persona V${persona.version}):**\n- Público-alvo: ${persona.target_audience}\n- Produto/Serviço: ${persona.product_service}\n- Nichos ideais: ${(persona.ideal_niches || []).join(', ')}\n- Keywords positivas: ${(persona.positive_keywords || []).join(', ')}\n- Keywords negativas: ${(persona.negative_keywords || []).join(', ')}\n- Faixa de seguidores: ${persona.min_followers} - ${persona.max_followers}\n- Tom de marca: ${persona.brand_voice}\n- Estilo de mensagem: ${persona.message_style}\n\n**TAREFA:**\nClassifique este lead em uma das categorias:\n- LEAD_HOT (80-100): Match perfeito com ICP\n- LEAD_WARM (50-79): Bom potencial, precisa nurturing\n- LEAD_COLD (20-49): Baixo match com ICP\n- PESSOAL (0-19): Conhecido/amigo/não-business\n- SPAM (0-19): Spam/bot/irrelevante\n\n**SCORE BREAKDOWN (0-100):**\n1. Nicho (30 pontos): Match com nichos ideais?\n2. Followers (20 pontos): Dentro da faixa ideal?\n3. Keywords Bio (20 pontos): Tem keywords positivas? Evita negativas?\n4. Engajamento (15 pontos): Mensagem demonstra interesse real?\n5. Intenção (15 pontos): Tem fit com produto/serviço?\n\nResponda em JSON:\n{\n  \"classification\": \"LEAD_HOT|LEAD_WARM|LEAD_COLD|PESSOAL|SPAM\",\n  \"icp_score\": 0-100,\n  \"confidence\": 0.0-1.0,\n  \"reasoning\": \"Explicação em 2-3 frases\",\n  \"score_breakdown\": {\n    \"nicho\": 0-30,\n    \"followers\": 0-20,\n    \"keywords_bio\": 0-20,\n    \"engajamento\": 0-15,\n    \"intencao\": 0-15\n  },\n  \"detected_signals\": [\"lista de sinais positivos/negativos\"],\n  \"suggested_response\": \"Sugestão de resposta personalizada (se LEAD_HOT/WARM)\"\n}\n`;\n\nreturn {\n  prompt,\n  persona_id: persona.id,\n  persona_version: persona.version,\n  tenant_id: persona.tenant_id,\n  profile_data: profile,\n  username: webhook.username,\n  message: webhook.message,\n  platform: webhook.platform || 'instagram'\n};"
      },
      "id": "prepare-ai-prompt",
      "name": "5. Preparar Prompt IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash-exp",
        "text": "={{ $json.prompt }}",
        "options": {
          "temperature": 0.3,
          "maxOutputTokens": 2048
        }
      },
      "id": "classify-with-ai",
      "name": "6. Classificar com Gemini",
      "type": "n8n-nodes-base.google-gemini",
      "typeVersion": 1,
      "position": [2000, 300],
      "credentials": {
        "googleGeminiApi": {
          "id": "gemini-api",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse da resposta JSON do Gemini\nconst aiResponse = $json.response;\nconst inputData = $('5. Preparar Prompt IA').item.json;\n\nlet classification;\ntry {\n  // Tentar extrair JSON da resposta\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    classification = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('Resposta não contém JSON válido');\n  }\n} catch (error) {\n  // Fallback se IA não retornar JSON válido\n  classification = {\n    classification: 'LEAD_COLD',\n    icp_score: 30,\n    confidence: 0.5,\n    reasoning: 'Classificação manual - erro no parsing da IA',\n    score_breakdown: {\n      nicho: 10,\n      followers: 5,\n      keywords_bio: 5,\n      engajamento: 5,\n      intencao: 5\n    },\n    detected_signals: ['erro_parsing_ia'],\n    suggested_response: null\n  };\n}\n\nreturn {\n  ...inputData,\n  ai_classification: classification.classification,\n  icp_score: classification.icp_score,\n  confidence: classification.confidence,\n  ai_analysis: {\n    reasoning: classification.reasoning,\n    score_breakdown: classification.score_breakdown,\n    detected_signals: classification.detected_signals || [],\n    suggested_response: classification.suggested_response\n  }\n};"
      },
      "id": "parse-ai-response",
      "name": "7. Parse Resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO classified_leads (\n  tenant_id,\n  persona_version,\n  platform,\n  username,\n  message_text,\n  profile_data,\n  ai_analysis,\n  classification,\n  icp_score,\n  confidence,\n  score_breakdown\n) VALUES (\n  '{{ $json.tenant_id }}'::uuid,\n  {{ $json.persona_version }},\n  '{{ $json.platform }}',\n  '{{ $json.username }}',\n  '{{ $json.message.replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.profile_data).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json.ai_analysis).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.ai_classification }}',\n  {{ $json.icp_score }},\n  {{ $json.confidence }},\n  '{{ JSON.stringify($json.ai_analysis.score_breakdown).replace(/'/g, \"''\") }}'::jsonb\n)\nRETURNING id, classification, icp_score;",
        "options": {}
      },
      "id": "save-classified-lead",
      "name": "8. Salvar Lead Classificado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2440, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-hot",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "LEAD_HOT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-lead-hot",
      "name": "É LEAD_HOT?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-warm",
              "leftValue": "={{ $('8. Salvar Lead Classificado').item.json.classification }}",
              "rightValue": "LEAD_WARM",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-lead-warm",
      "name": "É LEAD_WARM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2660, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ghl-send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contact_username",
              "value": "={{ $('7. Parse Resposta IA').item.json.username }}"
            },
            {
              "name": "message",
              "value": "={{ $('7. Parse Resposta IA').item.json.ai_analysis.suggested_response }}"
            },
            {
              "name": "platform",
              "value": "={{ $('7. Parse Resposta IA').item.json.platform }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('8. Salvar Lead Classificado').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "auto-respond-hot",
      "name": "Auto-Responder HOT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ghl-create-opportunity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contact_username",
              "value": "={{ $('7. Parse Resposta IA').item.json.username }}"
            },
            {
              "name": "icp_score",
              "value": "={{ $('8. Salvar Lead Classificado').item.json.icp_score }}"
            },
            {
              "name": "classification",
              "value": "LEAD_HOT"
            },
            {
              "name": "lead_id",
              "value": "={{ $('8. Salvar Lead Classificado').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-opportunity-hot",
      "name": "Criar Oportunidade CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ghl-send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contact_username",
              "value": "={{ $('7. Parse Resposta IA').item.json.username }}"
            },
            {
              "name": "message",
              "value": "={{ $('7. Parse Resposta IA').item.json.ai_analysis.suggested_response }}"
            },
            {
              "name": "platform",
              "value": "={{ $('7. Parse Resposta IA').item.json.platform }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('8. Salvar Lead Classificado').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "auto-respond-warm",
      "name": "Auto-Responder WARM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ghl-add-to-nurturing",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contact_username",
              "value": "={{ $('7. Parse Resposta IA').item.json.username }}"
            },
            {
              "name": "nurturing_type",
              "value": "warm_lead"
            },
            {
              "name": "lead_id",
              "value": "={{ $('8. Salvar Lead Classificado').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "add-nurturing-warm",
      "name": "Adicionar Nurturing WARM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"success\",\n  \"lead_id\": $('8. Salvar Lead Classificado').item.json.id,\n  \"classification\": $('8. Salvar Lead Classificado').item.json.classification,\n  \"icp_score\": $('8. Salvar Lead Classificado').item.json.icp_score,\n  \"ai_analysis\": $('7. Parse Resposta IA').item.json.ai_analysis,\n  \"actions_taken\": [\n    \"lead_saved\",\n    $('8. Salvar Lead Classificado').item.json.classification === 'LEAD_HOT' ? 'auto_responded' : null,\n    $('8. Salvar Lead Classificado').item.json.classification === 'LEAD_HOT' ? 'opportunity_created' : null,\n    $('8. Salvar Lead Classificado').item.json.classification === 'LEAD_WARM' ? 'auto_responded' : null,\n    $('8. Salvar Lead Classificado').item.json.classification === 'LEAD_WARM' ? 'nurturing_added' : null\n  ].filter(a => a !== null)\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-success",
      "name": "Resposta: Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/slack-notification",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "#leads-hot"
            },
            {
              "name": "message",
              "value": "🔥 *LEAD HOT DETECTADO!*\n\n👤 Username: {{ $('7. Parse Resposta IA').item.json.username }}\n📊 Score ICP: {{ $('8. Salvar Lead Classificado').item.json.icp_score }}/100\n💬 Mensagem: \"{{ $('7. Parse Resposta IA').item.json.message }}\"\n\n🤖 Análise IA:\n{{ $('7. Parse Resposta IA').item.json.ai_analysis.reasoning }}\n\n✅ Ações tomadas:\n- Auto-resposta enviada\n- Oportunidade criada no CRM\n\n🔗 Ver lead: [Dashboard](#)"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-slack-hot",
      "name": "Notificar Slack (HOT)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 100]
    }
  ],
  "connections": {
    "Webhook: Nova Mensagem Inbox": {
      "main": [
        [
          {
            "node": "1. Buscar Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Buscar Tenant": {
      "main": [
        [
          {
            "node": "Tenant Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tenant Válido?": {
      "main": [
        [
          {
            "node": "2. Checar Whitelist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta: Tenant Inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Checar Whitelist": {
      "main": [
        [
          {
            "node": "É Conhecido + Bypass?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Conhecido + Bypass?": {
      "main": [
        [
          {
            "node": "Salvar: Contato Conhecido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3. Buscar Persona Ativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar: Contato Conhecido": {
      "main": [
        [
          {
            "node": "Resposta: Conhecido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Buscar Persona Ativa": {
      "main": [
        [
          {
            "node": "4. Scrape Perfil Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Scrape Perfil Instagram": {
      "main": [
        [
          {
            "node": "5. Preparar Prompt IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Preparar Prompt IA": {
      "main": [
        [
          {
            "node": "6. Classificar com Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Classificar com Gemini": {
      "main": [
        [
          {
            "node": "7. Parse Resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Parse Resposta IA": {
      "main": [
        [
          {
            "node": "8. Salvar Lead Classificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Salvar Lead Classificado": {
      "main": [
        [
          {
            "node": "É LEAD_HOT?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É LEAD_HOT?": {
      "main": [
        [
          {
            "node": "Auto-Responder HOT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar Slack (HOT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É LEAD_WARM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É LEAD_WARM?": {
      "main": [
        [
          {
            "node": "Auto-Responder WARM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta: Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Responder HOT": {
      "main": [
        [
          {
            "node": "Criar Oportunidade CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade CRM": {
      "main": [
        [
          {
            "node": "Resposta: Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Responder WARM": {
      "main": [
        [
          {
            "node": "Adicionar Nurturing WARM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar Nurturing WARM": {
      "main": [
        [
          {
            "node": "Resposta: Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Slack (HOT)": {
      "main": [
        [
          {
            "node": "Criar Oportunidade CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-31T00:00:00.000Z",
  "versionId": "1"
}
