apps/api/n8n-workflows-bpo-financeiro/tools/contratos/11-TOOL-Atualizar-Dados-Cliente.json
{"updatedAt":"2025-12-11T04:01:04.000Z","createdAt":"2025-11-30T23:24:21.746Z","id":"mtNbOiMxMZvVH0RB","name":"[TOOL] Atualizar Dados Cliente","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"cliente_id"},{"name":"nome"},{"name":"documento"},{"name":"razao_social"},{"name":"nacionalidade"},{"name":"profissao"},{"name":"estado_civil"},{"name":"data_nascimento"},{"name":"telefone"},{"name":"email"},{"name":"endereco"},{"name":"cep"},{"name":"cidade"},{"name":"estado"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1152,272],"id":"7fb53dd7-7963-431e-90cc-713e86346862","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Preparar campos para atualização\nconst input = $json;\n\nif (!input.cliente_id) {\n  return {\n    json: {\n      sucesso: false,\n      erro: 'cliente_id é obrigatório para atualização'\n    }\n  };\n}\n\n// Construir lista de campos para atualizar\nconst camposAtualizar = [];\nconst valores = [];\n\nif (input.nome) {\n  camposAtualizar.push(`nome = '${input.nome.replace(/'/g, \"''\")}'`);\n}\nif (input.documento) {\n  camposAtualizar.push(`documento = '${input.documento.replace(/[^0-9]/g, '')}'`);\n  // Determinar tipo baseado no documento\n  const docLimpo = input.documento.replace(/[^0-9]/g, '');\n  const tipo = docLimpo.length <= 11 ? 'pf' : 'pj';\n  camposAtualizar.push(`tipo = '${tipo}'`);\n}\nif (input.razao_social) {\n  camposAtualizar.push(`razao_social = '${input.razao_social.replace(/'/g, \"''\")}'`);\n}\nif (input.nacionalidade) {\n  camposAtualizar.push(`nacionalidade = '${input.nacionalidade.replace(/'/g, \"''\")}'`);\n}\nif (input.profissao) {\n  camposAtualizar.push(`profissao = '${input.profissao.replace(/'/g, \"''\")}'`);\n}\nif (input.estado_civil) {\n  camposAtualizar.push(`estado_civil = '${input.estado_civil.replace(/'/g, \"''\")}'`);\n}\nif (input.data_nascimento) {\n  camposAtualizar.push(`data_nascimento = '${input.data_nascimento}'::date`);\n}\nif (input.telefone) {\n  camposAtualizar.push(`telefone = '${input.telefone}'`);\n}\nif (input.email) {\n  camposAtualizar.push(`email = '${input.email.toLowerCase()}'`);\n}\nif (input.endereco) {\n  camposAtualizar.push(`endereco = '${input.endereco.replace(/'/g, \"''\")}'`);\n}\nif (input.cep) {\n  camposAtualizar.push(`cep = '${input.cep.replace(/[^0-9]/g, '')}'`);\n}\nif (input.cidade) {\n  camposAtualizar.push(`cidade = '${input.cidade.replace(/'/g, \"''\")}'`);\n}\nif (input.estado) {\n  camposAtualizar.push(`estado = '${input.estado.toUpperCase().substring(0, 2)}'`);\n}\n\nif (camposAtualizar.length === 0) {\n  return {\n    json: {\n      sucesso: false,\n      erro: 'Nenhum campo para atualizar foi fornecido'\n    }\n  };\n}\n\n// Adicionar updated_at\ncamposAtualizar.push('updated_at = NOW()');\n\nreturn {\n  json: {\n    sucesso: true,\n    cliente_id: input.cliente_id,\n    sql_set: camposAtualizar.join(', '),\n    campos_atualizados: camposAtualizar.length - 1 // -1 por causa do updated_at\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,272],"id":"3daa6882-9d71-4e41-ab6c-bd173e97624f","name":"Preparar Update"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-sucesso","leftValue":"={{ $json.sucesso }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-688,272],"id":"0ebba352-1ab2-45df-ba26-5b414284a8b1","name":"Válido?"},{"parameters":{"operation":"executeQuery","query":"=-- Atualizar cliente\nUPDATE fin_clientes_fornecedores\nSET {{ $json.sql_set }}\nWHERE id = '{{ $json.cliente_id }}'::uuid\nRETURNING id, nome, documento, tipo;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,160],"id":"9b377bc3-3340-466c-8165-e6fbb5aa4731","name":"Atualizar Cliente","credentials":{"postgres":{"id":"WsU3bciJm7aMyAoC","name":"postgress - financeiro - mottivme sales"}}},{"parameters":{"jsCode":"// Formatar resposta de sucesso\nconst resultado = $json;\nconst dadosOrigem = $('Preparar Update').first().json;\n\nreturn {\n  json: {\n    sucesso: true,\n    mensagem: `Dados do cliente atualizados com sucesso! ${dadosOrigem.campos_atualizados} campo(s) atualizado(s).`,\n    cliente: {\n      id: resultado.id,\n      nome: resultado.nome,\n      documento: resultado.documento,\n      tipo: resultado.tipo === 'pf' ? 'Pessoa Física' : 'Pessoa Jurídica'\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,160],"id":"fa41b698-f4d7-45ad-9a46-2f0d99b7e73b","name":"Formatar Sucesso"},{"parameters":{"jsCode":"// Retornar erro\nreturn {\n  json: {\n    sucesso: false,\n    erro: $json.erro\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,368],"id":"4f8a6be7-f35f-4dac-8dbd-0966a62c0794","name":"Retornar Erro"}],"connections":{"Preparar Update":{"main":[[{"node":"Válido?","type":"main","index":0}]]},"Válido?":{"main":[[{"node":"Atualizar Cliente","type":"main","index":0}],[{"node":"Retornar Erro","type":"main","index":0}]]},"Atualizar Cliente":{"main":[[{"node":"Formatar Sucesso","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Preparar Update","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"697d9318-6ad1-44bb-b857-f7338f6ee271","activeVersionId":"697d9318-6ad1-44bb-b857-f7338f6ee271","versionCounter":7,"triggerCount":0,"shared":[{"updatedAt":"2025-11-30T23:24:21.755Z","createdAt":"2025-11-30T23:24:21.755Z","role":"workflow:owner","workflowId":"mtNbOiMxMZvVH0RB","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-10T14:58:30.000Z","createdAt":"2025-12-11T04:01:04.605Z","versionId":"697d9318-6ad1-44bb-b857-f7338f6ee271","workflowId":"mtNbOiMxMZvVH0RB","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"cliente_id"},{"name":"nome"},{"name":"documento"},{"name":"razao_social"},{"name":"nacionalidade"},{"name":"profissao"},{"name":"estado_civil"},{"name":"data_nascimento"},{"name":"telefone"},{"name":"email"},{"name":"endereco"},{"name":"cep"},{"name":"cidade"},{"name":"estado"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1152,272],"id":"7fb53dd7-7963-431e-90cc-713e86346862","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Preparar campos para atualização\nconst input = $json;\n\nif (!input.cliente_id) {\n  return {\n    json: {\n      sucesso: false,\n      erro: 'cliente_id é obrigatório para atualização'\n    }\n  };\n}\n\n// Construir lista de campos para atualizar\nconst camposAtualizar = [];\nconst valores = [];\n\nif (input.nome) {\n  camposAtualizar.push(`nome = '${input.nome.replace(/'/g, \"''\")}'`);\n}\nif (input.documento) {\n  camposAtualizar.push(`documento = '${input.documento.replace(/[^0-9]/g, '')}'`);\n  // Determinar tipo baseado no documento\n  const docLimpo = input.documento.replace(/[^0-9]/g, '');\n  const tipo = docLimpo.length <= 11 ? 'pf' : 'pj';\n  camposAtualizar.push(`tipo = '${tipo}'`);\n}\nif (input.razao_social) {\n  camposAtualizar.push(`razao_social = '${input.razao_social.replace(/'/g, \"''\")}'`);\n}\nif (input.nacionalidade) {\n  camposAtualizar.push(`nacionalidade = '${input.nacionalidade.replace(/'/g, \"''\")}'`);\n}\nif (input.profissao) {\n  camposAtualizar.push(`profissao = '${input.profissao.replace(/'/g, \"''\")}'`);\n}\nif (input.estado_civil) {\n  camposAtualizar.push(`estado_civil = '${input.estado_civil.replace(/'/g, \"''\")}'`);\n}\nif (input.data_nascimento) {\n  camposAtualizar.push(`data_nascimento = '${input.data_nascimento}'::date`);\n}\nif (input.telefone) {\n  camposAtualizar.push(`telefone = '${input.telefone}'`);\n}\nif (input.email) {\n  camposAtualizar.push(`email = '${input.email.toLowerCase()}'`);\n}\nif (input.endereco) {\n  camposAtualizar.push(`endereco = '${input.endereco.replace(/'/g, \"''\")}'`);\n}\nif (input.cep) {\n  camposAtualizar.push(`cep = '${input.cep.replace(/[^0-9]/g, '')}'`);\n}\nif (input.cidade) {\n  camposAtualizar.push(`cidade = '${input.cidade.replace(/'/g, \"''\")}'`);\n}\nif (input.estado) {\n  camposAtualizar.push(`estado = '${input.estado.toUpperCase().substring(0, 2)}'`);\n}\n\nif (camposAtualizar.length === 0) {\n  return {\n    json: {\n      sucesso: false,\n      erro: 'Nenhum campo para atualizar foi fornecido'\n    }\n  };\n}\n\n// Adicionar updated_at\ncamposAtualizar.push('updated_at = NOW()');\n\nreturn {\n  json: {\n    sucesso: true,\n    cliente_id: input.cliente_id,\n    sql_set: camposAtualizar.join(', '),\n    campos_atualizados: camposAtualizar.length - 1 // -1 por causa do updated_at\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,272],"id":"3daa6882-9d71-4e41-ab6c-bd173e97624f","name":"Preparar Update"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-sucesso","leftValue":"={{ $json.sucesso }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-688,272],"id":"0ebba352-1ab2-45df-ba26-5b414284a8b1","name":"Válido?"},{"parameters":{"operation":"executeQuery","query":"=-- Atualizar cliente\nUPDATE fin_clientes_fornecedores\nSET {{ $json.sql_set }}\nWHERE id = '{{ $json.cliente_id }}'::uuid\nRETURNING id, nome, documento, tipo;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,160],"id":"9b377bc3-3340-466c-8165-e6fbb5aa4731","name":"Atualizar Cliente","credentials":{"postgres":{"id":"WsU3bciJm7aMyAoC","name":"postgress - financeiro - mottivme sales"}}},{"parameters":{"jsCode":"// Formatar resposta de sucesso\nconst resultado = $json;\nconst dadosOrigem = $('Preparar Update').first().json;\n\nreturn {\n  json: {\n    sucesso: true,\n    mensagem: `Dados do cliente atualizados com sucesso! ${dadosOrigem.campos_atualizados} campo(s) atualizado(s).`,\n    cliente: {\n      id: resultado.id,\n      nome: resultado.nome,\n      documento: resultado.documento,\n      tipo: resultado.tipo === 'pf' ? 'Pessoa Física' : 'Pessoa Jurídica'\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,160],"id":"fa41b698-f4d7-45ad-9a46-2f0d99b7e73b","name":"Formatar Sucesso"},{"parameters":{"jsCode":"// Retornar erro\nreturn {\n  json: {\n    sucesso: false,\n    erro: $json.erro\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,368],"id":"4f8a6be7-f35f-4dac-8dbd-0966a62c0794","name":"Retornar Erro"}],"connections":{"Preparar Update":{"main":[[{"node":"Válido?","type":"main","index":0}]]},"Válido?":{"main":[[{"node":"Atualizar Cliente","type":"main","index":0}],[{"node":"Retornar Erro","type":"main","index":0}]]},"Atualizar Cliente":{"main":[[{"node":"Formatar Sucesso","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Preparar Update","type":"main","index":0}]]}},"authors":"Alan Jones Rios","name":"Version 697d9318","description":"","workflowPublishHistory":[{"createdAt":"2026-01-10T14:58:30.821Z","id":640,"workflowId":"mtNbOiMxMZvVH0RB","versionId":"697d9318-6ad1-44bb-b857-f7338f6ee271","event":"activated","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1"}]}}