apps/api/n8n-workflows-bpo-financeiro/tools/contratos/13-TOOL-Buscar-Contrato-Pendente.json
{"updatedAt":"2026-01-10T15:31:22.303Z","createdAt":"2025-11-30T23:24:05.970Z","id":"GAmDsrgHzVowt0nk","name":"[TOOL] Buscar Contrato Pendente","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[416,160],"id":"5d16d624-f947-4a22-8018-82020d970fea","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    cp.id,\n    cp.nome,\n    cp.email,\n    cp.valor_mensal,\n    cp.produto,\n    cp.pais,\n    cp.status,\n    cp.created_at\n  FROM fin_contratos_pendentes cp\n  WHERE cp.status IN ('aguardando_termos', 'termos_informados')\n  ORDER BY cp.created_at DESC\n  LIMIT 10;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[640,160],"id":"1bfba9f4-0faf-47c4-bb5a-1be324cc4292","name":"Buscar Contrato Pendente","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar resposta dos contratos pendentes\nconst items = $input.all();\n\nif (!items || items.length === 0 || !items[0].json.id) {\n  return {\n    json: {\n      encontrado: false,\n      mensagem: 'Nenhum contrato pendente encontrado com esse nome/ID.',\n      sugestao: 'Verifique o nome do cliente ou aguarde a notificação do formulário.'\n    }\n  };\n}\n\nconst formatarData = (dataStr) => {\n  if (!dataStr) return null;\n  const data = new Date(dataStr);\n  return data.toLocaleDateString('pt-BR');\n};\n\nconst formatarMoeda = (valor) => {\n  if (!valor) return null;\n  return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(valor);\n};\n\nconst contratos = items.map(item => {\n  const c = item.json;\n  \n  // Identificar campos faltantes para gerar contrato\n  const camposFaltantes = [];\n  if (!c.valor_mensal) camposFaltantes.push('valor_mensal');\n  if (!c.num_parcelas) camposFaltantes.push('num_parcelas');\n  if (!c.data_inicio) camposFaltantes.push('data_inicio');\n  if (!c.dia_vencimento) camposFaltantes.push('dia_vencimento');\n  \n  return {\n    contrato_id: c.id,\n    cliente: {\n      nome: c.nome,\n      nome_completo: c.nome_completo_razao_social,\n      email: c.email,\n      telefone: c.telefone,\n      documento: c.documento,\n      nacionalidade: c.nacionalidade,\n      profissao: c.profissao,\n      estado_civil: c.estado_civil,\n      data_nascimento: formatarData(c.data_nascimento),\n      endereco: c.endereco,\n      cep: c.cep\n    },\n    termos: {\n      valor_mensal: formatarMoeda(c.valor_mensal),\n      valor_mensal_numero: c.valor_mensal,\n      num_parcelas: c.num_parcelas,\n      valor_entrada: formatarMoeda(c.valor_entrada),\n      data_inicio: formatarData(c.data_inicio),\n      dia_vencimento: c.dia_vencimento\n    },\n    status: c.status,\n    status_descricao: c.status === 'aguardando_termos' ? 'Aguardando você informar os termos da negociação' :\n                      c.status === 'termos_informados' ? 'Termos informados - pronto para gerar contrato' :\n                      c.status === 'contrato_gerado' ? 'Contrato já foi gerado' : c.status,\n    pronto_para_gerar: camposFaltantes.length === 0,\n    campos_faltantes: camposFaltantes,\n    cliente_id: c.cliente_id,\n    monday_item_id: c.monday_item_id,\n    datas: {\n      criado_em: formatarData(c.created_at),\n      notificado_em: formatarData(c.notificado_em),\n      termos_recebidos_em: formatarData(c.termos_recebidos_em),\n      contrato_gerado_em: formatarData(c.contrato_gerado_em)\n    }\n  };\n});\n\nreturn {\n  json: {\n    encontrado: true,\n    total: contratos.length,\n    contratos: contratos,\n    instrucoes: contratos[0].pronto_para_gerar \n      ? 'Contrato pronto para ser gerado! Use a ferramenta de gerar contrato.'\n      : `Para gerar o contrato, informe: ${contratos[0].campos_faltantes.join(', ')}`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,160],"id":"a2f70285-a829-4a52-ae8e-f52f15386c43","name":"Formatar Resposta"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Buscar Contrato Pendente","type":"main","index":0}]]},"Buscar Contrato Pendente":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]},"Formatar Resposta":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"80e521b7-5b50-4cbd-8966-02c4fd7980d0","activeVersionId":"80e521b7-5b50-4cbd-8966-02c4fd7980d0","versionCounter":31,"triggerCount":0,"shared":[{"updatedAt":"2025-11-30T23:24:05.976Z","createdAt":"2025-11-30T23:24:05.976Z","role":"workflow:owner","workflowId":"GAmDsrgHzVowt0nk","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-10T15:31:23.000Z","createdAt":"2026-01-10T15:31:22.305Z","versionId":"80e521b7-5b50-4cbd-8966-02c4fd7980d0","workflowId":"GAmDsrgHzVowt0nk","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[416,160],"id":"5d16d624-f947-4a22-8018-82020d970fea","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    cp.id,\n    cp.nome,\n    cp.email,\n    cp.valor_mensal,\n    cp.produto,\n    cp.pais,\n    cp.status,\n    cp.created_at\n  FROM fin_contratos_pendentes cp\n  WHERE cp.status IN ('aguardando_termos', 'termos_informados')\n  ORDER BY cp.created_at DESC\n  LIMIT 10;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[640,160],"id":"1bfba9f4-0faf-47c4-bb5a-1be324cc4292","name":"Buscar Contrato Pendente","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar resposta dos contratos pendentes\nconst items = $input.all();\n\nif (!items || items.length === 0 || !items[0].json.id) {\n  return {\n    json: {\n      encontrado: false,\n      mensagem: 'Nenhum contrato pendente encontrado com esse nome/ID.',\n      sugestao: 'Verifique o nome do cliente ou aguarde a notificação do formulário.'\n    }\n  };\n}\n\nconst formatarData = (dataStr) => {\n  if (!dataStr) return null;\n  const data = new Date(dataStr);\n  return data.toLocaleDateString('pt-BR');\n};\n\nconst formatarMoeda = (valor) => {\n  if (!valor) return null;\n  return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(valor);\n};\n\nconst contratos = items.map(item => {\n  const c = item.json;\n  \n  // Identificar campos faltantes para gerar contrato\n  const camposFaltantes = [];\n  if (!c.valor_mensal) camposFaltantes.push('valor_mensal');\n  if (!c.num_parcelas) camposFaltantes.push('num_parcelas');\n  if (!c.data_inicio) camposFaltantes.push('data_inicio');\n  if (!c.dia_vencimento) camposFaltantes.push('dia_vencimento');\n  \n  return {\n    contrato_id: c.id,\n    cliente: {\n      nome: c.nome,\n      nome_completo: c.nome_completo_razao_social,\n      email: c.email,\n      telefone: c.telefone,\n      documento: c.documento,\n      nacionalidade: c.nacionalidade,\n      profissao: c.profissao,\n      estado_civil: c.estado_civil,\n      data_nascimento: formatarData(c.data_nascimento),\n      endereco: c.endereco,\n      cep: c.cep\n    },\n    termos: {\n      valor_mensal: formatarMoeda(c.valor_mensal),\n      valor_mensal_numero: c.valor_mensal,\n      num_parcelas: c.num_parcelas,\n      valor_entrada: formatarMoeda(c.valor_entrada),\n      data_inicio: formatarData(c.data_inicio),\n      dia_vencimento: c.dia_vencimento\n    },\n    status: c.status,\n    status_descricao: c.status === 'aguardando_termos' ? 'Aguardando você informar os termos da negociação' :\n                      c.status === 'termos_informados' ? 'Termos informados - pronto para gerar contrato' :\n                      c.status === 'contrato_gerado' ? 'Contrato já foi gerado' : c.status,\n    pronto_para_gerar: camposFaltantes.length === 0,\n    campos_faltantes: camposFaltantes,\n    cliente_id: c.cliente_id,\n    monday_item_id: c.monday_item_id,\n    datas: {\n      criado_em: formatarData(c.created_at),\n      notificado_em: formatarData(c.notificado_em),\n      termos_recebidos_em: formatarData(c.termos_recebidos_em),\n      contrato_gerado_em: formatarData(c.contrato_gerado_em)\n    }\n  };\n});\n\nreturn {\n  json: {\n    encontrado: true,\n    total: contratos.length,\n    contratos: contratos,\n    instrucoes: contratos[0].pronto_para_gerar \n      ? 'Contrato pronto para ser gerado! Use a ferramenta de gerar contrato.'\n      : `Para gerar o contrato, informe: ${contratos[0].campos_faltantes.join(', ')}`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,160],"id":"a2f70285-a829-4a52-ae8e-f52f15386c43","name":"Formatar Resposta"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Buscar Contrato Pendente","type":"main","index":0}]]},"Buscar Contrato Pendente":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]},"Formatar Resposta":{"main":[[]]}},"authors":"Alan Jones Rios","name":"Version 80e521b7","description":"","workflowPublishHistory":[{"createdAt":"2026-01-10T15:31:23.962Z","id":652,"workflowId":"GAmDsrgHzVowt0nk","versionId":"80e521b7-5b50-4cbd-8966-02c4fd7980d0","event":"activated","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1"}]}}