apps/api/n8n-workflows-bpo-financeiro/tools/contratos/14-TOOL-Atualizar-Termos-Contrato.json
{"updatedAt":"2026-01-10T19:54:28.709Z","createdAt":"2025-12-10T09:29:14.736Z","id":"1AyAvl2oQEa1v2mW","name":"[TOOL] Atualizar Termos Contrato","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"contrato_id"},{"name":"valor_mensal"},{"name":"num_parcelas"},{"name":"valor_entrada"},{"name":"data_inicio"},{"name":"dia_vencimento"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[112,-80],"id":"b9c4a9db-2083-4f50-84fe-9d04df4e9ee8","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"=-- Atualizar termos do contrato pendente\nUPDATE fin_contratos_pendentes\nSET \n  valor_mensal = COALESCE({{ $json.valor_mensal || 'NULL' }}, valor_mensal),\n  num_parcelas = COALESCE({{ $json.num_parcelas || 'NULL' }}, num_parcelas),\n  valor_entrada = COALESCE({{ $json.valor_entrada || 'NULL' }}, valor_entrada),\n  data_inicio = COALESCE({{ $json.data_inicio ? \"'\" + $json.data_inicio + \"'\" : 'NULL' }}, data_inicio),\n  dia_vencimento = COALESCE({{ $json.dia_vencimento || 'NULL' }}, dia_vencimento),\n  produto = COALESCE({{ $json.produto ? \"'\" + $json.produto + \"'\" : 'NULL' }}, produto),\n  pais = COALESCE({{ $json.pais ? \"'\" + $json.pais + \"'\" : 'NULL' }}, pais),\n  nicho = COALESCE({{ $json.nicho ? \"'\" + $json.nicho + \"'\" : 'NULL' }}, nicho),\n  moeda = CASE WHEN {{ $json.pais ? \"'\" + $json.pais + \"'\" : 'NULL' }} = 'EUA' THEN 'USD' WHEN {{ $json.pais ? \"'\" + $json.pais + \"'\" : 'NULL' }} = 'Brasil' THEN 'BRL' ELSE COALESCE({{ $json.moeda ? \"'\" + $json.moeda + \"'\" : 'NULL' }}, moeda) END,\n  budget_trafego = COALESCE({{ $json.budget_trafego || 'NULL' }}, budget_trafego),\n  dias_onboarding = COALESCE({{ $json.dias_onboarding || 'NULL' }}, dias_onboarding),\n  condicoes_especiais = COALESCE({{ $json.condicoes_especiais ? \"'\" + $json.condicoes_especiais.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, condicoes_especiais),\n  observacoes_negociacao = COALESCE({{ $json.observacoes_negociacao ? \"'\" + $json.observacoes_negociacao.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, observacoes_negociacao),\n  status = CASE \n    WHEN {{ $json.valor_mensal || 'NULL' }} IS NOT NULL \n         AND {{ $json.num_parcelas || 'NULL' }} IS NOT NULL \n         AND {{ $json.produto ? \"'\" + $json.produto + \"'\" : 'NULL' }} IS NOT NULL \n    THEN 'termos_informados'\n    ELSE status\n  END,\n  termos_recebidos_em = CASE \n    WHEN {{ $json.valor_mensal || 'NULL' }} IS NOT NULL THEN NOW()\n    ELSE termos_recebidos_em\n  END,\n  updated_at = NOW()\nWHERE id = '{{ $json.contrato_id }}'\nRETURNING \n  id, \n  nome, \n  valor_mensal, \n  num_parcelas, \n  valor_entrada,\n  data_inicio, \n  dia_vencimento,\n  produto,\n  pais,\n  nicho,\n  moeda,\n  budget_trafego,\n  dias_onboarding,\n  condicoes_especiais,\n  status;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[336,-96],"id":"f8813f38-96cb-4b13-9166-a9bf28baaef0","name":"Atualizar Termos","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar resposta da atualização\nconst resultado = $json;\n\nif (!resultado.id) {\n  return {\n    json: {\n      sucesso: false,\n      mensagem: 'Contrato não encontrado. Verifique o ID informado.'\n    }\n  };\n}\n\nconst formatarMoeda = (valor) => {\n  if (!valor) return null;\n  return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(valor);\n};\n\nconst formatarData = (dataStr) => {\n  if (!dataStr) return null;\n  const data = new Date(dataStr);\n  return data.toLocaleDateString('pt-BR');\n};\n\n// Verificar se está pronto para gerar\nconst prontoParaGerar = resultado.valor_mensal && resultado.num_parcelas && resultado.dia_vencimento;\n\nreturn {\n  json: {\n    sucesso: true,\n    mensagem: prontoParaGerar \n      ? `Termos atualizados com sucesso! O contrato de ${resultado.nome} está pronto para ser gerado.`\n      : `Termos parcialmente atualizados. Ainda faltam informações para gerar o contrato.`,\n    contrato: {\n      id: resultado.id,\n      cliente: resultado.nome,\n      valor_mensal: formatarMoeda(resultado.valor_mensal),\n      num_parcelas: resultado.num_parcelas,\n      valor_entrada: formatarMoeda(resultado.valor_entrada),\n      data_inicio: formatarData(resultado.data_inicio),\n      dia_vencimento: resultado.dia_vencimento,\n      status: resultado.status\n    },\n    pronto_para_gerar: prontoParaGerar,\n    proxima_acao: prontoParaGerar \n      ? 'Use a ferramenta gerar_contrato para criar o contrato oficial.'\n      : 'Informe os dados faltantes: ' + [\n          !resultado.valor_mensal ? 'valor_mensal' : null,\n          !resultado.num_parcelas ? 'num_parcelas' : null,\n          !resultado.dia_vencimento ? 'dia_vencimento' : null\n        ].filter(Boolean).join(', ')\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-80],"id":"7ade8f07-cff4-4bf5-b0c1-2b611cebb7a8","name":"Formatar Resposta"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Atualizar Termos","type":"main","index":0}]]},"Atualizar Termos":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]},"Formatar Resposta":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"WnRF9AdjFBkEW9Ma"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"contrato_id":"b6568e9d-f53e-4cfc-9044-d1a864f4d7a5","valor_mensal":"1497","num_parcelas":"6","valor_entrada":"4997","data_inicio":"2026-01-10","dia_vencimento":"12"},"pairedItem":{"item":0}}]},"versionId":"cafb22ee-40fa-4d0b-ab30-903d91016281","activeVersionId":"cafb22ee-40fa-4d0b-ab30-903d91016281","versionCounter":16,"triggerCount":0,"shared":[{"updatedAt":"2025-12-10T09:29:14.764Z","createdAt":"2025-12-10T09:29:14.764Z","role":"workflow:owner","workflowId":"1AyAvl2oQEa1v2mW","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-10T19:37:02.000Z","createdAt":"2026-01-10T19:37:01.152Z","versionId":"cafb22ee-40fa-4d0b-ab30-903d91016281","workflowId":"1AyAvl2oQEa1v2mW","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"contrato_id"},{"name":"valor_mensal"},{"name":"num_parcelas"},{"name":"valor_entrada"},{"name":"data_inicio"},{"name":"dia_vencimento"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[112,-80],"id":"b9c4a9db-2083-4f50-84fe-9d04df4e9ee8","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"=-- Atualizar termos do contrato pendente\nUPDATE fin_contratos_pendentes\nSET \n  valor_mensal = COALESCE({{ $json.valor_mensal || 'NULL' }}, valor_mensal),\n  num_parcelas = COALESCE({{ $json.num_parcelas || 'NULL' }}, num_parcelas),\n  valor_entrada = COALESCE({{ $json.valor_entrada || 'NULL' }}, valor_entrada),\n  data_inicio = COALESCE({{ $json.data_inicio ? \"'\" + $json.data_inicio + \"'\" : 'NULL' }}, data_inicio),\n  dia_vencimento = COALESCE({{ $json.dia_vencimento || 'NULL' }}, dia_vencimento),\n  produto = COALESCE({{ $json.produto ? \"'\" + $json.produto + \"'\" : 'NULL' }}, produto),\n  pais = COALESCE({{ $json.pais ? \"'\" + $json.pais + \"'\" : 'NULL' }}, pais),\n  nicho = COALESCE({{ $json.nicho ? \"'\" + $json.nicho + \"'\" : 'NULL' }}, nicho),\n  moeda = CASE WHEN {{ $json.pais ? \"'\" + $json.pais + \"'\" : 'NULL' }} = 'EUA' THEN 'USD' WHEN {{ $json.pais ? \"'\" + $json.pais + \"'\" : 'NULL' }} = 'Brasil' THEN 'BRL' ELSE COALESCE({{ $json.moeda ? \"'\" + $json.moeda + \"'\" : 'NULL' }}, moeda) END,\n  budget_trafego = COALESCE({{ $json.budget_trafego || 'NULL' }}, budget_trafego),\n  dias_onboarding = COALESCE({{ $json.dias_onboarding || 'NULL' }}, dias_onboarding),\n  condicoes_especiais = COALESCE({{ $json.condicoes_especiais ? \"'\" + $json.condicoes_especiais.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, condicoes_especiais),\n  observacoes_negociacao = COALESCE({{ $json.observacoes_negociacao ? \"'\" + $json.observacoes_negociacao.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, observacoes_negociacao),\n  status = CASE \n    WHEN {{ $json.valor_mensal || 'NULL' }} IS NOT NULL \n         AND {{ $json.num_parcelas || 'NULL' }} IS NOT NULL \n         AND {{ $json.produto ? \"'\" + $json.produto + \"'\" : 'NULL' }} IS NOT NULL \n    THEN 'termos_informados'\n    ELSE status\n  END,\n  termos_recebidos_em = CASE \n    WHEN {{ $json.valor_mensal || 'NULL' }} IS NOT NULL THEN NOW()\n    ELSE termos_recebidos_em\n  END,\n  updated_at = NOW()\nWHERE id = '{{ $json.contrato_id }}'\nRETURNING \n  id, \n  nome, \n  valor_mensal, \n  num_parcelas, \n  valor_entrada,\n  data_inicio, \n  dia_vencimento,\n  produto,\n  pais,\n  nicho,\n  moeda,\n  budget_trafego,\n  dias_onboarding,\n  condicoes_especiais,\n  status;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[336,-96],"id":"f8813f38-96cb-4b13-9166-a9bf28baaef0","name":"Atualizar Termos","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar resposta da atualização\nconst resultado = $json;\n\nif (!resultado.id) {\n  return {\n    json: {\n      sucesso: false,\n      mensagem: 'Contrato não encontrado. Verifique o ID informado.'\n    }\n  };\n}\n\nconst formatarMoeda = (valor) => {\n  if (!valor) return null;\n  return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(valor);\n};\n\nconst formatarData = (dataStr) => {\n  if (!dataStr) return null;\n  const data = new Date(dataStr);\n  return data.toLocaleDateString('pt-BR');\n};\n\n// Verificar se está pronto para gerar\nconst prontoParaGerar = resultado.valor_mensal && resultado.num_parcelas && resultado.dia_vencimento;\n\nreturn {\n  json: {\n    sucesso: true,\n    mensagem: prontoParaGerar \n      ? `Termos atualizados com sucesso! O contrato de ${resultado.nome} está pronto para ser gerado.`\n      : `Termos parcialmente atualizados. Ainda faltam informações para gerar o contrato.`,\n    contrato: {\n      id: resultado.id,\n      cliente: resultado.nome,\n      valor_mensal: formatarMoeda(resultado.valor_mensal),\n      num_parcelas: resultado.num_parcelas,\n      valor_entrada: formatarMoeda(resultado.valor_entrada),\n      data_inicio: formatarData(resultado.data_inicio),\n      dia_vencimento: resultado.dia_vencimento,\n      status: resultado.status\n    },\n    pronto_para_gerar: prontoParaGerar,\n    proxima_acao: prontoParaGerar \n      ? 'Use a ferramenta gerar_contrato para criar o contrato oficial.'\n      : 'Informe os dados faltantes: ' + [\n          !resultado.valor_mensal ? 'valor_mensal' : null,\n          !resultado.num_parcelas ? 'num_parcelas' : null,\n          !resultado.dia_vencimento ? 'dia_vencimento' : null\n        ].filter(Boolean).join(', ')\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-80],"id":"7ade8f07-cff4-4bf5-b0c1-2b611cebb7a8","name":"Formatar Resposta"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Atualizar Termos","type":"main","index":0}]]},"Atualizar Termos":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]},"Formatar Resposta":{"main":[[]]}},"authors":"Alan Jones Rios","name":"Version cafb22ee","description":"","workflowPublishHistory":[{"createdAt":"2026-01-10T19:37:02.719Z","id":681,"workflowId":"1AyAvl2oQEa1v2mW","versionId":"cafb22ee-40fa-4d0b-ab30-903d91016281","event":"activated","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1"}]}}