apps/api/n8n-workflows-bpo-financeiro/tools/contratos/15-TOOL-Gerar-Contrato-Automatico.json
{"updatedAt":"2026-01-11T19:36:56.539Z","createdAt":"2025-12-10T10:58:48.525Z","id":"s1FZRsx5o7AIrQjk","name":"Validar Contrato","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"contrato_pendente_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-64,-288],"id":"379f3f79-0984-4ef8-bfd5-86388fafb3cd","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    cp.*,\n    tc.google_doc_id as template_google_doc_id,\n    tc.google_folder_id as template_folder_id,\n    tc.entregas_padrao,\n    tc.nao_incluso_padrao,\n    tc.dias_onboarding_padrao\n  FROM fin_contratos_pendentes cp\n  LEFT JOIN fin_templates_contrato tc ON\n    tc.produto = COALESCE(cp.produto, 'BPOSS')\n    AND tc.pais = COALESCE(cp.pais, 'Brasil')\n    AND (tc.nicho = cp.nicho OR cp.nicho IS NULL OR tc.nicho IS NULL)\n    AND tc.ativo = true\n  WHERE\n    -- Busca por UUID exato (se for UUID valido)\n    (cp.id::text = '{{ $json.contrato_pendente_id }}')\n    -- Busca por monday_item_id (como texto)\n    OR (cp.monday_item_id::text = '{{ $json.contrato_pendente_id }}')\n    -- Busca por nome parcial (case insensitive)\n    OR (cp.nome ILIKE '%{{ $json.contrato_pendente_id }}%')\n    -- Busca por email parcial\n    OR (cp.email ILIKE '%{{ $json.contrato_pendente_id }}%')\n  ORDER BY\n    -- Prioriza match exato por ID\n    CASE WHEN cp.id::text = '{{ $json.contrato_pendente_id }}' THEN 0\n         WHEN cp.monday_item_id::text = '{{ $json.contrato_pendente_id }}' THEN 1\n         ELSE 2 END,\n    cp.created_at DESC\n  LIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,-288],"id":"7b64264f-376e-4d74-a4cc-d5b6cf2776f5","name":"Buscar Dados","alwaysOutputData":true,"credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Verificar se encontrou dados e se tem template\nconst dados = $json;\nconst idBuscado = $('When Executed by Another Workflow').first().json.contrato_pendente_id;\n\nif (!dados || !dados.id) {\n  return {\n    json: {\n      erro: true,\n      tipo: 'contrato_nao_encontrado',\n      mensagem: `Contrato não encontrado para: \"${idBuscado}\". Use o UUID do contrato, o monday_item_id numérico, ou o nome do cliente.`,\n      id_buscado: idBuscado,\n      dica: 'Use a tool buscar_contrato_pendente primeiro para obter o contrato_id correto.'\n    }\n  };\n}\n\nif (!dados.template_google_doc_id) {\n  return {\n    json: {\n      erro: true,\n      tipo: 'template_nao_encontrado',\n      mensagem: `Template não encontrado para produto=${dados.produto || 'BPOSS'}, pais=${dados.pais || 'Brasil'}. Cadastre o google_doc_id na tabela templates_contrato.`,\n      contrato_encontrado: { id: dados.id, nome: dados.nome, produto: dados.produto, pais: dados.pais }\n    }\n  };\n}\n\nreturn {\n  json: {\n    erro: false,\n    ...dados\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,-288],"id":"01d98402-201a-472b-b760-9f20e69be9ba","name":"Validar Dados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-erro","leftValue":"={{ $json.erro }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,-288],"id":"ca6135c5-d18a-4613-8cb1-3634471ef027","name":"Dados OK?"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"mode":"id","value":"={{ $json.template_google_doc_id }}"},"name":"={{ $json.nome }} - Contrato {{ $json.produto }}","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[832,-384],"id":"8063ac14-3ef5-48c6-9ea9-c1b66ad75550","name":"Copiar Template","credentials":{"googleDriveOAuth2Api":{"id":"ufivD8NvmVAh2iOk","name":"Google Drive account"}}},{"parameters":{"jsCode":"// CÓDIGO CORRIGIDO PARA O NÓ \"Preparar Substituições\"\n// Substitua o código do Execute Code node por este\n\n// Preparar substituições - Todos os placeholders do template\nconst cp = $('Validar Dados').first().json;\nconst docId = $json.id;\n\n// Função para formatar data por extenso\nconst formatarDataExtenso = (dataStr) => {\n  if (!dataStr) return '_______________';\n  const data = new Date(dataStr);\n  const meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'];\n  return `${data.getDate()} de ${meses[data.getMonth()]} de ${data.getFullYear()}`;\n};\n\n// Função para formatar moeda (apenas valor formatado, sem símbolo)\nconst formatarValor = (valor) => {\n  if (!valor) return '0,00';\n  return parseFloat(valor).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n};\n\n// Função para número por extenso\nconst numeroExtenso = (num) => {\n  const extenso = {\n    1: 'um', 2: 'dois', 3: 'três', 4: 'quatro', 5: 'cinco',\n    6: 'seis', 7: 'sete', 8: 'oito', 9: 'nove', 10: 'dez',\n    11: 'onze', 12: 'doze', 13: 'treze', 14: 'quatorze', 15: 'quinze',\n    16: 'dezesseis', 17: 'dezessete', 18: 'dezoito', 19: 'dezenove', 20: 'vinte',\n    21: 'vinte e um', 22: 'vinte e dois', 23: 'vinte e três', 24: 'vinte e quatro',\n    25: 'vinte e cinco', 26: 'vinte e seis', 27: 'vinte e sete', 28: 'vinte e oito',\n    29: 'vinte e nove', 30: 'trinta', 31: 'trinta e um'\n  };\n  return extenso[num] || num.toString();\n};\n\n// Função para detectar país pelo endereço\nconst detectarPais = (endereco, nacionalidade) => {\n  if (!endereco && !nacionalidade) return 'Brasil';\n\n  // Verifica nacionalidade primeiro\n  if (nacionalidade) {\n    const nat = nacionalidade.toLowerCase();\n    if (nat.includes('usa') || nat.includes('estados unidos') || nat.includes('american')) {\n      return 'EUA';\n    }\n    if (nat.includes('brasil') || nat.includes('brasile')) {\n      return 'Brasil';\n    }\n  }\n\n  // Verifica endereço\n  if (endereco) {\n    const end = endereco.toLowerCase();\n    if (end.includes('usa') || end.includes(', usa') || end.includes(',usa')) return 'EUA';\n    if (end.includes('united states')) return 'EUA';\n    if (end.includes('ma ') || end.includes('ny ') || end.includes('fl ') || end.includes('ca ')) return 'EUA';\n    if (end.includes('brasil') || end.includes(', br')) return 'Brasil';\n  }\n\n  return 'Brasil'; // Default\n};\n\n// Função para valor por extenso\nconst valorExtenso = (valor, moeda) => {\n  if (!valor) return 'zero reais';\n  const v = parseFloat(valor);\n  const inteiro = Math.floor(v);\n  const centavos = Math.round((v - inteiro) * 100);\n\n  const moedaNome = moeda === 'USD' ? 'dólares' : 'reais';\n  const centavosNome = moeda === 'USD' ? 'centavos de dólar' : 'centavos';\n\n  const milhares = Math.floor(inteiro / 1000);\n  const centenas = inteiro % 1000;\n\n  let resultado = '';\n  if (milhares > 0) {\n    if (milhares === 1) resultado += 'mil';\n    else resultado += numeroExtenso(milhares) + ' mil';\n    if (centenas > 0) resultado += ' e ';\n  }\n  if (centenas > 0 || milhares === 0) {\n    if (centenas <= 31) {\n      resultado += numeroExtenso(centenas);\n    } else if (centenas < 100) {\n      const dezenas = Math.floor(centenas / 10) * 10;\n      const unidades = centenas % 10;\n      const dezExtenso = {40:'quarenta',50:'cinquenta',60:'sessenta',70:'setenta',80:'oitenta',90:'noventa'};\n      resultado += dezExtenso[dezenas] || dezenas.toString();\n      if (unidades > 0) resultado += ' e ' + numeroExtenso(unidades);\n    } else {\n      const cent = Math.floor(centenas / 100);\n      const resto = centenas % 100;\n      const centExtenso = {1:'cento',2:'duzentos',3:'trezentos',4:'quatrocentos',5:'quinhentos',6:'seiscentos',7:'setecentos',8:'oitocentos',9:'novecentos'};\n      if (centenas === 100) resultado += 'cem';\n      else resultado += centExtenso[cent];\n      if (resto > 0) {\n        resultado += ' e ';\n        if (resto <= 31) resultado += numeroExtenso(resto);\n        else {\n          const dez = Math.floor(resto / 10) * 10;\n          const uni = resto % 10;\n          const dezEx = {40:'quarenta',50:'cinquenta',60:'sessenta',70:'setenta',80:'oitenta',90:'noventa'};\n          resultado += dezEx[dez] || dez.toString();\n          if (uni > 0) resultado += ' e ' + numeroExtenso(uni);\n        }\n      }\n    }\n  }\n  resultado += ' ' + moedaNome;\n\n  if (centavos > 0) {\n    resultado += ' e ' + numeroExtenso(centavos) + ' ' + centavosNome;\n  }\n\n  return resultado;\n};\n\n// Detectar tipo de documento\nconst detectarTipoDocumento = (doc) => {\n  if (!doc) return 'CPF/CNPJ';\n  const numeros = doc.replace(/\\D/g, '');\n  return numeros.length > 11 ? 'CNPJ' : 'CPF';\n};\n\n// Símbolo da moeda\nconst simboloMoeda = (moeda) => {\n  return moeda === 'USD' ? 'US$' : 'R$';\n};\n\n// Nome da moeda\nconst nomeMoeda = (moeda) => {\n  return moeda === 'USD' ? 'Dólar Americano (USD)' : 'Real Brasileiro (BRL)';\n};\n\n// ============================================================================\n// CORREÇÃO: Detectar país a partir do endereço se não estiver definido\n// ============================================================================\nlet pais = cp.pais;\nlet moeda = cp.moeda;\n\n// Se não tiver país definido, detecta pelo endereço/nacionalidade\nif (!pais) {\n  pais = detectarPais(cp.endereco, cp.nacionalidade);\n  console.log('País detectado:', pais, '(baseado no endereço:', cp.endereco, ')');\n}\n\n// Se não tiver moeda, infere pelo país\nif (!moeda) {\n  moeda = (pais === 'EUA') ? 'USD' : 'BRL';\n  console.log('Moeda inferida:', moeda, '(baseado no país:', pais, ')');\n}\n\n// Valores calculados\nconst valorMensal = parseFloat(cp.valor_mensal) || 0;\nconst numParcelas = parseInt(cp.num_parcelas) || 12;\nconst diaVencimento = parseInt(cp.dia_vencimento) || 10;\nconst diasOnboarding = parseInt(cp.dias_onboarding) || cp.dias_onboarding_padrao || 15;\nconst budgetTrafego = parseFloat(cp.budget_trafego) || 0;\nconst produto = cp.produto || 'BPOSS';\nconst nicho = cp.nicho || ''; // Se null, fica vazio (não assume 'Clinicas')\n\n// Metas padrão\nconst metaAbordagensDia = 10;\nconst metaAbordagensDiaMax = 30;\nconst metaAgendamentosMes = '8 a 15';\n\nreturn {\n  json: {\n    doc_id: docId,\n    contrato_pendente_id: cp.id,\n    email_cliente: cp.email,\n    nome_documento: `${cp.nome} - Contrato ${produto}`,\n    // Debug - incluir valores detectados\n    debug_info: {\n      pais_original: cp.pais,\n      pais_detectado: pais,\n      moeda_original: cp.moeda,\n      moeda_detectada: moeda,\n      endereco: cp.endereco,\n      nacionalidade: cp.nacionalidade\n    },\n    substituicoes: [\n      // Dados do contratante\n      { find: '{{CONTRATANTE}}', replace: cp.nome_completo_razao_social || cp.nome || '' },\n      { find: '{{DOCUMENTO_TIPO}}', replace: detectarTipoDocumento(cp.documento) },\n      { find: '{{DOCUMENTO}}', replace: cp.documento || '' },\n      { find: '{{ENDERECO_COMPLETO}}', replace: cp.endereco || '' },\n      { find: '{{EMAIL}}', replace: cp.email || '' },\n      { find: '{{TELEFONE}}', replace: cp.telefone || '' },\n\n      // Produto e contexto\n      { find: '{{PRODUTO}}', replace: produto },\n      { find: '{{NICHO}}', replace: nicho },\n      { find: '{{PAIS}}', replace: pais },\n      { find: '{{MOEDA}}', replace: simboloMoeda(moeda) },\n      { find: '{{MOEDA_NOME}}', replace: nomeMoeda(moeda) },\n\n      // Budget de tráfego\n      { find: '{{BUDGET_TRAFEGO}}', replace: formatarValor(budgetTrafego) },\n      { find: '{{BUDGET_TRAFEGO_EXTENSO}}', replace: valorExtenso(budgetTrafego, moeda) },\n\n      // Valores e parcelas\n      { find: '{{VALOR_MENSAL}}', replace: formatarValor(valorMensal) },\n      { find: '{{VALOR_MENSAL_EXTENSO}}', replace: valorExtenso(valorMensal, moeda) },\n      { find: '{{NUM_PARCELAS}}', replace: numParcelas.toString() },\n      { find: '{{NUM_PARCELAS_EXTENSO}}', replace: numeroExtenso(numParcelas) },\n\n      // Datas e prazos\n      { find: '{{DATA_INICIO_EXTENSO}}', replace: formatarDataExtenso(cp.data_inicio) },\n      { find: '{{DIA_VENCIMENTO}}', replace: diaVencimento.toString() },\n      { find: '{{DIA_VENCIMENTO_EXTENSO}}', replace: numeroExtenso(diaVencimento) },\n      { find: '{{DIAS_ONBOARDING}}', replace: diasOnboarding.toString() },\n      { find: '{{DIAS_ONBOARDING_EXTENSO}}', replace: numeroExtenso(diasOnboarding) },\n      { find: '{{DATA_GERACAO_EXTENSO}}', replace: formatarDataExtenso(new Date().toISOString()) },\n\n      // Entregas e condições\n      { find: '{{ENTREGAS_PRODUTO}}', replace: cp.entregas_padrao || '' },\n      { find: '{{NAO_INCLUSO}}', replace: cp.nao_incluso_padrao || '' },\n      { find: '{{CONDICOES_ESPECIAIS}}', replace: cp.condicoes_especiais || 'Nenhuma condição especial.' },\n\n      // Metas\n      { find: '{{META_ABORDAGENS_DIA}}', replace: metaAbordagensDia.toString() },\n      { find: '{{META_ABORDAGENS_DIA_MAX}}', replace: metaAbordagensDiaMax.toString() },\n      { find: '{{META_AGENDAMENTOS_MES}}', replace: metaAgendamentosMes }\n    ]\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,-384],"id":"1f6dab5c-31cf-43c9-aeaf-19dfa4896376","name":"Preparar Substituições"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $json.doc_id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ requests: $json.substituicoes.map(s => ({ replaceAllText: { containsText: { text: s.find, matchCase: true }, replaceText: s.replace || '' } })) }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,-384],"id":"bd2ad7dc-32a6-4fff-ba38-efac789972c5","name":"Substituir Placeholders","credentials":{"googleDriveOAuth2Api":{"id":"huUvmVlBHgVbw2p1","name":"drive marcos - supabase - supercérebro"}},"notes":"Substitui TODOS os placeholders via Google Docs API batchUpdate"},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $('Preparar Substituições').first().json.doc_id }}"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1952,-384],"id":"1486760c-6e95-4509-a517-411a43d9a100","name":"Exportar PDF","credentials":{"googleDriveOAuth2Api":{"id":"ufivD8NvmVAh2iOk","name":"Google Drive account"}}},{"parameters":{"jsCode":"// Preparar dados para o Autentique com multipart/form-data\nconst prepSub = $('Preparar Substituições').first().json;\nconst validarDados = $('Validar Dados').first().json;\n\nconst nomeDoc = prepSub.nome_documento;\nconst emailCliente = prepSub.email_cliente;\nconst nomeCliente = validarDados.nome;\nconst contratoId = prepSub.contrato_pendente_id;\nconst docId = prepSub.doc_id;\n\n// Criar o JSON do operations para GraphQL multipart\nconst operations = JSON.stringify({\n  query: 'mutation CreateDocumentMutation($document: DocumentInput!, $signers: [SignerInput!]!, $file: Upload!) { createDocument(document: $document, signers: $signers, file: $file) { id name signatures { public_id name email link { short_link } } } }',\n  variables: {\n    document: { name: nomeDoc },\n    signers: [\n      { email: 'hallennaiane@gmail.com', action: 'APPROVE' },\n      { email: emailCliente, action: 'APPROVE' },\n      { email: 'ceo@marcosdaniels.com', action: 'SIGN_AS_A_WITNESS' },\n      { email: 'lucasadley5@gmail.com', action: 'SIGN_AS_A_WITNESS' },\n      { name: nomeCliente, action: 'APPROVE' }\n    ],\n    file: null\n  }\n});\n\nconst map = JSON.stringify({ '0': ['variables.file'] });\n\n// Pegar o binary do input e garantir que tem nome de arquivo com extensão .pdf\nconst inputBinary = $input.first().binary;\nconst binaryData = {\n  data: {\n    ...inputBinary.data,\n    fileName: nomeDoc.replace(/[^a-zA-Z0-9\\s]/g, '') + '.pdf',\n    mimeType: 'application/pdf'\n  }\n};\n\nreturn [\n  {\n    json: {\n      nome_documento: nomeDoc,\n      email_cliente: emailCliente,\n      nome_cliente: nomeCliente,\n      contrato_pendente_id: contratoId,\n      doc_id: docId,\n      operations: operations,\n      map: map\n    },\n    binary: binaryData\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,-384],"id":"fd3e888d-e7a8-4746-b21b-c7b398f3025a","name":"Preparar Autentique"},{"parameters":{"method":"POST","url":"https://api.autentique.com.br/v2/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ac247a815ee6bb7b492f3ff3963720a81aec9b26727e9ff6ce37d2704a77e41e"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"operations","value":"={{ $json.operations }}"},{"name":"map","value":"={{ $json.map }}"},{"parameterType":"formBinaryData","name":"0","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,-384],"id":"5dd07d49-edd9-4c15-87ee-c751f61ed43e","name":"Enviar Autentique HTTP"},{"parameters":{"operation":"executeQuery","query":"=UPDATE contratos_pendentes\nSET \n  status = 'contrato_gerado',\n  google_doc_id = '{{ $('Preparar Substituições').first().json.doc_id }}',\n  url_contrato_gerado = 'https://docs.google.com/document/d/{{ $('Preparar Substituições').first().json.doc_id }}/edit',\n  autentique_doc_id = '{{ $json.data.createDocument.id }}',\n  contrato_gerado_em = NOW(),\n  updated_at = NOW()\nWHERE id = '{{ $('Preparar Substituições').first().json.contrato_pendente_id }}'\nRETURNING id, nome, status, url_contrato_gerado;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2624,-384],"id":"59d98b95-4d91-4f7c-9746-b9a19e2d8eb0","name":"Atualizar Status","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"return {\n  json: {\n    sucesso: true,\n    mensagem: 'Contrato gerado e enviado para assinatura!',\n    contrato: {\n      id: $json.id,\n      nome: $json.nome,\n      status: $json.status,\n      url: $json.url_contrato_gerado\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2848,-384],"id":"9d2b9dc7-881d-4e7d-88a3-ad5087387d13","name":"Resposta Sucesso"},{"parameters":{"jsCode":"// Retornar erro formatado\nreturn {\n  json: {\n    sucesso: false,\n    erro: $json.mensagem || 'Erro desconhecido',\n    tipo: $json.tipo\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-192],"id":"534cf70d-11f8-45a0-bdc4-818e79f7384b","name":"Erro: Sem Template"},{"parameters":{"jsCode":"// CÓDIGO CORRIGIDO PARA O NÓ \"Preparar Substituições\"\n// Substitua o código do Execute Code node por este\n\n// Preparar substituições - Todos os placeholders do template\nconst cp = $('Validar Dados').first().json;\nconst docId = $json.id;\n\nconst formatarDataExtenso = (dataStr) => {\n  if (!dataStr) return '_______________';\n  const data = new Date(dataStr);\n  // Compensar timezone - se hora UTC >= 22, é dia seguinte na intenção original\n  let dia = data.getUTCDate();\n  let mes = data.getUTCMonth();\n  let ano = data.getUTCFullYear();\n  \n  if (data.getUTCHours() >= 22) {\n    const dataAjustada = new Date(data);\n    dataAjustada.setUTCDate(dia + 1);\n    dia = dataAjustada.getUTCDate();\n    mes = dataAjustada.getUTCMonth();\n    ano = dataAjustada.getUTCFullYear();\n  }\n  \n  const meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'];\n  return `${dia} de ${meses[mes]} de ${ano}`;\n};\n\n// Função para formatar moeda (apenas valor formatado, sem símbolo)\nconst formatarValor = (valor) => {\n  if (!valor) return '0,00';\n  return parseFloat(valor).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n};\n\n// Função para número por extenso\nconst numeroExtenso = (num) => {\n  const extenso = {\n    1: 'um', 2: 'dois', 3: 'três', 4: 'quatro', 5: 'cinco',\n    6: 'seis', 7: 'sete', 8: 'oito', 9: 'nove', 10: 'dez',\n    11: 'onze', 12: 'doze', 13: 'treze', 14: 'quatorze', 15: 'quinze',\n    16: 'dezesseis', 17: 'dezessete', 18: 'dezoito', 19: 'dezenove', 20: 'vinte',\n    21: 'vinte e um', 22: 'vinte e dois', 23: 'vinte e três', 24: 'vinte e quatro',\n    25: 'vinte e cinco', 26: 'vinte e seis', 27: 'vinte e sete', 28: 'vinte e oito',\n    29: 'vinte e nove', 30: 'trinta', 31: 'trinta e um'\n  };\n  return extenso[num] || num.toString();\n};\n\n// Função para detectar país pelo endereço\nconst detectarPais = (endereco, nacionalidade) => {\n  if (!endereco && !nacionalidade) return 'Brasil';\n\n  // Verifica nacionalidade primeiro\n  if (nacionalidade) {\n    const nat = nacionalidade.toLowerCase();\n    if (nat.includes('usa') || nat.includes('estados unidos') || nat.includes('american')) {\n      return 'EUA';\n    }\n    if (nat.includes('brasil') || nat.includes('brasile')) {\n      return 'Brasil';\n    }\n  }\n\n  // Verifica endereço\n  if (endereco) {\n    const end = endereco.toLowerCase();\n    if (end.includes('usa') || end.includes(', usa') || end.includes(',usa')) return 'EUA';\n    if (end.includes('united states')) return 'EUA';\n    if (end.includes('ma ') || end.includes('ny ') || end.includes('fl ') || end.includes('ca ')) return 'EUA';\n    if (end.includes('brasil') || end.includes(', br')) return 'Brasil';\n  }\n\n  return 'Brasil'; // Default\n};\n\n// Função para valor por extenso\nconst valorExtenso = (valor, moeda) => {\n  const moedaNome = moeda === 'USD' ? 'dólares' : 'reais';\n  \n  if (!valor || parseFloat(valor) === 0) return `zero ${moedaNome}`;\n  \n  // resto do código...\n  const v = parseFloat(valor);\n  const inteiro = Math.floor(v);\n  const centavos = Math.round((v - inteiro) * 100);\n\n  const centavosNome = moeda === 'USD' ? 'centavos de dólar' : 'centavos';\n\n  const milhares = Math.floor(inteiro / 1000);\n  const centenas = inteiro % 1000;\n\n  let resultado = '';\n  if (milhares > 0) {\n    if (milhares === 1) resultado += 'mil';\n    else resultado += numeroExtenso(milhares) + ' mil';\n    if (centenas > 0) resultado += ' e ';\n  }\n  if (centenas > 0 || milhares === 0) {\n    if (centenas <= 31) {\n      resultado += numeroExtenso(centenas);\n    } else if (centenas < 100) {\n      const dezenas = Math.floor(centenas / 10) * 10;\n      const unidades = centenas % 10;\n      const dezExtenso = {40:'quarenta',50:'cinquenta',60:'sessenta',70:'setenta',80:'oitenta',90:'noventa'};\n      resultado += dezExtenso[dezenas] || dezenas.toString();\n      if (unidades > 0) resultado += ' e ' + numeroExtenso(unidades);\n    } else {\n      const cent = Math.floor(centenas / 100);\n      const resto = centenas % 100;\n      const centExtenso = {1:'cento',2:'duzentos',3:'trezentos',4:'quatrocentos',5:'quinhentos',6:'seiscentos',7:'setecentos',8:'oitocentos',9:'novecentos'};\n      if (centenas === 100) resultado += 'cem';\n      else resultado += centExtenso[cent];\n      if (resto > 0) {\n        resultado += ' e ';\n        if (resto <= 31) resultado += numeroExtenso(resto);\n        else {\n          const dez = Math.floor(resto / 10) * 10;\n          const uni = resto % 10;\n          const dezEx = {40:'quarenta',50:'cinquenta',60:'sessenta',70:'setenta',80:'oitenta',90:'noventa'};\n          resultado += dezEx[dez] || dez.toString();\n          if (uni > 0) resultado += ' e ' + numeroExtenso(uni);\n        }\n      }\n    }\n  }\n  resultado += ' ' + moedaNome;\n\n  if (centavos > 0) {\n    resultado += ' e ' + numeroExtenso(centavos) + ' ' + centavosNome;\n  }\n\n  return resultado;\n};\n\n// ============================================================================\n// CORRIGIDO: Detectar tipo de documento BASEADO NO PAÍS\n// ============================================================================\nconst detectarTipoDocumento = (doc, pais) => {\n  // Se não tem documento, retorna padrão baseado no país\n  if (!doc) {\n    if (pais === 'EUA') return 'SSN';\n    return 'CPF/CNPJ';\n  }\n  \n  const numeros = doc.replace(/\\D/g, '');\n  \n  // EUA: SSN (9 dígitos pessoa física) ou EIN (9 dígitos empresa)\n  if (pais === 'EUA') {\n    // SSN tem 9 dígitos, EIN também tem 9\n    // Sem mais contexto, assumimos SSN para pessoa física\n    return numeros.length === 9 ? 'SSN' : 'Tax ID';\n  }\n  \n  // Brasil: CPF (11 dígitos) ou CNPJ (14 dígitos)\n  return numeros.length > 11 ? 'CNPJ' : 'CPF';\n};\n\n// Símbolo da moeda\nconst simboloMoeda = (moeda) => {\n  return moeda === 'USD' ? 'US$' : 'R$';\n};\n\n// Nome da moeda\nconst nomeMoeda = (moeda) => {\n  return moeda === 'USD' ? 'Dólar Americano (USD)' : 'Real Brasileiro (BRL)';\n};\n\n// ============================================================================\n// CORREÇÃO: Detectar país a partir do endereço se não estiver definido\n// ============================================================================\nlet pais = cp.pais;\nlet moeda = cp.moeda;\n\n// Se não tiver país definido, detecta pelo endereço/nacionalidade\nif (!pais) {\n  pais = detectarPais(cp.endereco, cp.nacionalidade);\n  console.log('País detectado:', pais, '(baseado no endereço:', cp.endereco, ')');\n}\n\n// Se não tiver moeda, infere pelo país\nif (!moeda) {\n  moeda = (pais === 'EUA') ? 'USD' : 'BRL';\n  console.log('Moeda inferida:', moeda, '(baseado no país:', pais, ')');\n}\n\n// Valores calculados\nconst valorMensal = parseFloat(cp.valor_mensal) || 0;\nconst numParcelas = parseInt(cp.num_parcelas) || 12;\nconst diaVencimento = parseInt(cp.dia_vencimento) || 10;\nconst diasOnboarding = parseInt(cp.dias_onboarding) || cp.dias_onboarding_padrao || 15;\nconst budgetTrafego = parseFloat(cp.budget_trafego) || 0;\nconst produto = cp.produto || 'BPOSS';\nconst nicho = cp.nicho || ''; // Se null, fica vazio (não assume 'Clinicas')\n\n// Metas padrão\nconst metaAbordagensDia = 10;\nconst metaAbordagensDiaMax = 30;\nconst metaAgendamentosMes = '8 a 15';\n\nreturn {\n  json: {\n    doc_id: docId,\n    contrato_pendente_id: cp.id,\n    email_cliente: cp.email,\n    nome_documento: `${cp.nome} - Contrato ${produto}`,\n    // Debug - incluir valores detectados\n    debug_info: {\n      pais_original: cp.pais,\n      pais_detectado: pais,\n      moeda_original: cp.moeda,\n      moeda_detectada: moeda,\n      endereco: cp.endereco,\n      nacionalidade: cp.nacionalidade,\n      documento_tipo_detectado: detectarTipoDocumento(cp.documento, pais)\n    },\n    substituicoes: [\n      // Dados do contratante\n      { find: '{{CONTRATANTE}}', replace: cp.nome_completo_razao_social || cp.nome || '' },\n      { find: '{{DOCUMENTO_TIPO}}', replace: detectarTipoDocumento(cp.documento, pais) },\n      { find: '{{DOCUMENTO}}', replace: cp.documento || '' },\n      { find: '{{ENDERECO_COMPLETO}}', replace: cp.endereco || '' },\n      { find: '{{EMAIL}}', replace: cp.email || '' },\n      { find: '{{TELEFONE}}', replace: cp.telefone || '' },\n\n      // Produto e contexto\n      { find: '{{PRODUTO}}', replace: produto },\n      { find: '{{NICHO}}', replace: nicho },\n      { find: '{{PAIS}}', replace: pais },\n      { find: '{{MOEDA}}', replace: simboloMoeda(moeda) },\n      { find: '{{MOEDA_NOME}}', replace: nomeMoeda(moeda) },\n\n      // Budget de tráfego\n      { find: '{{BUDGET_TRAFEGO}}', replace: formatarValor(budgetTrafego) },\n      { find: '{{BUDGET_TRAFEGO_EXTENSO}}', replace: valorExtenso(budgetTrafego, moeda) },\n\n      // Valores e parcelas\n      { find: '{{VALOR_MENSAL}}', replace: formatarValor(valorMensal) },\n      { find: '{{VALOR_MENSAL_EXTENSO}}', replace: valorExtenso(valorMensal, moeda) },\n      { find: '{{NUM_PARCELAS}}', replace: numParcelas.toString() },\n      { find: '{{NUM_PARCELAS_EXTENSO}}', replace: numeroExtenso(numParcelas) },\n\n      // Datas e prazos\n      { find: '{{DATA_INICIO_EXTENSO}}', replace: formatarDataExtenso(cp.data_inicio) },\n      { find: '{{DIA_VENCIMENTO}}', replace: diaVencimento.toString() },\n      { find: '{{DIA_VENCIMENTO_EXTENSO}}', replace: numeroExtenso(diaVencimento) },\n      { find: '{{DIAS_ONBOARDING}}', replace: diasOnboarding.toString() },\n      { find: '{{DIAS_ONBOARDING_EXTENSO}}', replace: numeroExtenso(diasOnboarding) },\n      { find: '{{DATA_GERACAO_EXTENSO}}', replace: formatarDataExtenso(new Date().toISOString()) },\n\n      // Entregas e condições\n      { find: '{{ENTREGAS_PRODUTO}}', replace: cp.entregas_padrao || '' },\n      { find: '{{NAO_INCLUSO}}', replace: cp.nao_incluso_padrao || '' },\n      { find: '{{CONDICOES_ESPECIAIS}}', replace: cp.condicoes_especiais || 'Nenhuma condição especial.' },\n\n      // Metas\n      { find: '{{META_ABORDAGENS_DIA}}', replace: metaAbordagensDia.toString() },\n      { find: '{{META_ABORDAGENS_DIA_MAX}}', replace: metaAbordagensDiaMax.toString() },\n      { find: '{{META_AGENDAMENTOS_MES}}', replace: metaAgendamentosMes }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,-384],"id":"54718ad3-9057-49e1-85da-1e9083ff9069","name":"Validar Contrato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a0cb15eb-4e6a-437e-9c29-6f8fa80a8f19","leftValue":"={{ $json.validacao_aprovada }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1728,-384],"id":"4564a25e-6b4e-4359-b56f-12ffad5cc2d6","name":"If"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Buscar Dados","type":"main","index":0}]]},"Buscar Dados":{"main":[[{"node":"Validar Dados","type":"main","index":0}]]},"Validar Dados":{"main":[[{"node":"Dados OK?","type":"main","index":0}]]},"Dados OK?":{"main":[[{"node":"Copiar Template","type":"main","index":0}],[{"node":"Erro: Sem Template","type":"main","index":0}]]},"Copiar Template":{"main":[[{"node":"Preparar Substituições","type":"main","index":0}]]},"Preparar Substituições":{"main":[[{"node":"Substituir Placeholders","type":"main","index":0}]]},"Substituir Placeholders":{"main":[[{"node":"Validar Contrato","type":"main","index":0}]]},"Exportar PDF":{"main":[[{"node":"Preparar Autentique","type":"main","index":0}]]},"Enviar Autentique HTTP":{"main":[[{"node":"Atualizar Status","type":"main","index":0}]]},"Atualizar Status":{"main":[[{"node":"Resposta Sucesso","type":"main","index":0}]]},"Preparar Autentique":{"main":[[{"node":"Enviar Autentique HTTP","type":"main","index":0}]]},"Validar Contrato":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Exportar PDF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"WnRF9AdjFBkEW9Ma"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"contrato_pendente_id":"b6568e9d-f53e-4cfc-9044-d1a864f4d7a5"},"pairedItem":{"item":0}}]},"versionId":"3b4a416d-c9f0-4c10-812c-56c113a42c57","activeVersionId":"3b4a416d-c9f0-4c10-812c-56c113a42c57","versionCounter":35,"triggerCount":0,"shared":[{"updatedAt":"2025-12-10T10:58:48.541Z","createdAt":"2025-12-10T10:58:48.541Z","role":"workflow:owner","workflowId":"s1FZRsx5o7AIrQjk","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-11T19:36:58.000Z","createdAt":"2026-01-11T19:36:56.544Z","versionId":"3b4a416d-c9f0-4c10-812c-56c113a42c57","workflowId":"s1FZRsx5o7AIrQjk","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"contrato_pendente_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-64,-288],"id":"379f3f79-0984-4ef8-bfd5-86388fafb3cd","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    cp.*,\n    tc.google_doc_id as template_google_doc_id,\n    tc.google_folder_id as template_folder_id,\n    tc.entregas_padrao,\n    tc.nao_incluso_padrao,\n    tc.dias_onboarding_padrao\n  FROM fin_contratos_pendentes cp\n  LEFT JOIN fin_templates_contrato tc ON\n    tc.produto = COALESCE(cp.produto, 'BPOSS')\n    AND tc.pais = COALESCE(cp.pais, 'Brasil')\n    AND (tc.nicho = cp.nicho OR cp.nicho IS NULL OR tc.nicho IS NULL)\n    AND tc.ativo = true\n  WHERE\n    -- Busca por UUID exato (se for UUID valido)\n    (cp.id::text = '{{ $json.contrato_pendente_id }}')\n    -- Busca por monday_item_id (como texto)\n    OR (cp.monday_item_id::text = '{{ $json.contrato_pendente_id }}')\n    -- Busca por nome parcial (case insensitive)\n    OR (cp.nome ILIKE '%{{ $json.contrato_pendente_id }}%')\n    -- Busca por email parcial\n    OR (cp.email ILIKE '%{{ $json.contrato_pendente_id }}%')\n  ORDER BY\n    -- Prioriza match exato por ID\n    CASE WHEN cp.id::text = '{{ $json.contrato_pendente_id }}' THEN 0\n         WHEN cp.monday_item_id::text = '{{ $json.contrato_pendente_id }}' THEN 1\n         ELSE 2 END,\n    cp.created_at DESC\n  LIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,-288],"id":"7b64264f-376e-4d74-a4cc-d5b6cf2776f5","name":"Buscar Dados","alwaysOutputData":true,"credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Verificar se encontrou dados e se tem template\nconst dados = $json;\nconst idBuscado = $('When Executed by Another Workflow').first().json.contrato_pendente_id;\n\nif (!dados || !dados.id) {\n  return {\n    json: {\n      erro: true,\n      tipo: 'contrato_nao_encontrado',\n      mensagem: `Contrato não encontrado para: \"${idBuscado}\". Use o UUID do contrato, o monday_item_id numérico, ou o nome do cliente.`,\n      id_buscado: idBuscado,\n      dica: 'Use a tool buscar_contrato_pendente primeiro para obter o contrato_id correto.'\n    }\n  };\n}\n\nif (!dados.template_google_doc_id) {\n  return {\n    json: {\n      erro: true,\n      tipo: 'template_nao_encontrado',\n      mensagem: `Template não encontrado para produto=${dados.produto || 'BPOSS'}, pais=${dados.pais || 'Brasil'}. Cadastre o google_doc_id na tabela templates_contrato.`,\n      contrato_encontrado: { id: dados.id, nome: dados.nome, produto: dados.produto, pais: dados.pais }\n    }\n  };\n}\n\nreturn {\n  json: {\n    erro: false,\n    ...dados\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,-288],"id":"01d98402-201a-472b-b760-9f20e69be9ba","name":"Validar Dados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-erro","leftValue":"={{ $json.erro }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,-288],"id":"ca6135c5-d18a-4613-8cb1-3634471ef027","name":"Dados OK?"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"mode":"id","value":"={{ $json.template_google_doc_id }}"},"name":"={{ $json.nome }} - Contrato {{ $json.produto }}","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[832,-384],"id":"8063ac14-3ef5-48c6-9ea9-c1b66ad75550","name":"Copiar Template","credentials":{"googleDriveOAuth2Api":{"id":"ufivD8NvmVAh2iOk","name":"Google Drive account"}}},{"parameters":{"jsCode":"// CÓDIGO CORRIGIDO PARA O NÓ \"Preparar Substituições\"\n// Substitua o código do Execute Code node por este\n\n// Preparar substituições - Todos os placeholders do template\nconst cp = $('Validar Dados').first().json;\nconst docId = $json.id;\n\n// Função para formatar data por extenso\nconst formatarDataExtenso = (dataStr) => {\n  if (!dataStr) return '_______________';\n  const data = new Date(dataStr);\n  const meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'];\n  return `${data.getDate()} de ${meses[data.getMonth()]} de ${data.getFullYear()}`;\n};\n\n// Função para formatar moeda (apenas valor formatado, sem símbolo)\nconst formatarValor = (valor) => {\n  if (!valor) return '0,00';\n  return parseFloat(valor).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n};\n\n// Função para número por extenso\nconst numeroExtenso = (num) => {\n  const extenso = {\n    1: 'um', 2: 'dois', 3: 'três', 4: 'quatro', 5: 'cinco',\n    6: 'seis', 7: 'sete', 8: 'oito', 9: 'nove', 10: 'dez',\n    11: 'onze', 12: 'doze', 13: 'treze', 14: 'quatorze', 15: 'quinze',\n    16: 'dezesseis', 17: 'dezessete', 18: 'dezoito', 19: 'dezenove', 20: 'vinte',\n    21: 'vinte e um', 22: 'vinte e dois', 23: 'vinte e três', 24: 'vinte e quatro',\n    25: 'vinte e cinco', 26: 'vinte e seis', 27: 'vinte e sete', 28: 'vinte e oito',\n    29: 'vinte e nove', 30: 'trinta', 31: 'trinta e um'\n  };\n  return extenso[num] || num.toString();\n};\n\n// Função para detectar país pelo endereço\nconst detectarPais = (endereco, nacionalidade) => {\n  if (!endereco && !nacionalidade) return 'Brasil';\n\n  // Verifica nacionalidade primeiro\n  if (nacionalidade) {\n    const nat = nacionalidade.toLowerCase();\n    if (nat.includes('usa') || nat.includes('estados unidos') || nat.includes('american')) {\n      return 'EUA';\n    }\n    if (nat.includes('brasil') || nat.includes('brasile')) {\n      return 'Brasil';\n    }\n  }\n\n  // Verifica endereço\n  if (endereco) {\n    const end = endereco.toLowerCase();\n    if (end.includes('usa') || end.includes(', usa') || end.includes(',usa')) return 'EUA';\n    if (end.includes('united states')) return 'EUA';\n    if (end.includes('ma ') || end.includes('ny ') || end.includes('fl ') || end.includes('ca ')) return 'EUA';\n    if (end.includes('brasil') || end.includes(', br')) return 'Brasil';\n  }\n\n  return 'Brasil'; // Default\n};\n\n// Função para valor por extenso\nconst valorExtenso = (valor, moeda) => {\n  if (!valor) return 'zero reais';\n  const v = parseFloat(valor);\n  const inteiro = Math.floor(v);\n  const centavos = Math.round((v - inteiro) * 100);\n\n  const moedaNome = moeda === 'USD' ? 'dólares' : 'reais';\n  const centavosNome = moeda === 'USD' ? 'centavos de dólar' : 'centavos';\n\n  const milhares = Math.floor(inteiro / 1000);\n  const centenas = inteiro % 1000;\n\n  let resultado = '';\n  if (milhares > 0) {\n    if (milhares === 1) resultado += 'mil';\n    else resultado += numeroExtenso(milhares) + ' mil';\n    if (centenas > 0) resultado += ' e ';\n  }\n  if (centenas > 0 || milhares === 0) {\n    if (centenas <= 31) {\n      resultado += numeroExtenso(centenas);\n    } else if (centenas < 100) {\n      const dezenas = Math.floor(centenas / 10) * 10;\n      const unidades = centenas % 10;\n      const dezExtenso = {40:'quarenta',50:'cinquenta',60:'sessenta',70:'setenta',80:'oitenta',90:'noventa'};\n      resultado += dezExtenso[dezenas] || dezenas.toString();\n      if (unidades > 0) resultado += ' e ' + numeroExtenso(unidades);\n    } else {\n      const cent = Math.floor(centenas / 100);\n      const resto = centenas % 100;\n      const centExtenso = {1:'cento',2:'duzentos',3:'trezentos',4:'quatrocentos',5:'quinhentos',6:'seiscentos',7:'setecentos',8:'oitocentos',9:'novecentos'};\n      if (centenas === 100) resultado += 'cem';\n      else resultado += centExtenso[cent];\n      if (resto > 0) {\n        resultado += ' e ';\n        if (resto <= 31) resultado += numeroExtenso(resto);\n        else {\n          const dez = Math.floor(resto / 10) * 10;\n          const uni = resto % 10;\n          const dezEx = {40:'quarenta',50:'cinquenta',60:'sessenta',70:'setenta',80:'oitenta',90:'noventa'};\n          resultado += dezEx[dez] || dez.toString();\n          if (uni > 0) resultado += ' e ' + numeroExtenso(uni);\n        }\n      }\n    }\n  }\n  resultado += ' ' + moedaNome;\n\n  if (centavos > 0) {\n    resultado += ' e ' + numeroExtenso(centavos) + ' ' + centavosNome;\n  }\n\n  return resultado;\n};\n\n// Detectar tipo de documento\nconst detectarTipoDocumento = (doc) => {\n  if (!doc) return 'CPF/CNPJ';\n  const numeros = doc.replace(/\\D/g, '');\n  return numeros.length > 11 ? 'CNPJ' : 'CPF';\n};\n\n// Símbolo da moeda\nconst simboloMoeda = (moeda) => {\n  return moeda === 'USD' ? 'US$' : 'R$';\n};\n\n// Nome da moeda\nconst nomeMoeda = (moeda) => {\n  return moeda === 'USD' ? 'Dólar Americano (USD)' : 'Real Brasileiro (BRL)';\n};\n\n// ============================================================================\n// CORREÇÃO: Detectar país a partir do endereço se não estiver definido\n// ============================================================================\nlet pais = cp.pais;\nlet moeda = cp.moeda;\n\n// Se não tiver país definido, detecta pelo endereço/nacionalidade\nif (!pais) {\n  pais = detectarPais(cp.endereco, cp.nacionalidade);\n  console.log('País detectado:', pais, '(baseado no endereço:', cp.endereco, ')');\n}\n\n// Se não tiver moeda, infere pelo país\nif (!moeda) {\n  moeda = (pais === 'EUA') ? 'USD' : 'BRL';\n  console.log('Moeda inferida:', moeda, '(baseado no país:', pais, ')');\n}\n\n// Valores calculados\nconst valorMensal = parseFloat(cp.valor_mensal) || 0;\nconst numParcelas = parseInt(cp.num_parcelas) || 12;\nconst diaVencimento = parseInt(cp.dia_vencimento) || 10;\nconst diasOnboarding = parseInt(cp.dias_onboarding) || cp.dias_onboarding_padrao || 15;\nconst budgetTrafego = parseFloat(cp.budget_trafego) || 0;\nconst produto = cp.produto || 'BPOSS';\nconst nicho = cp.nicho || ''; // Se null, fica vazio (não assume 'Clinicas')\n\n// Metas padrão\nconst metaAbordagensDia = 10;\nconst metaAbordagensDiaMax = 30;\nconst metaAgendamentosMes = '8 a 15';\n\nreturn {\n  json: {\n    doc_id: docId,\n    contrato_pendente_id: cp.id,\n    email_cliente: cp.email,\n    nome_documento: `${cp.nome} - Contrato ${produto}`,\n    // Debug - incluir valores detectados\n    debug_info: {\n      pais_original: cp.pais,\n      pais_detectado: pais,\n      moeda_original: cp.moeda,\n      moeda_detectada: moeda,\n      endereco: cp.endereco,\n      nacionalidade: cp.nacionalidade\n    },\n    substituicoes: [\n      // Dados do contratante\n      { find: '{{CONTRATANTE}}', replace: cp.nome_completo_razao_social || cp.nome || '' },\n      { find: '{{DOCUMENTO_TIPO}}', replace: detectarTipoDocumento(cp.documento) },\n      { find: '{{DOCUMENTO}}', replace: cp.documento || '' },\n      { find: '{{ENDERECO_COMPLETO}}', replace: cp.endereco || '' },\n      { find: '{{EMAIL}}', replace: cp.email || '' },\n      { find: '{{TELEFONE}}', replace: cp.telefone || '' },\n\n      // Produto e contexto\n      { find: '{{PRODUTO}}', replace: produto },\n      { find: '{{NICHO}}', replace: nicho },\n      { find: '{{PAIS}}', replace: pais },\n      { find: '{{MOEDA}}', replace: simboloMoeda(moeda) },\n      { find: '{{MOEDA_NOME}}', replace: nomeMoeda(moeda) },\n\n      // Budget de tráfego\n      { find: '{{BUDGET_TRAFEGO}}', replace: formatarValor(budgetTrafego) },\n      { find: '{{BUDGET_TRAFEGO_EXTENSO}}', replace: valorExtenso(budgetTrafego, moeda) },\n\n      // Valores e parcelas\n      { find: '{{VALOR_MENSAL}}', replace: formatarValor(valorMensal) },\n      { find: '{{VALOR_MENSAL_EXTENSO}}', replace: valorExtenso(valorMensal, moeda) },\n      { find: '{{NUM_PARCELAS}}', replace: numParcelas.toString() },\n      { find: '{{NUM_PARCELAS_EXTENSO}}', replace: numeroExtenso(numParcelas) },\n\n      // Datas e prazos\n      { find: '{{DATA_INICIO_EXTENSO}}', replace: formatarDataExtenso(cp.data_inicio) },\n      { find: '{{DIA_VENCIMENTO}}', replace: diaVencimento.toString() },\n      { find: '{{DIA_VENCIMENTO_EXTENSO}}', replace: numeroExtenso(diaVencimento) },\n      { find: '{{DIAS_ONBOARDING}}', replace: diasOnboarding.toString() },\n      { find: '{{DIAS_ONBOARDING_EXTENSO}}', replace: numeroExtenso(diasOnboarding) },\n      { find: '{{DATA_GERACAO_EXTENSO}}', replace: formatarDataExtenso(new Date().toISOString()) },\n\n      // Entregas e condições\n      { find: '{{ENTREGAS_PRODUTO}}', replace: cp.entregas_padrao || '' },\n      { find: '{{NAO_INCLUSO}}', replace: cp.nao_incluso_padrao || '' },\n      { find: '{{CONDICOES_ESPECIAIS}}', replace: cp.condicoes_especiais || 'Nenhuma condição especial.' },\n\n      // Metas\n      { find: '{{META_ABORDAGENS_DIA}}', replace: metaAbordagensDia.toString() },\n      { find: '{{META_ABORDAGENS_DIA_MAX}}', replace: metaAbordagensDiaMax.toString() },\n      { find: '{{META_AGENDAMENTOS_MES}}', replace: metaAgendamentosMes }\n    ]\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,-384],"id":"1f6dab5c-31cf-43c9-aeaf-19dfa4896376","name":"Preparar Substituições"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $json.doc_id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ requests: $json.substituicoes.map(s => ({ replaceAllText: { containsText: { text: s.find, matchCase: true }, replaceText: s.replace || '' } })) }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,-384],"id":"bd2ad7dc-32a6-4fff-ba38-efac789972c5","name":"Substituir Placeholders","credentials":{"googleDriveOAuth2Api":{"id":"huUvmVlBHgVbw2p1","name":"drive marcos - supabase - supercérebro"}},"notes":"Substitui TODOS os placeholders via Google Docs API batchUpdate"},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $('Preparar Substituições').first().json.doc_id }}"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1952,-384],"id":"1486760c-6e95-4509-a517-411a43d9a100","name":"Exportar PDF","credentials":{"googleDriveOAuth2Api":{"id":"ufivD8NvmVAh2iOk","name":"Google Drive account"}}},{"parameters":{"jsCode":"// Preparar dados para o Autentique com multipart/form-data\nconst prepSub = $('Preparar Substituições').first().json;\nconst validarDados = $('Validar Dados').first().json;\n\nconst nomeDoc = prepSub.nome_documento;\nconst emailCliente = prepSub.email_cliente;\nconst nomeCliente = validarDados.nome;\nconst contratoId = prepSub.contrato_pendente_id;\nconst docId = prepSub.doc_id;\n\n// Criar o JSON do operations para GraphQL multipart\nconst operations = JSON.stringify({\n  query: 'mutation CreateDocumentMutation($document: DocumentInput!, $signers: [SignerInput!]!, $file: Upload!) { createDocument(document: $document, signers: $signers, file: $file) { id name signatures { public_id name email link { short_link } } } }',\n  variables: {\n    document: { name: nomeDoc },\n    signers: [\n      { email: 'hallennaiane@gmail.com', action: 'APPROVE' },\n      { email: emailCliente, action: 'APPROVE' },\n      { email: 'ceo@marcosdaniels.com', action: 'SIGN_AS_A_WITNESS' },\n      { email: 'lucasadley5@gmail.com', action: 'SIGN_AS_A_WITNESS' },\n      { name: nomeCliente, action: 'APPROVE' }\n    ],\n    file: null\n  }\n});\n\nconst map = JSON.stringify({ '0': ['variables.file'] });\n\n// Pegar o binary do input e garantir que tem nome de arquivo com extensão .pdf\nconst inputBinary = $input.first().binary;\nconst binaryData = {\n  data: {\n    ...inputBinary.data,\n    fileName: nomeDoc.replace(/[^a-zA-Z0-9\\s]/g, '') + '.pdf',\n    mimeType: 'application/pdf'\n  }\n};\n\nreturn [\n  {\n    json: {\n      nome_documento: nomeDoc,\n      email_cliente: emailCliente,\n      nome_cliente: nomeCliente,\n      contrato_pendente_id: contratoId,\n      doc_id: docId,\n      operations: operations,\n      map: map\n    },\n    binary: binaryData\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,-384],"id":"fd3e888d-e7a8-4746-b21b-c7b398f3025a","name":"Preparar Autentique"},{"parameters":{"method":"POST","url":"https://api.autentique.com.br/v2/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ac247a815ee6bb7b492f3ff3963720a81aec9b26727e9ff6ce37d2704a77e41e"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"operations","value":"={{ $json.operations }}"},{"name":"map","value":"={{ $json.map }}"},{"parameterType":"formBinaryData","name":"0","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,-384],"id":"5dd07d49-edd9-4c15-87ee-c751f61ed43e","name":"Enviar Autentique HTTP"},{"parameters":{"operation":"executeQuery","query":"=UPDATE contratos_pendentes\nSET \n  status = 'contrato_gerado',\n  google_doc_id = '{{ $('Preparar Substituições').first().json.doc_id }}',\n  url_contrato_gerado = 'https://docs.google.com/document/d/{{ $('Preparar Substituições').first().json.doc_id }}/edit',\n  autentique_doc_id = '{{ $json.data.createDocument.id }}',\n  contrato_gerado_em = NOW(),\n  updated_at = NOW()\nWHERE id = '{{ $('Preparar Substituições').first().json.contrato_pendente_id }}'\nRETURNING id, nome, status, url_contrato_gerado;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2624,-384],"id":"59d98b95-4d91-4f7c-9746-b9a19e2d8eb0","name":"Atualizar Status","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"return {\n  json: {\n    sucesso: true,\n    mensagem: 'Contrato gerado e enviado para assinatura!',\n    contrato: {\n      id: $json.id,\n      nome: $json.nome,\n      status: $json.status,\n      url: $json.url_contrato_gerado\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2848,-384],"id":"9d2b9dc7-881d-4e7d-88a3-ad5087387d13","name":"Resposta Sucesso"},{"parameters":{"jsCode":"// Retornar erro formatado\nreturn {\n  json: {\n    sucesso: false,\n    erro: $json.mensagem || 'Erro desconhecido',\n    tipo: $json.tipo\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-192],"id":"534cf70d-11f8-45a0-bdc4-818e79f7384b","name":"Erro: Sem Template"},{"parameters":{"jsCode":"// CÓDIGO CORRIGIDO PARA O NÓ \"Preparar Substituições\"\n// Substitua o código do Execute Code node por este\n\n// Preparar substituições - Todos os placeholders do template\nconst cp = $('Validar Dados').first().json;\nconst docId = $json.id;\n\nconst formatarDataExtenso = (dataStr) => {\n  if (!dataStr) return '_______________';\n  const data = new Date(dataStr);\n  // Compensar timezone - se hora UTC >= 22, é dia seguinte na intenção original\n  let dia = data.getUTCDate();\n  let mes = data.getUTCMonth();\n  let ano = data.getUTCFullYear();\n  \n  if (data.getUTCHours() >= 22) {\n    const dataAjustada = new Date(data);\n    dataAjustada.setUTCDate(dia + 1);\n    dia = dataAjustada.getUTCDate();\n    mes = dataAjustada.getUTCMonth();\n    ano = dataAjustada.getUTCFullYear();\n  }\n  \n  const meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'];\n  return `${dia} de ${meses[mes]} de ${ano}`;\n};\n\n// Função para formatar moeda (apenas valor formatado, sem símbolo)\nconst formatarValor = (valor) => {\n  if (!valor) return '0,00';\n  return parseFloat(valor).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n};\n\n// Função para número por extenso\nconst numeroExtenso = (num) => {\n  const extenso = {\n    1: 'um', 2: 'dois', 3: 'três', 4: 'quatro', 5: 'cinco',\n    6: 'seis', 7: 'sete', 8: 'oito', 9: 'nove', 10: 'dez',\n    11: 'onze', 12: 'doze', 13: 'treze', 14: 'quatorze', 15: 'quinze',\n    16: 'dezesseis', 17: 'dezessete', 18: 'dezoito', 19: 'dezenove', 20: 'vinte',\n    21: 'vinte e um', 22: 'vinte e dois', 23: 'vinte e três', 24: 'vinte e quatro',\n    25: 'vinte e cinco', 26: 'vinte e seis', 27: 'vinte e sete', 28: 'vinte e oito',\n    29: 'vinte e nove', 30: 'trinta', 31: 'trinta e um'\n  };\n  return extenso[num] || num.toString();\n};\n\n// Função para detectar país pelo endereço\nconst detectarPais = (endereco, nacionalidade) => {\n  if (!endereco && !nacionalidade) return 'Brasil';\n\n  // Verifica nacionalidade primeiro\n  if (nacionalidade) {\n    const nat = nacionalidade.toLowerCase();\n    if (nat.includes('usa') || nat.includes('estados unidos') || nat.includes('american')) {\n      return 'EUA';\n    }\n    if (nat.includes('brasil') || nat.includes('brasile')) {\n      return 'Brasil';\n    }\n  }\n\n  // Verifica endereço\n  if (endereco) {\n    const end = endereco.toLowerCase();\n    if (end.includes('usa') || end.includes(', usa') || end.includes(',usa')) return 'EUA';\n    if (end.includes('united states')) return 'EUA';\n    if (end.includes('ma ') || end.includes('ny ') || end.includes('fl ') || end.includes('ca ')) return 'EUA';\n    if (end.includes('brasil') || end.includes(', br')) return 'Brasil';\n  }\n\n  return 'Brasil'; // Default\n};\n\n// Função para valor por extenso\nconst valorExtenso = (valor, moeda) => {\n  const moedaNome = moeda === 'USD' ? 'dólares' : 'reais';\n  \n  if (!valor || parseFloat(valor) === 0) return `zero ${moedaNome}`;\n  \n  // resto do código...\n  const v = parseFloat(valor);\n  const inteiro = Math.floor(v);\n  const centavos = Math.round((v - inteiro) * 100);\n\n  const centavosNome = moeda === 'USD' ? 'centavos de dólar' : 'centavos';\n\n  const milhares = Math.floor(inteiro / 1000);\n  const centenas = inteiro % 1000;\n\n  let resultado = '';\n  if (milhares > 0) {\n    if (milhares === 1) resultado += 'mil';\n    else resultado += numeroExtenso(milhares) + ' mil';\n    if (centenas > 0) resultado += ' e ';\n  }\n  if (centenas > 0 || milhares === 0) {\n    if (centenas <= 31) {\n      resultado += numeroExtenso(centenas);\n    } else if (centenas < 100) {\n      const dezenas = Math.floor(centenas / 10) * 10;\n      const unidades = centenas % 10;\n      const dezExtenso = {40:'quarenta',50:'cinquenta',60:'sessenta',70:'setenta',80:'oitenta',90:'noventa'};\n      resultado += dezExtenso[dezenas] || dezenas.toString();\n      if (unidades > 0) resultado += ' e ' + numeroExtenso(unidades);\n    } else {\n      const cent = Math.floor(centenas / 100);\n      const resto = centenas % 100;\n      const centExtenso = {1:'cento',2:'duzentos',3:'trezentos',4:'quatrocentos',5:'quinhentos',6:'seiscentos',7:'setecentos',8:'oitocentos',9:'novecentos'};\n      if (centenas === 100) resultado += 'cem';\n      else resultado += centExtenso[cent];\n      if (resto > 0) {\n        resultado += ' e ';\n        if (resto <= 31) resultado += numeroExtenso(resto);\n        else {\n          const dez = Math.floor(resto / 10) * 10;\n          const uni = resto % 10;\n          const dezEx = {40:'quarenta',50:'cinquenta',60:'sessenta',70:'setenta',80:'oitenta',90:'noventa'};\n          resultado += dezEx[dez] || dez.toString();\n          if (uni > 0) resultado += ' e ' + numeroExtenso(uni);\n        }\n      }\n    }\n  }\n  resultado += ' ' + moedaNome;\n\n  if (centavos > 0) {\n    resultado += ' e ' + numeroExtenso(centavos) + ' ' + centavosNome;\n  }\n\n  return resultado;\n};\n\n// ============================================================================\n// CORRIGIDO: Detectar tipo de documento BASEADO NO PAÍS\n// ============================================================================\nconst detectarTipoDocumento = (doc, pais) => {\n  // Se não tem documento, retorna padrão baseado no país\n  if (!doc) {\n    if (pais === 'EUA') return 'SSN';\n    return 'CPF/CNPJ';\n  }\n  \n  const numeros = doc.replace(/\\D/g, '');\n  \n  // EUA: SSN (9 dígitos pessoa física) ou EIN (9 dígitos empresa)\n  if (pais === 'EUA') {\n    // SSN tem 9 dígitos, EIN também tem 9\n    // Sem mais contexto, assumimos SSN para pessoa física\n    return numeros.length === 9 ? 'SSN' : 'Tax ID';\n  }\n  \n  // Brasil: CPF (11 dígitos) ou CNPJ (14 dígitos)\n  return numeros.length > 11 ? 'CNPJ' : 'CPF';\n};\n\n// Símbolo da moeda\nconst simboloMoeda = (moeda) => {\n  return moeda === 'USD' ? 'US$' : 'R$';\n};\n\n// Nome da moeda\nconst nomeMoeda = (moeda) => {\n  return moeda === 'USD' ? 'Dólar Americano (USD)' : 'Real Brasileiro (BRL)';\n};\n\n// ============================================================================\n// CORREÇÃO: Detectar país a partir do endereço se não estiver definido\n// ============================================================================\nlet pais = cp.pais;\nlet moeda = cp.moeda;\n\n// Se não tiver país definido, detecta pelo endereço/nacionalidade\nif (!pais) {\n  pais = detectarPais(cp.endereco, cp.nacionalidade);\n  console.log('País detectado:', pais, '(baseado no endereço:', cp.endereco, ')');\n}\n\n// Se não tiver moeda, infere pelo país\nif (!moeda) {\n  moeda = (pais === 'EUA') ? 'USD' : 'BRL';\n  console.log('Moeda inferida:', moeda, '(baseado no país:', pais, ')');\n}\n\n// Valores calculados\nconst valorMensal = parseFloat(cp.valor_mensal) || 0;\nconst numParcelas = parseInt(cp.num_parcelas) || 12;\nconst diaVencimento = parseInt(cp.dia_vencimento) || 10;\nconst diasOnboarding = parseInt(cp.dias_onboarding) || cp.dias_onboarding_padrao || 15;\nconst budgetTrafego = parseFloat(cp.budget_trafego) || 0;\nconst produto = cp.produto || 'BPOSS';\nconst nicho = cp.nicho || ''; // Se null, fica vazio (não assume 'Clinicas')\n\n// Metas padrão\nconst metaAbordagensDia = 10;\nconst metaAbordagensDiaMax = 30;\nconst metaAgendamentosMes = '8 a 15';\n\nreturn {\n  json: {\n    doc_id: docId,\n    contrato_pendente_id: cp.id,\n    email_cliente: cp.email,\n    nome_documento: `${cp.nome} - Contrato ${produto}`,\n    // Debug - incluir valores detectados\n    debug_info: {\n      pais_original: cp.pais,\n      pais_detectado: pais,\n      moeda_original: cp.moeda,\n      moeda_detectada: moeda,\n      endereco: cp.endereco,\n      nacionalidade: cp.nacionalidade,\n      documento_tipo_detectado: detectarTipoDocumento(cp.documento, pais)\n    },\n    substituicoes: [\n      // Dados do contratante\n      { find: '{{CONTRATANTE}}', replace: cp.nome_completo_razao_social || cp.nome || '' },\n      { find: '{{DOCUMENTO_TIPO}}', replace: detectarTipoDocumento(cp.documento, pais) },\n      { find: '{{DOCUMENTO}}', replace: cp.documento || '' },\n      { find: '{{ENDERECO_COMPLETO}}', replace: cp.endereco || '' },\n      { find: '{{EMAIL}}', replace: cp.email || '' },\n      { find: '{{TELEFONE}}', replace: cp.telefone || '' },\n\n      // Produto e contexto\n      { find: '{{PRODUTO}}', replace: produto },\n      { find: '{{NICHO}}', replace: nicho },\n      { find: '{{PAIS}}', replace: pais },\n      { find: '{{MOEDA}}', replace: simboloMoeda(moeda) },\n      { find: '{{MOEDA_NOME}}', replace: nomeMoeda(moeda) },\n\n      // Budget de tráfego\n      { find: '{{BUDGET_TRAFEGO}}', replace: formatarValor(budgetTrafego) },\n      { find: '{{BUDGET_TRAFEGO_EXTENSO}}', replace: valorExtenso(budgetTrafego, moeda) },\n\n      // Valores e parcelas\n      { find: '{{VALOR_MENSAL}}', replace: formatarValor(valorMensal) },\n      { find: '{{VALOR_MENSAL_EXTENSO}}', replace: valorExtenso(valorMensal, moeda) },\n      { find: '{{NUM_PARCELAS}}', replace: numParcelas.toString() },\n      { find: '{{NUM_PARCELAS_EXTENSO}}', replace: numeroExtenso(numParcelas) },\n\n      // Datas e prazos\n      { find: '{{DATA_INICIO_EXTENSO}}', replace: formatarDataExtenso(cp.data_inicio) },\n      { find: '{{DIA_VENCIMENTO}}', replace: diaVencimento.toString() },\n      { find: '{{DIA_VENCIMENTO_EXTENSO}}', replace: numeroExtenso(diaVencimento) },\n      { find: '{{DIAS_ONBOARDING}}', replace: diasOnboarding.toString() },\n      { find: '{{DIAS_ONBOARDING_EXTENSO}}', replace: numeroExtenso(diasOnboarding) },\n      { find: '{{DATA_GERACAO_EXTENSO}}', replace: formatarDataExtenso(new Date().toISOString()) },\n\n      // Entregas e condições\n      { find: '{{ENTREGAS_PRODUTO}}', replace: cp.entregas_padrao || '' },\n      { find: '{{NAO_INCLUSO}}', replace: cp.nao_incluso_padrao || '' },\n      { find: '{{CONDICOES_ESPECIAIS}}', replace: cp.condicoes_especiais || 'Nenhuma condição especial.' },\n\n      // Metas\n      { find: '{{META_ABORDAGENS_DIA}}', replace: metaAbordagensDia.toString() },\n      { find: '{{META_ABORDAGENS_DIA_MAX}}', replace: metaAbordagensDiaMax.toString() },\n      { find: '{{META_AGENDAMENTOS_MES}}', replace: metaAgendamentosMes }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,-384],"id":"54718ad3-9057-49e1-85da-1e9083ff9069","name":"Validar Contrato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a0cb15eb-4e6a-437e-9c29-6f8fa80a8f19","leftValue":"={{ $json.validacao_aprovada }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1728,-384],"id":"4564a25e-6b4e-4359-b56f-12ffad5cc2d6","name":"If"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Buscar Dados","type":"main","index":0}]]},"Buscar Dados":{"main":[[{"node":"Validar Dados","type":"main","index":0}]]},"Validar Dados":{"main":[[{"node":"Dados OK?","type":"main","index":0}]]},"Dados OK?":{"main":[[{"node":"Copiar Template","type":"main","index":0}],[{"node":"Erro: Sem Template","type":"main","index":0}]]},"Copiar Template":{"main":[[{"node":"Preparar Substituições","type":"main","index":0}]]},"Preparar Substituições":{"main":[[{"node":"Substituir Placeholders","type":"main","index":0}]]},"Substituir Placeholders":{"main":[[{"node":"Validar Contrato","type":"main","index":0}]]},"Exportar PDF":{"main":[[{"node":"Preparar Autentique","type":"main","index":0}]]},"Enviar Autentique HTTP":{"main":[[{"node":"Atualizar Status","type":"main","index":0}]]},"Atualizar Status":{"main":[[{"node":"Resposta Sucesso","type":"main","index":0}]]},"Preparar Autentique":{"main":[[{"node":"Enviar Autentique HTTP","type":"main","index":0}]]},"Validar Contrato":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Exportar PDF","type":"main","index":0}]]}},"authors":"Alan Jones Rios","name":"Version 3b4a416d","description":"","workflowPublishHistory":[{"createdAt":"2026-01-11T19:36:58.757Z","id":730,"workflowId":"s1FZRsx5o7AIrQjk","versionId":"3b4a416d-c9f0-4c10-812c-56c113a42c57","event":"activated","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1"}]}}