n8n/sync-ghl-opportunities.json
{
  "name": "Sync GHL Opportunities to Supabase",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "A cada 1 hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id={{ $json.location_id }}",
        "authentication": "noAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-eb4f0411-00cd-4970-b79c-acd1b506e711"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "ghl-get-opportunities",
      "name": "GHL - Buscar Oportunidades",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Locations dos clientes GHL\nconst locations = [\n  { location_id: 'sNwLyynZWP6jEtBy1ubf', name: 'Isabella Amare' },\n  { location_id: 'Bgi2hFMgiLLoRlOO0K5b', name: 'Brazillionaires' },\n  { location_id: 'EKHxHl3KLPN0iRc69GNU', name: 'Fernanda Lappe' },\n  { location_id: 'mHuN6v75KQc3lwmBd6mV', name: 'Location 4' },\n  { location_id: 'GT77iGk2WDneoHwtuq6D', name: 'Instituto Amar' },\n  { location_id: 'pFHwENFUxjtiON94jn2k', name: 'Dra. Eline' },\n  { location_id: 'Rre0WqSlmAPmIrURgiMf', name: 'Dr. Thauan Santos' },\n  { location_id: 'KtMB8IKwmhtnKt7aimzd', name: 'Legacy Agency' },\n  { location_id: 'xliub5H5pQ4QcDeKHc6F', name: 'Dra. Gabriella Rossmann' },\n  { location_id: 'uSwkCg4V1rfpvk4tG6zP', name: 'Stella BPOSS' }\n];\n\nreturn locations.map(loc => ({ json: loc }));"
      },
      "id": "get-locations",
      "name": "Listar Locations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const opportunities = $input.first().json.opportunities || [];\nconst locationId = $('Listar Locations').item.json.location_id;\nconst locationName = $('Listar Locations').item.json.name;\n\nif (!opportunities.length) {\n  return [{ json: { skip: true, locationId, message: 'Sem oportunidades' } }];\n}\n\nreturn opportunities.map(opp => ({\n  json: {\n    id: opp.id,\n    location_id: locationId,\n    contact_id: opp.contact?.id || opp.contactId || null,\n    contact_name: opp.contact?.name || opp.name || null,\n    contact_email: opp.contact?.email || null,\n    contact_phone: opp.contact?.phone || null,\n    pipeline_id: opp.pipelineId || null,\n    pipeline_name: opp.pipelineName || null,\n    stage_id: opp.pipelineStageId || null,\n    stage_name: opp.pipelineStageName || opp.status || null,\n    status: opp.status || 'open',\n    monetary_value: opp.monetaryValue || 0,\n    source: opp.source || null,\n    assigned_to: opp.assignedTo || null,\n    created_at: opp.createdAt || opp.dateAdded || null,\n    updated_at: opp.updatedAt || opp.lastStatusChangeAt || null,\n    last_status_change_at: opp.lastStatusChangeAt || null,\n    synced_at: new Date().toISOString()\n  }\n}));"
      },
      "id": "transform-data",
      "name": "Transformar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ghl_opportunities",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "location_id",
              "value": "={{ $json.location_id }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $json.contact_id }}"
            },
            {
              "name": "contact_name",
              "value": "={{ $json.contact_name }}"
            },
            {
              "name": "contact_email",
              "value": "={{ $json.contact_email }}"
            },
            {
              "name": "contact_phone",
              "value": "={{ $json.contact_phone }}"
            },
            {
              "name": "pipeline_id",
              "value": "={{ $json.pipeline_id }}"
            },
            {
              "name": "pipeline_name",
              "value": "={{ $json.pipeline_name }}"
            },
            {
              "name": "stage_id",
              "value": "={{ $json.stage_id }}"
            },
            {
              "name": "stage_name",
              "value": "={{ $json.stage_name }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "monetary_value",
              "value": "={{ $json.monetary_value }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source }}"
            },
            {
              "name": "assigned_to",
              "value": "={{ $json.assigned_to }}"
            },
            {
              "name": "created_at",
              "value": "={{ $json.created_at }}"
            },
            {
              "name": "updated_at",
              "value": "={{ $json.updated_at }}"
            },
            {
              "name": "last_status_change_at",
              "value": "={{ $json.last_status_change_at }}"
            },
            {
              "name": "synced_at",
              "value": "={{ $json.synced_at }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "supabase-upsert",
      "name": "Supabase - Upsert (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true,
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "filter-skip",
      "name": "Filtrar Vazios",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "no-op",
      "name": "Fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "A cada 1 hora": {
      "main": [
        [
          {
            "node": "Listar Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Locations": {
      "main": [
        [
          {
            "node": "GHL - Buscar Oportunidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Buscar Oportunidades": {
      "main": [
        [
          {
            "node": "Transformar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Dados": {
      "main": [
        [
          {
            "node": "Filtrar Vazios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Vazios": {
      "main": [
        [
          {
            "node": "Supabase - Upsert (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Upsert (HTTP)": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "GHL Sync"
    }
  ]
}
