apps/testing/workflows 💎/1. core/0.1 tools/10. Escalar Humano/workflow.json
{
  "updatedAt": "2026-01-09T14:45:09.493Z",
  "createdAt": "2025-11-06T21:58:04.302Z",
  "id": "RtgpAYdMwT8GCnBr",
  "name": "05. Escalar humano",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        720
      ],
      "id": "2face4f0-e36f-4f86-943e-a0339e820cb7",
      "name": "Listar etiquetas da conversa"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "ultima_mensagem"
            },
            {
              "name": "resumo_conversa"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_conversa"
            },
            {
              "name": "url_chatwoot"
            },
            {
              "name": "id_conversa_alerta"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        832,
        720
      ],
      "id": "b88cd2c7-4fa5-4fbe-8d32-2e637b0010a7",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa_alerta }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Assistente desabilitado para o usuário {{ $('Gatilho').item.json.nome || '(usuário não cadastrado)' }} ({{ $('Gatilho').item.json.telefone }}).\n\n*Última mensagem*:\n\n\"{{ $('Gatilho').item.json.ultima_mensagem }}\"\n\n*Resumo da conversa*:\n\n\"{{ $('Gatilho').item.json.resumo_conversa }}\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        720
      ],
      "id": "6b5be01b-c42d-450b-96e7-c7d8fa6cdb56",
      "name": "Enviar alerta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3b51e260-d4ab-4748-82b0-f8012c3f3c70",
              "leftValue": "={{ $('Gatilho').item.json.id_conversa_alerta }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4e6460eb-24f7-4c79-a0d0-a6595db722b3",
              "leftValue": "={{ $('Gatilho').item.json.id_conversa_alerta }}",
              "rightValue": "<inserir id da conversa de alerta>",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        720
      ],
      "id": "f4b7c94d-485d-4ece-9f6b-f4661bdb7601",
      "name": "Conversa de alerta configurada?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1584,
        880
      ],
      "id": "ce648882-061c-426f-8f6d-01e2c408d329",
      "name": "Alerta não configurado"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] Abrir nodes do Chatwoot para selecionar credencial",
        "height": 128,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        944
      ],
      "id": "7fd5f48d-8004-4a4d-8535-ae2ded8ab799",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 05. Escalar humano",
        "height": 80,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "07254d28-03a8-4d01-a7e9-b4b7b875ee87",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.payload.append('agente-off').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        720
      ],
      "id": "3a75902a-6bc1-4ee0-8c3d-c14a323e8cb0",
      "name": "Colocar etiqueta agente-off"
    },
    {
      "parameters": {
        "content": "## Colocar etiqueta e enviar alerta",
        "height": 416,
        "width": 1024,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        624
      ],
      "typeVersion": 1,
      "id": "9f9f968a-3bb4-4cb3-a344-7ee548973bec",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        96
      ],
      "id": "34dc0f51-6441-4d7c-85a8-32fd0823d2d0",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        96
      ],
      "id": "516116c3-5f88-4ba9-b097-46b3910a0623",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        544
      ],
      "id": "40bcf244-55e5-424c-9ea0-de8674ead689",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        640
      ],
      "id": "88081e27-0474-4d7a-bccc-d883fefdbbe5",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        96
      ],
      "id": "d4b73aa7-6a26-407c-94ae-7fdcf90dced8",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "@[youtube](Vv_uQGehgIc)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1808,
        624
      ],
      "id": "ae006fae-414f-42cf-ae22-59f16d814d26",
      "name": "Sticky Note17"
    }
  ],
  "connections": {
    "Listar etiquetas da conversa": {
      "main": [
        [
          {
            "node": "Colocar etiqueta agente-off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho": {
      "main": [
        [
          {
            "node": "Listar etiquetas da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversa de alerta configurada?": {
      "main": [
        [
          {
            "node": "Enviar alerta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta não configurado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta agente-off": {
      "main": [
        [
          {
            "node": "Conversa de alerta configurada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8e613b04-bfc0-4cac-9b32-befc787d5ce2",
  "activeVersionId": "8e613b04-bfc0-4cac-9b32-befc787d5ce2",
  "versionCounter": 14,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-06T21:58:04.316Z",
      "createdAt": "2025-11-06T21:58:04.316Z",
      "role": "workflow:owner",
      "workflowId": "RtgpAYdMwT8GCnBr",
      "projectId": "VAjodPr5Fy7WALLy",
      "project": {
        "updatedAt": "2025-06-18T03:44:57.988Z",
        "createdAt": "2025-06-18T03:36:54.736Z",
        "id": "VAjodPr5Fy7WALLy",
        "name": "Alan Jones Rios <alan@mentorfy.io>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-18T03:36:54.737Z",
            "createdAt": "2025-06-18T03:36:54.737Z",
            "userId": "c236702a-fb1c-471c-b22c-6b898a17bcb1",
            "projectId": "VAjodPr5Fy7WALLy",
            "user": {
              "updatedAt": "2026-01-26T04:01:50.000Z",
              "createdAt": "2025-06-18T03:36:53.786Z",
              "id": "c236702a-fb1c-471c-b22c-6b898a17bcb1",
              "email": "alan@mentorfy.io",
              "firstName": "Alan Jones",
              "lastName": "Rios",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-18T03:45:05.123Z",
                "personalization_survey_n8n_version": "1.98.1"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ccHBfcfeKrXwUhIA",
                "userActivatedAt": 1750223854201,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1768854304461
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true,
                  "ragStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-31T15:56:56.242Z",
      "createdAt": "2025-12-31T15:56:56.242Z",
      "id": "aEqSgtPg6L57yGC9",
      "name": "fazerai"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-05T18:43:11.095Z",
    "createdAt": "2025-12-05T18:43:11.095Z",
    "versionId": "8e613b04-bfc0-4cac-9b32-befc787d5ce2",
    "workflowId": "RtgpAYdMwT8GCnBr",
    "nodes": [
      {
        "parameters": {
          "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/labels",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "chatwootApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1008,
          720
        ],
        "id": "2face4f0-e36f-4f86-943e-a0339e820cb7",
        "name": "Listar etiquetas da conversa"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telefone"
              },
              {
                "name": "nome"
              },
              {
                "name": "ultima_mensagem"
              },
              {
                "name": "resumo_conversa"
              },
              {
                "name": "id_conta"
              },
              {
                "name": "id_conversa"
              },
              {
                "name": "url_chatwoot"
              },
              {
                "name": "id_conversa_alerta"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          832,
          720
        ],
        "id": "b88cd2c7-4fa5-4fbe-8d32-2e637b0010a7",
        "name": "Gatilho"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa_alerta }}/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "chatwootApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "content",
                "value": "=Assistente desabilitado para o usuário {{ $('Gatilho').item.json.nome || '(usuário não cadastrado)' }} ({{ $('Gatilho').item.json.telefone }}).\n\n*Última mensagem*:\n\n\"{{ $('Gatilho').item.json.ultima_mensagem }}\"\n\n*Resumo da conversa*:\n\n\"{{ $('Gatilho').item.json.resumo_conversa }}\""
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1584,
          720
        ],
        "id": "6b5be01b-c42d-450b-96e7-c7d8fa6cdb56",
        "name": "Enviar alerta"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "3b51e260-d4ab-4748-82b0-f8012c3f3c70",
                "leftValue": "={{ $('Gatilho').item.json.id_conversa_alerta }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "4e6460eb-24f7-4c79-a0d0-a6595db722b3",
                "leftValue": "={{ $('Gatilho').item.json.id_conversa_alerta }}",
                "rightValue": "<inserir id da conversa de alerta>",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1360,
          720
        ],
        "id": "f4b7c94d-485d-4ece-9f6b-f4661bdb7601",
        "name": "Conversa de alerta configurada?"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1584,
          880
        ],
        "id": "ce648882-061c-426f-8f6d-01e2c408d329",
        "name": "Alerta não configurado"
      },
      {
        "parameters": {
          "content": "# Checklist\n- [ ] Abrir nodes do Chatwoot para selecionar credencial",
          "height": 128,
          "width": 400,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          944,
          944
        ],
        "id": "7fd5f48d-8004-4a4d-8535-ae2ded8ab799",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "content": "## 05. Escalar humano",
          "height": 80,
          "width": 400,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "07254d28-03a8-4d01-a7e9-b4b7b875ee87",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/labels",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "chatwootApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "labels",
                "value": "={{ $json.payload.append('agente-off').unique() }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1184,
          720
        ],
        "id": "3a75902a-6bc1-4ee0-8c3d-c14a323e8cb0",
        "name": "Colocar etiqueta agente-off"
      },
      {
        "parameters": {
          "content": "## Colocar etiqueta e enviar alerta",
          "height": 416,
          "width": 1024,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          768,
          624
        ],
        "typeVersion": 1,
        "id": "9f9f968a-3bb4-4cb3-a344-7ee548973bec",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
          "height": 440,
          "width": 500,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          560,
          96
        ],
        "id": "34dc0f51-6441-4d7c-85a8-32fd0823d2d0",
        "name": "Sticky Note13"
      },
      {
        "parameters": {
          "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
          "height": 440,
          "width": 1380,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1072,
          96
        ],
        "id": "516116c3-5f88-4ba9-b097-46b3910a0623",
        "name": "Sticky Note36"
      },
      {
        "parameters": {
          "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
          "height": 316,
          "width": 552,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          544
        ],
        "id": "40bcf244-55e5-424c-9ea0-de8674ead689",
        "name": "Sticky Note21"
      },
      {
        "parameters": {
          "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
          "height": 96,
          "width": 324,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          112,
          640
        ],
        "id": "88081e27-0474-4d7a-bccc-d883fefdbbe5",
        "name": "Sticky Note29"
      },
      {
        "parameters": {
          "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
          "height": 440,
          "width": 550,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          96
        ],
        "id": "d4b73aa7-6a26-407c-94ae-7fdcf90dced8",
        "name": "Sticky Note12"
      },
      {
        "parameters": {
          "content": "@[youtube](Vv_uQGehgIc)",
          "height": 224,
          "width": 368,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1808,
          624
        ],
        "id": "ae006fae-414f-42cf-ae22-59f16d814d26",
        "name": "Sticky Note17"
      }
    ],
    "connections": {
      "Listar etiquetas da conversa": {
        "main": [
          [
            {
              "node": "Colocar etiqueta agente-off",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gatilho": {
        "main": [
          [
            {
              "node": "Listar etiquetas da conversa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Conversa de alerta configurada?": {
        "main": [
          [
            {
              "node": "Enviar alerta",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Alerta não configurado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Colocar etiqueta agente-off": {
        "main": [
          [
            {
              "node": "Conversa de alerta configurada?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-11-06T21:58:04.000Z",
        "id": 88,
        "workflowId": "RtgpAYdMwT8GCnBr",
        "versionId": "8e613b04-bfc0-4cac-9b32-befc787d5ce2",
        "event": "activated",
        "userId": null
      }
    ]
  }
}
