apps/testing/workflows 💎/1. core/01-Organizador-Calls (no claude - projeto growth-os).json
{
  "name": "01-Organizador-Calls",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/drive/folders/1WTJrbMl8HLppIHIeHT94Qsbog9XpxOx2",
          "__regex": "https:\\/\\/drive\\.google\\.com(?:\\/.*|)\\/folders\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        4832,
        384
      ],
      "id": "eb6636f3-3156-4843-8623-720953d60c0f",
      "name": "Google Drive - Novo Arquivo em /7. Calls/",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      },
      "notes": "Monitora a pasta raiz /7. Calls/ a cada 5 minutos. Configure o polling para 5 minutos no n8n."
    },
    {
      "parameters": {
        "content": "## Monitor-Pasta-Calls (Orquestrador)\n\n**Funcao**: Monitora a pasta `/7. Calls/` no Google Drive, detecta novos arquivos, move para a subpasta correta baseado no prefixo do nome.\n\n**IMPORTANTE**: Os workflows das subpastas (AI Agent - Head de Vendas, Call Analyzer Onboarding, etc.) sao disparados automaticamente pelo proprio Google Drive Trigger deles quando o arquivo entra na subpasta.\n\n### Prefixos Suportados:\n- `Diagnostico` ou `DIAG_` -> `/1. Vendas/`\n- `Kickoff` ou `KICK_` -> `/2. Onboarding/`\n- `Acompanhamento` ou `ACOMP_` -> `/3. Revisao/`\n- `Suporte` ou `SUPORTE_` -> `/4. Suporte/`\n- `Alinhamento` ou `ALINH_` -> `/5. Churn/`\n- Sem prefixo -> `/6. Outros/` -> Notifica CS\n\n### Configuracao Necessaria:\n1. Substituir credential IDs do Google Drive\n2. Configurar polling para 5 minutos\n3. Configurar folder ID correto",
        "height": 520,
        "width": 360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4352,
        272
      ],
      "id": "03900acb-5f09-4c5f-a72e-c9f355008deb",
      "name": "Instrucoes"
    },
    {
      "parameters": {
        "content": "## Fluxo Simplificado\n\n```\n1. Arquivo novo em /7. Calls/\n   |\n2. Classifica por prefixo\n   |\n3. Move para subpasta correta\n   |\n4. Registra no Postgres (call_recordings)\n   |\n5. Se nao reconhecido -> Notifica CS\n   |\n6. FIM\n```\n\n**Os workflows das subpastas sao disparados automaticamente!**\n- /1. Vendas/ -> AI Agent - Head de Vendas\n- /2. Onboarding/ -> Call Analyzer Onboarding\n- etc.",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4320,
        848
      ],
      "id": "8041af46-d428-4ff0-96c8-b41665130b8e",
      "name": "Fluxo"
    },
    {
      "parameters": {
        "jsCode": "// IDs das pastas de destino\nconst pastasIds = {\n  '1. Vendas': '1yr256LwbLKJZ5HzHgC7Zq25MrSOKTQEs',\n  '2. Onboarding': '1JS87Zs1bRSiNKjqVPTZ3GkfCvMnUj8PO',\n  '3. Revisao': '1psAln8h2Il5ic6U8Nv8UhRWt6RNbnmyQ',\n  '4. Suporte': '15Q6LzE0Mujxj-Q8lqNjx8rmRjVyUx0Kw',\n  '5. Churn': '1G56zGj8N6mhdS7nZH77mtK15wGDFV8kk',\n  '6. Outros': '1Z0Zdo05XxtBhIe8mwUUkgGsld3PanHKU'\n};\n\nconst config = {\n  prefixos: {\n    'DIAGNOSTICO': { pasta: '1. Vendas', tipo: 'diagnostico' },\n    'DIAG_': { pasta: '1. Vendas', tipo: 'diagnostico' },\n    'KICKOFF': { pasta: '2. Onboarding', tipo: 'kickoff' },\n    'KICK_': { pasta: '2. Onboarding', tipo: 'kickoff' },\n    'ACOMPANHAMENTO': { pasta: '3. Revisao', tipo: 'acompanhamento' },\n    'ACOMP_': { pasta: '3. Revisao', tipo: 'acompanhamento' },\n    'REVISAO': { pasta: '3. Revisao', tipo: 'revisao' },\n    'REV_': { pasta: '3. Revisao', tipo: 'revisao' },\n    'ALINHAMENTO': { pasta: '3. Revisao', tipo: 'alinhamento' },\n    'ALINH_': { pasta: '3. Revisao', tipo: 'alinhamento' },\n    'SUPORTE': { pasta: '4. Suporte', tipo: 'suporte' },\n    'SUP_': { pasta: '4. Suporte', tipo: 'suporte' },\n    'CHURN': { pasta: '5. Churn', tipo: 'churn' },\n    'CHURN_': { pasta: '5. Churn', tipo: 'churn' }\n  },\n  fallback: { pasta: '6. Outros', tipo: 'outro' },\n  notificacaoContactId: 'Ql1qBRN8GTemuG0BlM0F',\n  defaultLocationId: 'cd1uyzpJox6XPt4Vct8Y'\n};\n\nconst arquivo = $input.first().json;\nconst nomeArquivo = arquivo.name || '';\n\n// Remover emojis do nome para processamento\nconst nomeClean = nomeArquivo.replace(/[\\u{1F300}-\\u{1F9FF}\\u{2600}-\\u{26FF}\\u{2700}-\\u{27BF}]/gu, '').trim();\nconst nomeUpper = nomeClean.toUpperCase();\n\n// Identificar prefixo\nlet prefixoEncontrado = null;\nlet configDestino = config.fallback;\n\nfor (const [prefixo, cfg] of Object.entries(config.prefixos)) {\n  if (nomeUpper.startsWith(prefixo) || nomeUpper.includes(' ' + prefixo + ' ') || nomeUpper.includes(prefixo + ' ')) {\n    prefixoEncontrado = prefixo.replace('_', '');\n    configDestino = cfg;\n    break;\n  }\n}\n\n// Extrair partes do nome separadas por ' - '\nlet partes = nomeClean.split(' - ').map(p => p.trim());\n\n// NOVO PARSER: Identificar campos por PADRAO ao inves de posicao fixa\n// Padroes:\n// - Telefone: comeca com + seguido de numeros OU so numeros com 10+ digitos\n// - LocationId: alfanumerico com ~20 chars (ex: cd1uyzpJox6XPt4Vct8Y)\n// - Data: formato yyyy-MM-dd ou dd-MM-yyyy\n// - Numero sequencial: apenas digitos com 1-4 chars\n// - Tipo: palavras-chave conhecidas (Diagnostico, Kickoff, etc)\n// - Nome: o resto\n\nconst isPhone = (s) => /^\\+?\\d{10,}$/.test(s.replace(/[^0-9+]/g, '')) || s.startsWith('+');\nconst isLocationId = (s) => /^[a-zA-Z0-9]{15,25}$/.test(s) && /[a-zA-Z]/.test(s) && !/^\\+/.test(s);\nconst isDate = (s) => /\\d{4}-\\d{2}-\\d{2}/.test(s) || /\\d{2}-\\d{2}-\\d{4}/.test(s);\nconst isSequentialNumber = (s) => /^\\d{1,4}$/.test(s);\nconst isTipo = (s) => Object.keys(config.prefixos).some(p => s.toUpperCase().includes(p.replace('_', '')));\nconst isCopia = (s) => s.toLowerCase().startsWith('copia de') || s.toLowerCase().startsWith('cópia de');\n\nlet nome = '';\nlet telefone = '';\nlet telefoneFormatado = '';\nlet locationId = '';\nlet partesNome = [];\n\nfor (const parte of partes) {\n  if (isSequentialNumber(parte)) continue; // Ignora numero sequencial\n  if (isCopia(parte)) continue; // Ignora 'Copia de'\n  if (isDate(parte)) continue; // Ignora datas\n  if (isTipo(parte) && !nome) continue; // Ignora tipo se ainda nao achou nome\n  \n  if (isPhone(parte) && !telefone) {\n    telefone = parte.replace(/[^0-9]/g, '');\n  } else if (isLocationId(parte) && !locationId) {\n    locationId = parte;\n  } else if (!isTipo(parte) && !isSequentialNumber(parte)) {\n    // E provavelmente parte do nome\n    partesNome.push(parte);\n  }\n}\n\n// Juntar partes do nome (pode ter sido dividido)\nnome = partesNome.join(' ').trim();\n\n// Formatar telefone para busca no GHL\nif (telefone.length >= 10) {\n  const isGHLGroupId = telefone.startsWith('120363') || telefone.length > 13;\n  if (isGHLGroupId) {\n    telefoneFormatado = '+' + telefone;\n  } else {\n    const telefoneLimpo = telefone.startsWith('0') ? telefone.substring(1) : telefone;\n    telefoneFormatado = '+55' + telefoneLimpo;\n  }\n}\n\n// Usar locationId padrao se nao encontrou\nif (!locationId) locationId = config.defaultLocationId;\n\nconst nomeLimpo = nomeClean;\nconst temNome = nome.length > 0;\nconst temTelefone = telefone.length >= 10;\nconst dadosCompletos = temNome && temTelefone;\n\nconst notificacaoNecessaria = prefixoEncontrado !== null && !dadosCompletos;\n\nconst resultado = {\n  arquivo: {\n    id: arquivo.id,\n    nome: nomeArquivo,\n    nomeLimpo: nomeLimpo,\n    mimeType: arquivo.mimeType,\n    createdTime: arquivo.createdTime,\n    webViewLink: arquivo.webViewLink\n  },\n  classificacao: {\n    prefixo: prefixoEncontrado,\n    tipo: configDestino.tipo,\n    pastaDestino: configDestino.pasta,\n    pastaDestinoId: pastasIds[configDestino.pasta],\n    reconhecido: prefixoEncontrado !== null\n  },\n  dadosExtraidos: {\n    nome: nome,\n    telefone: telefone,\n    telefoneFormatado: telefoneFormatado,\n    locationId: locationId,\n    temNome: temNome,\n    temTelefone: temTelefone,\n    dadosCompletos: dadosCompletos\n  },\n  notificacao: {\n    necessaria: notificacaoNecessaria,\n    contactId: config.notificacaoContactId,\n    mensagem: notificacaoNecessaria\n      ? `Arquivo com dados incompletos: ${nomeArquivo}. Falta: ${!temNome ? 'Nome' : ''} ${!temTelefone ? 'Telefone' : ''}. Movido para /${configDestino.pasta}/`\n      : null\n  }\n};\n\nreturn [{ json: resultado }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5056,
        384
      ],
      "id": "ba5145b8-c32a-473a-95ec-5372c3f5b20f",
      "name": "Classificar Arquivo por Prefixo"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Classificar Arquivo por Prefixo').item.json.arquivo.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $json.numero }} - {{ $('Classificar Arquivo por Prefixo').item.json.arquivo.nomeLimpo }} - {{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd_HH-mm') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5728,
        384
      ],
      "id": "5e63baf1-414e-4029-a8de-aa4a0393f6eb",
      "name": "Renomear Arquivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Classificar Arquivo por Prefixo').item.json.arquivo.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Classificar Arquivo por Prefixo').item.json.classificacao.pastaDestinoId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5952,
        384
      ],
      "id": "1ff1dc5e-c0c9-4724-a1d4-e7f9fbf56464",
      "name": "Mover para Subpasta",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pegar dados do contato GHL (se API funcionou) ou fallback para dados extraídos do arquivo\nconst contatoGHL = $('Buscar Contato GHL').first()?.json?.contacts?.[0];\nconst dadosArquivo = $('Classificar Arquivo por Prefixo').item.json.dadosExtraidos;\nconst arquivoInfo = $('Renomear Arquivo').item.json;\nconst classificacao = $('Classificar Arquivo por Prefixo').item.json.classificacao;\n\n// Priorizar dados do GHL, mas usar fallback do arquivo se GHL falhar\nconst contactName = contatoGHL?.fullNameLowerCase || contatoGHL?.name || dadosArquivo.nome || null;\nconst contactPhone = contatoGHL?.phone || dadosArquivo.telefoneFormatado || dadosArquivo.telefone || null;\nconst contactId = contatoGHL?.id || null;\nconst locationId = dadosArquivo.locationId || 'cd1uyzpJox6XPt4Vct8Y';\nconst apiKey = 'pit-99a302ca-7292-4872-8a9f-f4cf3dc1143f';\n\nreturn [{\n  json: {\n    tipo: classificacao.tipo,\n    titulo: arquivoInfo.name,\n    gdrive_file_id: $('Classificar Arquivo por Prefixo').item.json.arquivo.id,\n    gdrive_url: 'https://drive.google.com/file/d/' + $('Classificar Arquivo por Prefixo').item.json.arquivo.id + '/view',\n    contact_id: contactId,\n    location_id: locationId,\n    contact_name: contactName,\n    contact_phone: contactPhone,\n    api_key: apiKey,\n    status: 'movido'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6176,
        384
      ],
      "id": "6da2d503-97e2-4ea3-a70f-01f58b282786",
      "name": "Preparar Dados Call"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO call_recordings (\n  tipo,\n  titulo,\n  gdrive_file_id,\n  gdrive_url,\n  contact_id,\n  location_id,\n  contact_name,\n  contact_phone,\n  api_key,\n  nome_lead,\n  telefone,\n  status\n) VALUES (\n  '{{ $json.tipo }}',\n  '{{ $json.titulo }}',\n  '{{ $json.gdrive_file_id }}',\n  '{{ $json.gdrive_url }}',\n  '{{ $json.contact_id || '' }}',\n  '{{ $json.location_id }}',\n  '{{ $json.contact_name || '' }}',\n  '{{ $json.contact_phone || '' }}',\n  '{{ $json.api_key }}',\n  '{{ $json.contact_name || '' }}',\n  '{{ $json.contact_phone || '' }}',\n  '{{ $json.status }}'\n) RETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6400,
        384
      ],
      "id": "fc2481ee-72b3-4aa2-ab98-6a1e722570ac",
      "name": "Registrar Call no Supabase",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-notificacao",
              "leftValue": "={{ $('Classificar Arquivo por Prefixo').item.json.notificacao.necessaria }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6624,
        384
      ],
      "id": "895d7f6d-7b4f-4a9c-b83a-469b2096c9d1",
      "name": "Dados Incompletos?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-99a302ca-7292-4872-8a9f-f4cf3dc1143f"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"WhatsApp\",\n  \"contactId\": \"{{ $('Classificar Arquivo por Prefixo').item.json.notificacao.contactId }}\",\n  \"message\": \"{{ $('Classificar Arquivo por Prefixo').item.json.notificacao.mensagem }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6848,
        480
      ],
      "id": "60b747cc-8c97-4fe7-b42a-820c7e7e8087",
      "name": "Notificar CS via WhatsApp"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6848,
        288
      ],
      "id": "e09dfdaa-d5d2-4821-9960-aa9e17243652",
      "name": "Fim OK"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/search",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "locationId",
              "value": "={{ $json.dadosExtraidos.locationId }}"
            },
            {
              "name": "pageLimit",
              "value": "={{ 20 }}"
            },
            {
              "name": "query",
              "value": "={{ $json.dadosExtraidos.telefoneFormatado || $json.dadosExtraidos.telefone }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer pit-99a302ca-7292-4872-8a9f-f4cf3dc1143f"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        }
      },
      "name": "Buscar Contato GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        5280,
        384
      ],
      "id": "d1ba76e0-5e59-46eb-982b-d08c3d69648c",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "notes": "Busca contato por TELEFONE se não encontrou por email"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE call_counters SET ultimo_numero = ultimo_numero + 1, updated_at = NOW() WHERE tipo = '{{ $('Classificar Arquivo por Prefixo').item.json.classificacao.tipo }}' RETURNING ultimo_numero as numero",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5504,
        384
      ],
      "id": "ccd3586b-e93b-4f28-8e6a-4973d57b20c1",
      "name": "Buscar Próximo Número",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    }
  ],
  "pinData": {
    "Google Drive - Novo Arquivo em /7. Calls/": [
      {
        "json": {
          "exportLinks": {
            "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1CTJRRR_zFWlvFkGi6Qd73gyoXfhxayJmbYlYkN91YjQ&exportFormat=rtf",
            "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1CTJRRR_zFWlvFkGi6Qd73gyoXfhxayJmbYlYkN91YjQ&exportFormat=odt",
            "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1CTJRRR_zFWlvFkGi6Qd73gyoXfhxayJmbYlYkN91YjQ&exportFormat=html",
            "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1CTJRRR_zFWlvFkGi6Qd73gyoXfhxayJmbYlYkN91YjQ&exportFormat=pdf",
            "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1CTJRRR_zFWlvFkGi6Qd73gyoXfhxayJmbYlYkN91YjQ&exportFormat=markdown",
            "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1CTJRRR_zFWlvFkGi6Qd73gyoXfhxayJmbYlYkN91YjQ&exportFormat=markdown",
            "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1CTJRRR_zFWlvFkGi6Qd73gyoXfhxayJmbYlYkN91YjQ&exportFormat=epub",
            "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1CTJRRR_zFWlvFkGi6Qd73gyoXfhxayJmbYlYkN91YjQ&exportFormat=zip",
            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1CTJRRR_zFWlvFkGi6Qd73gyoXfhxayJmbYlYkN91YjQ&exportFormat=docx",
            "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1CTJRRR_zFWlvFkGi6Qd73gyoXfhxayJmbYlYkN91YjQ&exportFormat=txt"
          },
          "parents": [
            "1WTJrbMl8HLppIHIeHT94Qsbog9XpxOx2"
          ],
          "lastModifyingUser": {
            "displayName": "Marcos Daniel",
            "kind": "drive#user",
            "me": true,
            "permissionId": "17593624161997979916",
            "emailAddress": "ceo@marcosdaniels.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIxThQOKn67oYJ_d9CnClrZihFO_WHmcBS38rmK-BOgakQn-Cek4A=s64"
          },
          "owners": [
            {
              "displayName": "Marcos Daniel",
              "kind": "drive#user",
              "me": true,
              "permissionId": "17593624161997979916",
              "emailAddress": "ceo@marcosdaniels.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIxThQOKn67oYJ_d9CnClrZihFO_WHmcBS38rmK-BOgakQn-Cek4A=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "04781390080190356985",
              "type": "user",
              "emailAddress": "hallennaiane@gmail.com",
              "role": "writer",
              "displayName": "hallennaiane",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUJy1Jg57ERAE0s3uZv_8WfKrvWh1P_eNTu6SQEH0wcyaXzegY=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "17593624161997979916",
              "type": "user",
              "emailAddress": "ceo@marcosdaniels.com",
              "role": "owner",
              "displayName": "Marcos Daniel",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIxThQOKn67oYJ_d9CnClrZihFO_WHmcBS38rmK-BOgakQn-Cek4A=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "04781390080190356985",
            "17593624161997979916"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1CTJRRR_zFWlvFkGi6Qd73gyoXfhxayJmbYlYkN91YjQ",
          "name": "Cópia de 14 - Diagnostico -  Dr Luiz e Mariana Carvalho Giareta  - +120363406157741216 - cd1uyzpJox6XPt4Vct8Y - 2025-12-17_11-40 - 2025-12-19_08-04",
          "mimeType": "application/vnd.google-apps.document",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "5",
          "webViewLink": "https://docs.google.com/document/d/1CTJRRR_zFWlvFkGi6Qd73gyoXfhxayJmbYlYkN91YjQ/edit?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBNn-il62Ja8LLkDdnz3MiYySJu15BJEJcMIuaJ6zEDw9QKqPMhWfsLWDNxYPzecNBo-D29vEAaqsYbCQG79Bj54Ed5X94UDudliNojLyudTv1Vxtc3bXTgsDNHifg=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2026-01-01T20:37:25.427Z",
          "createdTime": "2026-01-01T20:37:23.579Z",
          "modifiedTime": "2026-01-01T20:37:23.579Z",
          "modifiedByMeTime": "2026-01-01T20:37:23.579Z",
          "modifiedByMe": true,
          "shared": true,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "size": "42726",
          "quotaBytesUsed": "42726",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Drive - Novo Arquivo em /7. Calls/": {
      "main": [
        [
          {
            "node": "Classificar Arquivo por Prefixo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Arquivo por Prefixo": {
      "main": [
        [
          {
            "node": "Buscar Contato GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renomear Arquivo": {
      "main": [
        [
          {
            "node": "Mover para Subpasta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mover para Subpasta": {
      "main": [
        [
          {
            "node": "Preparar Dados Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados Call": {
      "main": [
        [
          {
            "node": "Registrar Call no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Call no Supabase": {
      "main": [
        [
          {
            "node": "Dados Incompletos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Incompletos?": {
      "main": [
        [
          {
            "node": "Notificar CS via WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fim OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contato GHL": {
      "main": [
        [
          {
            "node": "Buscar Próximo Número",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Próximo Número": {
      "main": [
        [
          {
            "node": "Renomear Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25b03315-9572-4677-a188-da59ae479605",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "Gzkzaav9Yyx8kmpU",
  "tags": [
    {
      "updatedAt": "2025-12-18T12:58:38.555Z",
      "createdAt": "2025-12-18T12:58:38.555Z",
      "id": "QPdL3PFQliP97uve",
      "name": "ai factory - vertical"
    }
  ]
}