apps/testing/workflows 💎/1. core/02-AI-Agent-Head-Vendas (no claude - projeto growth-os).json
{
  "name": "02-AI-Agent-Head-Vendas-V2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1yr256LwbLKJZ5HzHgC7Zq25MrSOKTQEs",
          "mode": "url"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        752,
        464
      ],
      "id": "50ab3d5d-cdab-4a5f-baf5-b98be492245a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cr.*, l.api_key as location_api_key, l.association_id FROM call_recordings cr LEFT JOIN locations l ON cr.location_id = l.location_id WHERE cr.gdrive_file_id = '{{ $json.id }}' AND cr.status = 'movido' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        976,
        464
      ],
      "id": "72f77326-bf7d-4a8d-b29e-444b0949a589",
      "name": "Buscar Call no Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-call-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        464
      ],
      "id": "7abf8480-534d-4842-9d1b-f0f667f4a648",
      "name": "Call Existe?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1424,
        560
      ],
      "id": "163d2256-7365-4bdd-b990-5c55df839659",
      "name": "Skip - Call nao encontrada"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Google Drive Trigger').item.json.id }}/export",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mimeType",
              "value": "text/plain"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        368
      ],
      "id": "2da0f355-f57f-40f6-a767-eef5e134b35e",
      "name": "Export Google Doc como Texto",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Buscar dados do node que tem as informações corretas\n  const dadosCall = $('Buscar Call no Supabase').first().json;\n\n  // Tentar buscar Pre-Processador, mas pode não existir nesse caminho\n  let preProcessador = {};\n  try {\n    preProcessador = $('Pre-Processador Transcricao').first().json || {};\n  } catch (e) {\n    preProcessador = {};\n  }\n\n  // Função para formatar cada item da análise\n  function formatItem(item, dadosCall, preProcessador) {\n    // Extrair dados da análise do AI\n    const analise = item.json?.message?.content || item.json?.content || item.json || {};\n\n    // Se vier como string JSON, fazer parse\n    let analiseObj = analise;\n    if (typeof analise === 'string') {\n      try {\n        analiseObj = JSON.parse(analise);\n      } catch (e) {\n        analiseObj = { raw_response: analise };\n      }\n    }\n\n    return {\n      json: {\n        // === CAMPOS DE IDENTIFICAÇÃO (do Buscar Call no Supabase) ===\n        call_recording_id: dadosCall.id || preProcessador.call_recording_id || null,\n        location_id: dadosCall.location_id || preProcessador.location_id || null,\n        location_api_key: dadosCall.location_api_key || dadosCall.api_key || preProcessador.location_api_key || null,\n        contact_id: dadosCall.contact_id || preProcessador.contact_id || null,\n\n        // === CAMPOS ADICIONAIS DO CALL (do Buscar Call no Supabase) ===\n        gdrive_url: dadosCall.gdrive_url || preProcessador.gdrive_url || null,\n        association_id: dadosCall.association_id || preProcessador.association_id || null,\n        nome_lead: dadosCall.nome_lead || preProcessador.nome_lead || null,\n\n        // === CAMPOS DA ANÁLISE (do AI) ===\n        resumo: analiseObj.resumo || analiseObj.summary || null,\n        sentimento: analiseObj.sentimento || analiseObj.sentiment || null,\n        intencao: analiseObj.intencao || analiseObj.intent || null,\n        proximos_passos: analiseObj.proximos_passos || analiseObj.next_steps || null,\n        score_qualificacao: analiseObj.score_qualificacao || analiseObj.qualification_score || null,\n        objecoes: analiseObj.objecoes || analiseObj.objections || null,\n        pontos_positivos: analiseObj.pontos_positivos || analiseObj.positive_points || null,\n        pontos_negativos: analiseObj.pontos_negativos || analiseObj.negative_points || null,\n        keywords: analiseObj.keywords || analiseObj.palavras_chave || null,\n        duracao_estimada: analiseObj.duracao_estimada || analiseObj.estimated_duration || null,\n        tipo_ligacao: analiseObj.tipo_ligacao || analiseObj.call_type || null,\n        status_lead: analiseObj.status_lead || analiseObj.lead_status || null,\n        temperatura_lead: analiseObj.temperatura_lead || analiseObj.lead_temperature || null,\n\n        // === CAMPOS PARA GHL (Custom Fields) ===\n        ghl_resumo_ligacao: analiseObj.resumo || analiseObj.summary || null,\n        ghl_sentimento: analiseObj.sentimento || analiseObj.sentiment || null,\n        ghl_proximos_passos: Array.isArray(analiseObj.proximos_passos)\n          ? analiseObj.proximos_passos.join('; ')\n          : (analiseObj.proximos_passos || analiseObj.next_steps || null),\n        ghl_score: analiseObj.score_qualificacao || analiseObj.qualification_score || null,\n        ghl_temperatura: analiseObj.temperatura_lead || analiseObj.lead_temperature || null,\n\n        // === RESPOSTA COMPLETA (para debug/referência) ===\n        analise_completa: analiseObj,\n\n        // === METADADOS ===\n        processed_at: new Date().toISOString(),\n        processing_status: 'success'\n      }\n    };\n  }\n\n  // Processar todos os itens de entrada\n  const items = $input.all();\n  const results = [];\n\n  for (const item of items) {\n    try {\n      const formatted = formatItem(item, dadosCall, preProcessador);\n      results.push(formatted);\n    } catch (error) {\n      results.push({\n        json: {\n          call_recording_id: dadosCall.id || null,\n          location_id: dadosCall.location_id || null,\n          location_api_key: dadosCall.location_api_key || dadosCall.api_key || null,\n          contact_id: dadosCall.contact_id || null,\n          processing_status: 'error',\n          error_message: error.message,\n          processed_at: new Date().toISOString()\n        }\n      });\n    }\n  }\n\n  return results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        368
      ],
      "id": "46014332-22ce-47d6-9b04-3a303eadef0d",
      "name": "Pre-Processador Transcricao"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.transcricao_processada }}",
        "options": {
          "systemMessage": "=={{ $('2.1 Resolver Variáveis').item.json.prompt_final }}"
        }
      },
      "id": "0e85a5f8-b2db-4beb-83e4-5cacea157664",
      "name": "AI Agent - Head de Vendas V2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2320,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n  const dadosCall = $('Buscar Call no Supabase').first().json;  // ADICIONAR ESTA LINHA\nfunction cleanFences(s) {\n  if (typeof s !== 'string') s = String(s ?? '');\n  let r = s.trim();\n  r = r.replace(/^\\s*```[a-z]*\\s*/i, '');\n  r = r.replace(/\\s*```$/, '');\n  return r;\n}\n\nfunction findBalancedEnd(s, start) {\n  let depth = 0, inStr = false, esc = false;\n  for (let i = start; i < s.length; i++) {\n    const ch = s[i];\n    if (inStr) {\n      if (esc) { esc = false; }\n      else if (ch === '\\\\') { esc = true; }\n      else if (ch === '\"') { inStr = false; }\n    } else {\n      if (ch === '\"') inStr = true;\n      else if (ch === '{') depth++;\n      else if (ch === '}') { depth--; if (depth === 0) return i; }\n    }\n  }\n  return -1;\n}\n\nfunction tryParse(str) {\n  try { return JSON.parse(str); } catch {}\n  const raw = cleanFences(str);\n  try { return JSON.parse(raw); } catch {}\n  const start = raw.indexOf('{');\n  const end = start >= 0 ? findBalancedEnd(raw, start) : -1;\n  if (start >= 0 && end >= 0) {\n    const jsonStr = raw.slice(start, end + 1);\n    try { return JSON.parse(jsonStr); } catch {}\n  }\n  return null;\n}\n\nfunction formatItem(analise, preProcessador) {\n  let tier, cor, emoji;\n  const scoreTotal = Number(analise?.analise_geral?.score_total ?? 0);\n  if (scoreTotal >= 81) { tier = 'A+ EXCELENTE'; cor = '#10b981'; emoji = '🏆'; }\n  else if (scoreTotal >= 61) { tier = 'B BOA'; cor = '#3b82f6'; emoji = '✅'; }\n  else if (scoreTotal >= 41) { tier = 'C MEDIANA'; cor = '#f59e0b'; emoji = '⚠️'; }\n  else { tier = 'D FRACA'; cor = '#ef4444'; emoji = '❌'; }\n\n  const resumoFormatado = `\n${emoji} CALL ${tier}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nScore Total: ${scoreTotal}/100\nProbabilidade Fechamento: ${analise?.analise_geral?.probabilidade_fechamento ?? 0}%\nStatus: ${analise?.analise_geral?.status ?? ''}\n\n${analise?.analise_geral?.resumo_executivo ?? ''}\n`;\n\n  const scores = `\n📊 BREAKDOWN DE SCORES:\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n• Qualificacao (BANT): ${analise?.scores_detalhados?.qualificacao_bant?.score ?? 0}/10\n• Descoberta (SPIN): ${analise?.scores_detalhados?.descoberta_spin?.score ?? 0}/10\n• Conducao: ${analise?.scores_detalhados?.conducao?.score ?? 0}/10\n• Fechamento: ${analise?.scores_detalhados?.fechamento?.score ?? 0}/10\n`;\n\n  return {\n    json: {\n      ...analise,\n      metadata: {\n        tier,\n        cor,\n        emoji,\n        resumo_formatado: resumoFormatado,\n        scores_formatado: scores,\n        timestamp: new Date().toISOString(),\n        reducao_tokens: preProcessador?.reducao_percentual ?? 'N/A'\n      },\n      // Preserva dados do pre-processador\n      location_id: preProcessador?.location_id,\n      location_api_key: preProcessador?.location_api_key,\n      contact_id: preProcessador?.contact_id,\n      call_recording_id: preProcessador?.call_recording_id,\n      tipo_call: preProcessador?.tipo_call,\n      gdrive_url: preProcessador?.gdrive_url,\n      association_id: preProcessador?.association_id,\n      nome_lead: preProcessador?.nome_lead\n    }\n  };\n}\n\nconst preProcessador = $('Pre-Processador Transcricao').first().json;\n\nconst results = items.map(item => {\n  const rawVal = item?.json?.output ?? item?.json?.text;\n  const outputStr = typeof rawVal === 'string' ? rawVal : String(rawVal ?? '');\n  const analise = typeof rawVal === 'object' && rawVal ? rawVal : tryParse(outputStr);\n  \n  if (!analise) {\n    return {\n      json: {\n        metadata: {\n          erro_parse: true,\n          motivo: 'Resposta do agente incompleta ou com cercas Markdown. JSON invalido.',\n          raw_snippet: cleanFences(outputStr).slice(0, 1000),\n          timestamp: new Date().toISOString()\n        },\n        ...preProcessador\n      }\n    };\n  }\n  return formatItem(analise, preProcessador);\n});\n\nreturn results;"
      },
      "id": "f7d09a93-35d9-4134-b523-b14be8278f7f",
      "name": "Code - Processar Analise V2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        368
      ]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/locations/{{ $('Buscar Call no Supabase').first().json.location_id }}/customFields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer pit-fe627027-b9cb-4ea3-aaa4-149459e66a03"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        224
      ],
      "id": "dda5fbd6-22db-4a1d-b32b-41ff43f8f844",
      "name": "Listar Custom Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/objects/custom_objects.anlises_de_call/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code - Processar Analise V2').item.json.location_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $('Code - Processar Analise V2').item.json.location_id }}\",\n  \"properties\": {\n    \"resumo_da_call\": {{ JSON.stringify(String($('Code - Processar Analise V2').item.json.analise_geral?.resumo_executivo ?? 'Analise processada')) }},\n    \"data_call\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"tipo\": \"{{ $('Code - Processar Analise V2').item.json.tipo_call ?? 'diagnostico' }}\",\n    \"sentimento\": \"{{ ($('Code - Processar Analise V2').item.json.analise_geral?.score_total ?? 0) >= 61 ? 'positivo' : (($('Code - Processar Analise V2').item.json.analise_geral?.score_total ?? 0) >= 41 ? 'neutro' : 'negativo') }}\",\n    \"pontuacao_geral\": {{ $('Code - Processar Analise V2').item.json.analise_geral?.score_total ?? 0 }},\n    \"participantes\": \"{{ $('Code - Processar Analise V2').item.json.nome_lead ?? 'Lead' }}\",\n    \"duracao_minutos\": 30,\n    \"proximos_passos\": {{ JSON.stringify(String($('Code - Processar Analise V2').item.json.plano_acao?.follow_up?.mensagem_sugerida ?? $('Code - Processar Analise V2').item.json.veredicto_final?.proximos_passos?.join(', ') ?? 'Aguardando definicao')) }},\n    \"pontos_positivos\": {{ JSON.stringify(String($('Code - Processar Analise V2').item.json.highlights_positivos?.map(h => h.momento).join('\\n') ?? 'Analise em processamento')) }},\n    \"pontos_atencao\": {{ JSON.stringify(String($('Code - Processar Analise V2').item.json.veredicto_final?.principal_erro ?? 'Verificar pontos de atencao')) }},\n    \"objecoes_identificadas\": {{ JSON.stringify(String($('Code - Processar Analise V2').item.json.red_flags?.flags_identificados?.map(f => f.flag).join('\\n') ?? 'Nenhuma objecao critica')) }},\n    \"link_gravacao\": \"{{ $('Code - Processar Analise V2').item.json.gdrive_url }}\",\n    \"bant_score\": {{ $('Code - Processar Analise V2').item.json.scores_detalhados?.qualificacao_bant?.score ?? 0 }},\n    \"spin_score\": {{ $('Code - Processar Analise V2').item.json.scores_detalhados?.descoberta_spin?.score ?? 0 }},\n    \"conducao_score\": {{ $('Code - Processar Analise V2').item.json.scores_detalhados?.conducao?.score ?? 0 }},\n    \"fechamento_score\": {{ $('Code - Processar Analise V2').item.json.scores_detalhados?.fechamento?.score ?? 0 }},\n    \"probabilidade_fechamento\": {{ $('Code - Processar Analise V2').item.json.analise_geral?.probabilidade_fechamento ?? 0 }},\n    \"status_analise\": \"{{ $('Code - Processar Analise V2').item.json.analise_geral?.status ?? 'nutrir' }}\",\n    \"tier\": \"{{ $('Code - Processar Analise V2').item.json.metadata?.tier ?? 'C MEDIANA' }}\",\n    \"veredicto\": {{ JSON.stringify(String($('Code - Processar Analise V2').item.json.veredicto_final?.resumo_uma_frase ?? 'Analise concluida')) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        464
      ],
      "id": "368badcd-0e3e-4e5c-9cdd-a4b47dfc640a",
      "name": "Salvar em Custom Object"
    },
    {
      "parameters": {
        "jsCode": "const customFields = $input.first().json.customFields || [];\n\nfunction find(fieldKey, name) {\n  const fk = fieldKey.toLowerCase();\n  const nm = name.toLowerCase();\n  return customFields.find(f => \n    (f.fieldKey && f.fieldKey.toLowerCase() === fk) || \n    (f.fieldKey && f.fieldKey.toLowerCase().includes(fk.replace('contact.', ''))) ||\n    (f.name && f.name.toLowerCase() === nm) ||\n    (f.name && f.name.toLowerCase().includes(nm))\n  );\n}\n\nconst mapping = [\n  ['score_total_id', 'contact.contactscore_total', 'Score Total'],\n  ['probabilidade_fechamento_id', 'contact.contactprobabilidade_fechamento', 'Probabilidade de Fechamento'],\n  ['status_analise_id', 'contact.contactstatus_analise', 'Status da Análise'],\n  ['tier_call_id', 'contact.contacttier_call', 'Tier da Call'],\n  ['resumo_executivo_id', 'contact.contactresumo_executivo', 'Resumo Executivo'],\n  ['scores_formatado_id', 'contact.contactscores_formatado', 'Scores Formatado'],\n  ['qualificacao_bant_score_id', 'contact.contactqualificacao_bant_score', 'Qualificação (BANT) Score'],\n  ['descoberta_spin_score_id', 'contact.contactdescoberta_spin_score', 'Descoberta (SPIN) Score'],\n  ['conducao_score_id', 'contact.contactconducao_score', 'Condução Score'],\n  ['fechamento_score_id', 'contact.contactfechamento_score', 'Fechamento Score']\n];\n\nconst result = {};\nfor (const [outKey, fk, name] of mapping) {\n  const f = find(fk, name);\n  if (f && f.id) result[outKey] = f.id;\n}\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        224
      ],
      "id": "dca0070c-bdc1-421c-8811-9755bf631f50",
      "name": "Code - Encontrar IDs"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Buscar Call no Supabase').item.json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer pit-99a302ca-7292-4872-8a9f-f4cf3dc1143f"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    { \"id\": \"{{ $json.score_total_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.analise_geral?.score_total ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.probabilidade_fechamento_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.analise_geral?.probabilidade_fechamento ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.status_analise_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.analise_geral?.status ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.tier_call_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.metadata?.tier ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.resumo_executivo_id }}\", \"value\": {{  JSON.stringify($('Code - Processar Analise V2').item.json.analise_geral?.resumo_executivo ?? 'N/A') }} },\n    { \"id\": \"{{ $json.scores_formatado_id }}\", \"value\": {{  JSON.stringify($('Code - Processar Analise V2').item.json.metadata?.scores_formatado ?? 'N/A') }} },\n    { \"id\": \"{{ $json.qualificacao_bant_score_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.scores_detalhados?.qualificacao_bant?.score ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.descoberta_spin_score_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.scores_detalhados?.descoberta_spin?.score ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.conducao_score_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.scores_detalhados?.conducao?.score ?? 'N/A' }}\" },\n    { \"id\": \"{{  $json.fechamento_score_id }}\", \"value\": \"{{  $('Code - Processar Analise V2').item.json.scores_detalhados?.fechamento?.score ?? 'N/A' }}\" }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        224
      ],
      "id": "d9225435-f72e-4f94-9c52-cf5803dff217",
      "name": "Atualizar Campos GHL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-contact-id",
              "leftValue": "={{ $('Code - Processar Analise V2').item.json.contact_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3344,
        464
      ],
      "id": "e52e2e81-572f-4db0-9978-fa72ba43be77",
      "name": "Tem Contact ID?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/associations/relations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code - Processar Analise V2').item.json.location_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"associationId\": \"{{ $('Code - Processar Analise V2').item.json.association_id }}\",\n  \"firstRecordId\": \"{{ $('Code - Processar Analise V2').item.json.contact_id }}\",\n  \"secondRecordId\": \"{{ $('Salvar em Custom Object').item.json.record.id }}\",\n  \"locationId\": \"{{ $('Code - Processar Analise V2').item.json.location_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        544
      ],
      "id": "a3a049c9-0e99-480c-84d0-9fa4466ff379",
      "name": "Associar Call ao Contato"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE call_recordings SET status = 'analisado', processed_at = NOW() WHERE id = '{{ $('Code - Processar Analise V2').item.json.call_recording_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3792,
        368
      ],
      "id": "739d2ae7-f78f-433c-ba89-af311d4ca164",
      "name": "Atualizar Status Supabase",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// NÓ 2.1 - RESOLVER VARIÁVEIS NO PROMPT\n// =====================================================\n// Versão para uso com nó Postgres\n\n// Obter dados do prompt (do Postgres)\nconst promptRow = $input.first()?.json || {};\nconst promptContent = promptRow.prompt_content || '';\nconst promptKey = promptRow.prompt_key || 'unknown';\nconst version = promptRow.version || 1;\n\n// Buscar dados de contexto - ajuste o nome do nó!\nlet dadosContexto = {};\ntry {\n  // Tenta buscar do nó que tem a transcrição\n  dadosContexto = $node['Export Google Doc como Texto']?.json || {};\n  \n  // Se o texto veio como 'data', normaliza\n  if (dadosContexto.data && !dadosContexto.texto) {\n    dadosContexto.texto = dadosContexto.data;\n  }\n} catch (e) {\n  console.warn('Nó de contexto não encontrado:', e.message);\n}\n\n// Mapeamento de variáveis\nconst variaveis = {\n  // === DADOS DA TRANSCRIÇÃO ===\n  'transcricao_processada': dadosContexto.texto || dadosContexto.data || '',\n  'texto': dadosContexto.texto || dadosContexto.data || '',\n  \n  // === DADOS DO LEAD ===\n  'nome_lead': dadosContexto.nome_lead || '',\n  'tipo_call': dadosContexto.tipo_call || 'diagnostico',\n  'nome_empresa': dadosContexto.nome_empresa || '',\n  \n  // === CONTEXTO DE NEGÓCIO ===\n  'icp_segmento': '',\n  'tickets': '[]',\n  'red_flags_criticos': '',\n  'objecoes': '[]',\n  \n  // === IDs ===\n  'location_id': dadosContexto.location_id || '',\n  'contact_id': dadosContexto.contact_id || '',\n  \n  // === METADATA ===\n  'data_atual': new Date().toLocaleDateString('pt-BR'),\n  'hora_atual': new Date().toLocaleTimeString('pt-BR'),\n  'timestamp': new Date().toISOString()\n};\n\n// Resolver variáveis no prompt\nlet promptFinal = promptContent;\n\nif (!promptContent) {\n  console.error('ERRO: Prompt vazio! Verifique se o prompt existe no Supabase.');\n  promptFinal = 'ERRO: Prompt não encontrado no banco de dados.';\n} else {\n  for (const [key, value] of Object.entries(variaveis)) {\n    const regex = new RegExp(`\\\\{\\\\{\\\\s*${key}\\\\s*\\\\}\\\\}`, 'gi');\n    const valorStr = value === null || value === undefined ? '' : String(value);\n    promptFinal = promptFinal.replace(regex, valorStr);\n  }\n}\n\n// Verificar placeholders não resolvidos\nconst placeholdersRestantes = promptFinal.match(/\\{\\{[^}]+\\}\\}/g) || [];\nif (placeholdersRestantes.length > 0) {\n  console.warn('⚠️ Placeholders não resolvidos:', placeholdersRestantes);\n}\n\n// Log para debug\nconsole.log('✅ Prompt carregado:', promptKey, 'v' + version);\nconsole.log('📝 Tamanho do prompt:', promptFinal.length, 'caracteres');\n\nreturn [{\n  json: {\n    // ESTE É O CAMPO QUE O AI AGENT VAI USAR\n    prompt_final: promptFinal,\n    \n    // Metadados para referência\n    prompt_metadata: {\n      prompt_key: promptKey,\n      version: version,\n      original_length: promptContent.length,\n      final_length: promptFinal.length\n    },\n    \n    // Config do modelo (se existir)\n    model_config: promptRow.model_config || {},\n    \n    // Debug\n    variaveis_resolvidas: Object.fromEntries(\n      Object.entries(variaveis).filter(([k, v]) => v !== '' && v !== '[]')\n    ),\n    placeholders_nao_resolvidos: placeholdersRestantes,\n    \n    // Status\n    success: promptContent.length > 0 && placeholdersRestantes.length === 0,\n    resolved_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "640e239a-83f3-4e7d-8f86-a94914ac2a94",
      "name": "2.1 Resolver Variáveis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        368
      ],
      "notesInFlow": true,
      "notes": "Substitui {{placeholders}} por valores reais.\nAdicione mais variáveis conforme necessário."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  pr.prompt_key,\n  pr.prompt_name,\n  pv.version,\n  pv.prompt_content,\n  pv.model_config,\n  pv.performance_score,\n  pr.variables_used\nFROM prompt_registry pr\nJOIN prompt_versions pv ON pv.prompt_id = pr.id AND pv.is_current = true\nWHERE pr.prompt_key = 'head-vendas-bposs'\n  AND pr.status = 'active'",
        "options": {}
      },
      "id": "48bb476a-877b-4cee-ad81-b6b394c6e024",
      "name": "2.0 Buscar Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1648,
        368
      ],
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      },
      "notes": "Busca prompt do Supabase via Postgres.\nAltere 'head-vendas-bposs' para a chave desejada."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Opus 4"
        },
        "options": {
          "maxTokensToSample": 16000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2400,
        592
      ],
      "id": "ffb7645f-a862-4713-a6ed-7ccd4c54a18f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "nNkFTZpNoiBCbO1I",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO prompt_executions (\n  prompt_id,\n  prompt_version_id,\n  workflow_key,\n  success,\n  execution_time_ms\n) \nSELECT \n  pr.id,\n  pv.id,\n  '{{ $workflow.name }}',\n  true,\n  5000\nFROM prompt_registry pr\nJOIN prompt_versions pv ON pv.prompt_id = pr.id AND pv.is_current = true\nWHERE pr.prompt_key = '{{ $('2.1 Resolver Variáveis').item.json.prompt_metadata.prompt_key }}'\nON CONFLICT DO NOTHING\nRETURNING id",
        "options": {}
      },
      "id": "f7024816-a04d-4447-8e8d-84ee2303f079",
      "name": "2.2 Registrar Uso",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2672,
        368
      ],
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      },
      "notes": "Opcional - registra analytics.\nColoque APÓS o AI Agent."
    }
  ],
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "exportLinks": {
            "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1KU2EN3rZuVDh76r6Hba2uzNzaS1D-D4G8D-yyXk0ezA&exportFormat=rtf",
            "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1KU2EN3rZuVDh76r6Hba2uzNzaS1D-D4G8D-yyXk0ezA&exportFormat=odt",
            "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1KU2EN3rZuVDh76r6Hba2uzNzaS1D-D4G8D-yyXk0ezA&exportFormat=html",
            "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1KU2EN3rZuVDh76r6Hba2uzNzaS1D-D4G8D-yyXk0ezA&exportFormat=pdf",
            "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1KU2EN3rZuVDh76r6Hba2uzNzaS1D-D4G8D-yyXk0ezA&exportFormat=markdown",
            "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1KU2EN3rZuVDh76r6Hba2uzNzaS1D-D4G8D-yyXk0ezA&exportFormat=markdown",
            "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1KU2EN3rZuVDh76r6Hba2uzNzaS1D-D4G8D-yyXk0ezA&exportFormat=epub",
            "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1KU2EN3rZuVDh76r6Hba2uzNzaS1D-D4G8D-yyXk0ezA&exportFormat=zip",
            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1KU2EN3rZuVDh76r6Hba2uzNzaS1D-D4G8D-yyXk0ezA&exportFormat=docx",
            "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1KU2EN3rZuVDh76r6Hba2uzNzaS1D-D4G8D-yyXk0ezA&exportFormat=txt"
          },
          "parents": [
            "1yr256LwbLKJZ5HzHgC7Zq25MrSOKTQEs"
          ],
          "lastModifyingUser": {
            "displayName": "Marcos Daniel",
            "kind": "drive#user",
            "me": true,
            "permissionId": "17593624161997979916",
            "emailAddress": "ceo@marcosdaniels.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIxThQOKn67oYJ_d9CnClrZihFO_WHmcBS38rmK-BOgakQn-Cek4A=s64"
          },
          "owners": [
            {
              "displayName": "Marcos Daniel",
              "kind": "drive#user",
              "me": true,
              "permissionId": "17593624161997979916",
              "emailAddress": "ceo@marcosdaniels.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIxThQOKn67oYJ_d9CnClrZihFO_WHmcBS38rmK-BOgakQn-Cek4A=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "17593624161997979916",
              "type": "user",
              "emailAddress": "ceo@marcosdaniels.com",
              "role": "owner",
              "displayName": "Marcos Daniel",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIxThQOKn67oYJ_d9CnClrZihFO_WHmcBS38rmK-BOgakQn-Cek4A=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "17593624161997979916"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1KU2EN3rZuVDh76r6Hba2uzNzaS1D-D4G8D-yyXk0ezA",
          "name": "16 - Diagnostico -  Dr Luiz e Mariana Carvalho Giareta  - +120363406157741216 - cd1uyzpJox6XPt4Vct8Y - 2025-12-17_11-40 - 2025-12-19_08-04 - 2026-01-01_19-39",
          "mimeType": "application/vnd.google-apps.document",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "7",
          "webViewLink": "https://docs.google.com/document/d/1KU2EN3rZuVDh76r6Hba2uzNzaS1D-D4G8D-yyXk0ezA/edit?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBM6bEAO-0hD-LT8hgkiJ_OGV1LNNYXSjLQzayQB0QqlpX7dXyHR8AJAHTtMIsVXAyQiZ6TTpCmvhRfLs4nnuJ-Xp19l6bdQnAzaiFDonQ-RjFH-lJKajLSFRNKwrg=s220",
          "thumbnailVersion": "2",
          "viewedByMe": true,
          "viewedByMeTime": "2026-01-01T22:39:44.650Z",
          "createdTime": "2026-01-01T22:39:42.409Z",
          "modifiedTime": "2026-01-01T22:39:56.109Z",
          "modifiedByMeTime": "2026-01-01T22:39:56.109Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "size": "42726",
          "quotaBytesUsed": "42726",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Buscar Call no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Call no Supabase": {
      "main": [
        [
          {
            "node": "Call Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Existe?": {
      "main": [
        [
          {
            "node": "Export Google Doc como Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - Call nao encontrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Google Doc como Texto": {
      "main": [
        [
          {
            "node": "2.0 Buscar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Processador Transcricao": {
      "main": [
        [
          {
            "node": "AI Agent - Head de Vendas V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Head de Vendas V2": {
      "main": [
        [
          {
            "node": "2.2 Registrar Uso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Processar Analise V2": {
      "main": [
        [
          {
            "node": "Listar Custom Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar em Custom Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Custom Fields": {
      "main": [
        [
          {
            "node": "Code - Encontrar IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Encontrar IDs": {
      "main": [
        [
          {
            "node": "Atualizar Campos GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Campos GHL": {
      "main": [
        [
          {
            "node": "Atualizar Status Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar em Custom Object": {
      "main": [
        [
          {
            "node": "Tem Contact ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Contact ID?": {
      "main": [
        [
          {
            "node": "Associar Call ao Contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar Status Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associar Call ao Contato": {
      "main": [
        [
          {
            "node": "Atualizar Status Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.1 Resolver Variáveis": {
      "main": [
        [
          {
            "node": "Pre-Processador Transcricao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.0 Buscar Prompt": {
      "main": [
        [
          {
            "node": "2.1 Resolver Variáveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Head de Vendas V2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "2.2 Registrar Uso": {
      "main": [
        [
          {
            "node": "Code - Processar Analise V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "WnRF9AdjFBkEW9Ma"
  },
  "versionId": "6df26de9-ce41-4bc2-8732-d3ad3e723601",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "JiTZQcq7Tt2c5Xol",
  "tags": [
    {
      "updatedAt": "2025-12-18T12:58:38.555Z",
      "createdAt": "2025-12-18T12:58:38.555Z",
      "id": "QPdL3PFQliP97uve",
      "name": "ai factory - vertical"
    }
  ]
}