apps/testing/workflows 💎/1. core/08-QA-Analyst (no claude - projeto growth-os).json
{
  "name": "QA Analyst IA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [400, 300],
      "id": "schedule-trigger",
      "name": "Schedule - A cada 1 hora"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  ac.id as conversation_id,\n  ac.agent_version_id,\n  ac.contact_id,\n  ac.channel,\n  ac.status as conversation_status,\n  ac.resultado,\n  ac.mensagens_total,\n  ac.started_at,\n  ac.ended_at,\n  av.agent_name,\n  av.system_prompt,\n  av.compliance_rules,\n  av.personality_config,\n  av.business_config,\n  c.nome as cliente_nome,\n  c.ghl_contact_id,\n  l.api_key as location_api_key\nFROM agent_conversations ac\nJOIN agent_versions av ON ac.agent_version_id = av.id\nJOIN clients c ON av.client_id = c.id\nLEFT JOIN locations l ON av.location_id = l.location_id\nWHERE ac.qa_analyzed = FALSE\n  AND ac.mensagens_total >= 4\n  AND ac.started_at > NOW() - INTERVAL '48 hours'\nORDER BY ac.started_at DESC\nLIMIT 20",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "id": "buscar-conversas-pendentes",
      "name": "Buscar Conversas Nao Analisadas",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, 300],
      "id": "tem-conversas",
      "name": "Tem Conversas Pendentes?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 500],
      "id": "nenhuma-conversa",
      "name": "Nenhuma Conversa Pendente"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 300],
      "id": "loop-conversas",
      "name": "Loop - Processar Conversas"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  message_text,\n  is_from_lead,\n  created_at,\n  CASE WHEN is_from_lead THEN 'LEAD' ELSE 'AGENTE' END as sender\nFROM agent_conversation_messages\nWHERE conversation_id = '{{ $json.conversation_id }}'\nORDER BY created_at ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1360, 300],
      "id": "buscar-mensagens",
      "name": "Buscar Mensagens da Conversa",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar dados para analise QA\nconst conversa = $('Loop - Processar Conversas').item.json;\nconst mensagensRaw = $input.all().map(item => item.json);\n\n// Parse dos configs\nfunction parseJson(val) {\n  if (typeof val === 'string') {\n    try { return JSON.parse(val); } catch { return {}; }\n  }\n  return val || {};\n}\n\nconst complianceRules = parseJson(conversa.compliance_rules);\nconst personalityConfig = parseJson(conversa.personality_config);\nconst businessConfig = parseJson(conversa.business_config);\n\n// Formatar historico da conversa\nconst historicoFormatado = mensagensRaw.map((msg, idx) => {\n  const timestamp = new Date(msg.created_at).toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' });\n  return `[${timestamp}] ${msg.sender}: ${msg.message_text}`;\n}).join('\\n');\n\n// Extrair proibicoes e regras\nconst proibicoes = complianceRules.proibicoes || complianceRules.prohibited_actions || [];\nconst gatilhosEscalacao = complianceRules.gatilhos_escalacao || complianceRules.escalation_triggers || [];\nconst tomEsperado = personalityConfig.tom || 'profissional';\nconst caracteristicas = personalityConfig.caracteristicas || [];\n\n// Estatisticas basicas\nconst totalMensagens = mensagensRaw.length;\nconst mensagensLead = mensagensRaw.filter(m => m.is_from_lead).length;\nconst mensagensAgente = totalMensagens - mensagensLead;\nconst ultimaMensagem = mensagensRaw[mensagensRaw.length - 1];\nconst primeiraResposta = mensagensRaw.find(m => !m.is_from_lead);\n\n// Detectar resultado da conversa\nlet resultadoInferido = conversa.resultado || 'em_andamento';\nconst textoCompleto = mensagensRaw.map(m => m.message_text.toLowerCase()).join(' ');\n\nif (textoCompleto.includes('agendado') || textoCompleto.includes('confirmado') || textoCompleto.includes('marcado')) {\n  resultadoInferido = 'agendado';\n} else if (textoCompleto.includes('nao tenho interesse') || textoCompleto.includes('nao quero') || textoCompleto.includes('sem interesse')) {\n  resultadoInferido = 'perdido';\n} else if (textoCompleto.includes('depois') || textoCompleto.includes('mais tarde') || textoCompleto.includes('vou pensar')) {\n  resultadoInferido = 'aquecido';\n}\n\nreturn [{\n  json: {\n    conversa: {\n      id: conversa.conversation_id,\n      agent_version_id: conversa.agent_version_id,\n      agent_name: conversa.agent_name,\n      cliente_nome: conversa.cliente_nome,\n      contact_id: conversa.contact_id,\n      channel: conversa.channel,\n      started_at: conversa.started_at,\n      ended_at: conversa.ended_at,\n      resultado: resultadoInferido,\n      location_api_key: conversa.location_api_key\n    },\n    mensagens: {\n      historico_formatado: historicoFormatado,\n      total: totalMensagens,\n      do_lead: mensagensLead,\n      do_agente: mensagensAgente,\n      ultima_de_quem: ultimaMensagem?.sender || 'desconhecido'\n    },\n    contexto: {\n      system_prompt_resumo: (conversa.system_prompt || '').substring(0, 500),\n      proibicoes: proibicoes,\n      gatilhos_escalacao: gatilhosEscalacao,\n      tom_esperado: tomEsperado,\n      caracteristicas: caracteristicas,\n      tipo_negocio: businessConfig.tipo_negocio || businessConfig.especialidade || 'geral'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 300],
      "id": "preparar-analise",
      "name": "Preparar Dados para Analise"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## CONVERSA A SER ANALISADA\n\n**Agente:** {{ $json.conversa.agent_name }}\n**Cliente:** {{ $json.conversa.cliente_nome }}\n**Canal:** {{ $json.conversa.channel }}\n**Resultado Inferido:** {{ $json.conversa.resultado }}\n\n---\n\n## HISTORICO DA CONVERSA\n\n{{ $json.mensagens.historico_formatado }}\n\n---\n\n## ESTATISTICAS\n\n- Total de mensagens: {{ $json.mensagens.total }}\n- Mensagens do lead: {{ $json.mensagens.do_lead }}\n- Mensagens do agente: {{ $json.mensagens.do_agente }}\n- Ultima mensagem de: {{ $json.mensagens.ultima_de_quem }}\n\n---\n\n## CONTEXTO DO AGENTE\n\n**Tipo de Negocio:** {{ $json.contexto.tipo_negocio }}\n**Tom Esperado:** {{ $json.contexto.tom_esperado }}\n\n**Proibicoes:**\n{{ JSON.stringify($json.contexto.proibicoes) }}\n\n**Gatilhos de Escalacao:**\n{{ JSON.stringify($json.contexto.gatilhos_escalacao) }}\n\n---\n\nAnalise esta conversa conforme as 4 dimensoes especificadas e retorne o JSON de avaliacao.",
        "options": {
          "systemMessage": "Voce e o QA ANALYST IA - um avaliador imparcial de conversas de agentes de IA SDR.\n\nSua funcao e OBSERVAR e JULGAR a performance do agente, SEM intervir na conversa.\n\n## AS 4 DIMENSOES DE AVALIACAO\n\n### 1. CLAREZA DE CONDUCAO (0-10)\n\nO que avaliar:\n- Lead entende onde esta no processo?\n- Proximos passos sao claros?\n- Linguagem e direta sem confusao?\n- Fluxo logico e natural?\n\nCriterios:\n- 9-10: Lead sempre sabe exatamente o que fazer\n- 7-8: Claro na maior parte, pequenas ambiguidades\n- 5-6: As vezes confuso, precisa repetir\n- 3-4: Frequentemente confuso\n- 0-2: Lead completamente perdido\n\n### 2. TRATAMENTO DE OBJECOES (0-10)\n\nO que avaliar:\n- Identificou objecoes corretamente?\n- Respondeu de forma empatica mas firme?\n- Superou ou escalou apropriadamente?\n- Usou tecnicas certas (reframe, urgencia, exclusividade)?\n\nCriterios:\n- 9-10: Objecoes viram oportunidade de fechamento\n- 7-8: Trata bem, poderia ser mais persuasivo\n- 5-6: Responde mas nao convence\n- 3-4: Responde mal ou ignora parcialmente\n- 0-2: Ignora objecoes completamente\n\n### 3. LOOP/REPETICAO/COMPLIANCE (0-10)\n\nO que avaliar:\n- Evitou loops infinitos? (perguntar mesma coisa varias vezes)\n- Nao repetiu informacoes desnecessariamente?\n- Respeitou compliance (valores, diagnosticos, promessas)?\n- Escalou quando deveria?\n- Tom de voz consistente?\n\nCriterios:\n- 9-10: Zero loops, 100% compliance, tom perfeito\n- 7-8: Pequenas repeticoes, compliance ok\n- 5-6: Alguns loops ou pequenos erros compliance\n- 3-4: Loops frequentes ou violacoes moderadas\n- 0-2: Loops graves ou violacoes criticas\n\n### 4. AVANCO PARA OBJETIVO (0-10)\n\nO que avaliar:\n- Moveu lead no funil?\n- Cada mensagem tem proposito claro?\n- Criou urgencia sem pressao excessiva?\n- Resultado alinhado com potencial do lead?\n\nScoring por resultado:\n- Lead quente + agendou = 10\n- Lead morno + agendou = 9\n- Lead morno + aqueceu bem = 8\n- Lead frio + rejeitou gentil (corretamente) = 9\n- Lead quente + perdeu = 3\n- Lead frio + forcou agenda = 2\n\n## RED FLAGS (ALERTAS CRITICOS)\n\nIdentifique se houve:\n- Violacao de compliance (deu diagnostico, revelou valor proibido, etc)\n- Loop grave (perguntou mesma coisa 3+ vezes)\n- Tom inadequado (agressivo, passivo demais, robotico)\n- Falha em escalar caso urgente\n- Informacao inventada/incorreta\n- Perda de lead quente por erro do agente\n\n## OUTPUT OBRIGATORIO (JSON)\n\n```json\n{\n  \"analise_id\": \"uuid gerado\",\n  \"timestamp\": \"ISO 8601\",\n  \"conversa\": {\n    \"id\": \"id da conversa\",\n    \"agent_name\": \"nome do agente\",\n    \"cliente_nome\": \"nome do cliente\",\n    \"resultado\": \"agendado|aquecido|perdido|em_andamento\"\n  },\n  \"dimensoes\": {\n    \"clareza_conducao\": {\n      \"nota\": 0-10,\n      \"justificativa\": \"explicacao breve\",\n      \"exemplos_positivos\": [\"citacoes boas\"],\n      \"exemplos_negativos\": [\"citacoes ruins\"]\n    },\n    \"tratamento_objecoes\": {\n      \"nota\": 0-10,\n      \"justificativa\": \"explicacao breve\",\n      \"objecoes_identificadas\": [\"lista de objecoes\"],\n      \"como_tratou\": \"bem|mal|nao_houve\"\n    },\n    \"loop_compliance\": {\n      \"nota\": 0-10,\n      \"justificativa\": \"explicacao breve\",\n      \"loops_detectados\": 0,\n      \"violacoes_compliance\": [\"lista se houver\"],\n      \"tom_consistente\": true/false\n    },\n    \"avanco_objetivo\": {\n      \"nota\": 0-10,\n      \"justificativa\": \"explicacao breve\",\n      \"moveu_funil\": true/false,\n      \"resultado_apropriado\": true/false\n    }\n  },\n  \"nota_final\": {\n    \"valor\": 0-10 (media das 4 dimensoes),\n    \"classificacao\": \"EXCELENTE|BOM|ADEQUADO|PRECISA_ATENCAO|CRITICO\"\n  },\n  \"red_flags\": [\n    {\n      \"tipo\": \"tipo do problema\",\n      \"descricao\": \"o que aconteceu\",\n      \"gravidade\": \"CRITICA|ALTA|MEDIA|BAIXA\",\n      \"citacao\": \"trecho da conversa\"\n    }\n  ],\n  \"destaques_positivos\": [\n    \"lista do que o agente fez muito bem\"\n  ],\n  \"oportunidades_melhoria\": [\n    {\n      \"area\": \"area de melhoria\",\n      \"sugestao\": \"o que fazer diferente\",\n      \"impacto\": \"ALTO|MEDIO|BAIXO\"\n    }\n  ],\n  \"sugestao_prompt\": {\n    \"tem_sugestao\": true/false,\n    \"tipo\": \"ADICIONAR|MODIFICAR|REMOVER\",\n    \"descricao\": \"sugestao especifica para melhorar o prompt\"\n  },\n  \"alerta_necessario\": true/false,\n  \"motivo_alerta\": \"se alerta=true, explicar por que\",\n  \"resumo_executivo\": \"2-3 frases resumindo a performance\"\n}\n```\n\n## CLASSIFICACAO FINAL\n\n- EXCELENTE (9.0-10): Performance excepcional\n- BOM (7.5-8.9): Boa performance, pequenos ajustes\n- ADEQUADO (6.0-7.4): Aceitavel, precisa melhorar\n- PRECISA_ATENCAO (4.0-5.9): Problemas significativos\n- CRITICO (0-3.9): Problemas graves, requer acao imediata\n\n## REGRAS\n\n1. Seja OBJETIVO - baseie notas em evidencias da conversa\n2. Seja JUSTO - considere o contexto e dificuldade da situacao\n3. Seja CONSTRUTIVO - sugestoes devem ser acionaveis\n4. NAO invente - se nao ha evidencia, nao pontue negativamente\n5. Considere o RESULTADO - agendou? aqueceu? perdeu?\n6. Red flags CRITICAS = alerta_necessario = true\n7. Retorne APENAS o JSON valido, sem markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1840, 300],
      "id": "ai-qa-analyst",
      "name": "AI - QA Analyst"
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "temperature": 0.3,
          "maxTokensToSample": 4000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1912, 524],
      "id": "anthropic-model",
      "name": "Claude Sonnet",
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api-key",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Processar resposta da analise QA\nconst dadosConversa = $('Preparar Dados para Analise').first().json;\nconst respostaIA = $input.first().json;\n\n// Funcoes de parse\nfunction cleanFences(s) {\n  if (typeof s !== 'string') s = String(s ?? '');\n  let r = s.trim();\n  r = r.replace(/^\\s*```[a-z]*\\s*/i, '');\n  r = r.replace(/\\s*```$/, '');\n  return r;\n}\n\nfunction findBalancedEnd(s, start) {\n  let depth = 0, inStr = false, esc = false;\n  for (let i = start; i < s.length; i++) {\n    const ch = s[i];\n    if (inStr) {\n      if (esc) { esc = false; }\n      else if (ch === '\\\\') { esc = true; }\n      else if (ch === '\"') { inStr = false; }\n    } else {\n      if (ch === '\"') inStr = true;\n      else if (ch === '{') depth++;\n      else if (ch === '}') { depth--; if (depth === 0) return i; }\n    }\n  }\n  return -1;\n}\n\nfunction tryParse(str) {\n  try { return JSON.parse(str); } catch {}\n  const raw = cleanFences(str);\n  try { return JSON.parse(raw); } catch {}\n  const start = raw.indexOf('{');\n  const end = start >= 0 ? findBalancedEnd(raw, start) : -1;\n  if (start >= 0 && end >= 0) {\n    const jsonStr = raw.slice(start, end + 1);\n    try { return JSON.parse(jsonStr); } catch {}\n  }\n  return null;\n}\n\n// Parse da resposta\nlet analise;\nconst rawVal = respostaIA.text ?? respostaIA.response ?? respostaIA.output;\nconst outputStr = typeof rawVal === 'string' ? rawVal : String(rawVal ?? '');\nanalise = typeof rawVal === 'object' && rawVal ? rawVal : tryParse(outputStr);\n\nif (!analise) {\n  return [{\n    json: {\n      conversa: dadosConversa.conversa,\n      erro_parse: true,\n      motivo: 'Resposta do QA Analyst incompleta ou JSON invalido.',\n      raw_snippet: cleanFences(outputStr).slice(0, 500)\n    }\n  }];\n}\n\n// Extrair notas das dimensoes\nconst dimensoes = analise.dimensoes || {};\nconst notaClareza = dimensoes.clareza_conducao?.nota || 0;\nconst notaObjecoes = dimensoes.tratamento_objecoes?.nota || 0;\nconst notaCompliance = dimensoes.loop_compliance?.nota || 0;\nconst notaAvanco = dimensoes.avanco_objetivo?.nota || 0;\n\n// Calcular nota final (media)\nconst notaFinal = analise.nota_final?.valor || ((notaClareza + notaObjecoes + notaCompliance + notaAvanco) / 4);\n\n// Determinar se precisa alerta\nconst precisaAlerta = analise.alerta_necessario === true || notaFinal < 6.0 || (analise.red_flags || []).some(rf => rf.gravidade === 'CRITICA');\n\nreturn [{\n  json: {\n    conversa: dadosConversa.conversa,\n    analise: analise,\n    notas: {\n      clareza: notaClareza,\n      objecoes: notaObjecoes,\n      compliance: notaCompliance,\n      avanco: notaAvanco,\n      final: notaFinal\n    },\n    classificacao: analise.nota_final?.classificacao || 'NAO_CLASSIFICADO',\n    red_flags_count: (analise.red_flags || []).length,\n    red_flags_criticas: (analise.red_flags || []).filter(rf => rf.gravidade === 'CRITICA').length,\n    precisa_alerta: precisaAlerta,\n    motivo_alerta: analise.motivo_alerta || (precisaAlerta ? 'Nota abaixo de 6.0 ou red flag critica' : null),\n    resumo: analise.resumo_executivo || 'Analise concluida',\n    destaques: analise.destaques_positivos || [],\n    melhorias: analise.oportunidades_melhoria || [],\n    sugestao_prompt: analise.sugestao_prompt || { tem_sugestao: false }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 300],
      "id": "processar-analise",
      "name": "Processar Resultado QA"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO qa_analyses (\n  conversation_id,\n  agent_version_id,\n  nota_clareza,\n  nota_objecoes,\n  nota_compliance,\n  nota_avanco,\n  nota_final,\n  classificacao,\n  red_flags_count,\n  precisa_alerta,\n  analise_completa,\n  resumo,\n  created_at\n) VALUES (\n  '{{ $json.conversa.id }}',\n  '{{ $json.conversa.agent_version_id }}',\n  {{ $json.notas.clareza }},\n  {{ $json.notas.objecoes }},\n  {{ $json.notas.compliance }},\n  {{ $json.notas.avanco }},\n  {{ $json.notas.final }},\n  '{{ $json.classificacao }}',\n  {{ $json.red_flags_count }},\n  {{ $json.precisa_alerta }},\n  $1::jsonb,\n  '{{ ($json.resumo || '').replace(/'/g, \"''\") }}',\n  NOW()\n)\nRETURNING id;",
        "options": {
          "queryParams": "={{ [JSON.stringify($json.analise)] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2320, 300],
      "id": "salvar-analise",
      "name": "Salvar Analise QA",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE agent_conversations\nSET \n  qa_analyzed = TRUE,\n  qa_score = {{ $('Processar Resultado QA').item.json.notas.final }},\n  qa_analyzed_at = NOW()\nWHERE id = '{{ $('Processar Resultado QA').item.json.conversa.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2560, 300],
      "id": "atualizar-conversa",
      "name": "Marcar Conversa como Analisada",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-alerta",
              "leftValue": "={{ $('Processar Resultado QA').item.json.precisa_alerta }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2800, 300],
      "id": "check-alerta",
      "name": "Precisa Alerta?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-fe627027-b9cb-4ea3-aaa4-149459e66a03"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"WhatsApp\",\n  \"contactId\": \"Ql1qBRN8GTemuG0BlM0F\",\n  \"message\": \"🚨 *ALERTA QA ANALYST*\\n\\n🤖 *Agente:* {{ $('Processar Resultado QA').item.json.conversa.agent_name }}\\n👤 *Cliente:* {{ $('Processar Resultado QA').item.json.conversa.cliente_nome }}\\n\\n❌ *Nota Final:* {{ $('Processar Resultado QA').item.json.notas.final.toFixed(1) }}/10\\n🏷️ *Classificacao:* {{ $('Processar Resultado QA').item.json.classificacao }}\\n\\n📊 *Notas por Dimensao:*\\n- Clareza: {{ $('Processar Resultado QA').item.json.notas.clareza }}/10\\n- Objecoes: {{ $('Processar Resultado QA').item.json.notas.objecoes }}/10\\n- Compliance: {{ $('Processar Resultado QA').item.json.notas.compliance }}/10\\n- Avanco: {{ $('Processar Resultado QA').item.json.notas.avanco }}/10\\n\\n🚩 *Red Flags:* {{ $('Processar Resultado QA').item.json.red_flags_count }} ({{ $('Processar Resultado QA').item.json.red_flags_criticas }} criticas)\\n\\n⚠️ *Motivo:* {{ $('Processar Resultado QA').item.json.motivo_alerta }}\\n\\n📝 *Resumo:* {{ $('Processar Resultado QA').item.json.resumo }}\\n\\n🔍 Conversa ID: {{ $('Processar Resultado QA').item.json.conversa.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3040, 200],
      "id": "enviar-alerta",
      "name": "Enviar Alerta WhatsApp"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3040, 400],
      "id": "sem-alerta",
      "name": "Sem Alerta Necessario"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-more",
              "leftValue": "={{ $('Loop - Processar Conversas').context.noItemsLeft }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3280, 300],
      "id": "mais-conversas",
      "name": "Mais Conversas?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  av.agent_name,\n  c.nome as cliente_nome,\n  COUNT(qa.id) as total_analises,\n  ROUND(AVG(qa.nota_final)::numeric, 2) as media_geral,\n  ROUND(AVG(qa.nota_clareza)::numeric, 2) as media_clareza,\n  ROUND(AVG(qa.nota_objecoes)::numeric, 2) as media_objecoes,\n  ROUND(AVG(qa.nota_compliance)::numeric, 2) as media_compliance,\n  ROUND(AVG(qa.nota_avanco)::numeric, 2) as media_avanco,\n  SUM(CASE WHEN qa.nota_final >= 9 THEN 1 ELSE 0 END) as excelentes,\n  SUM(CASE WHEN qa.nota_final >= 7.5 AND qa.nota_final < 9 THEN 1 ELSE 0 END) as bons,\n  SUM(CASE WHEN qa.nota_final >= 6 AND qa.nota_final < 7.5 THEN 1 ELSE 0 END) as adequados,\n  SUM(CASE WHEN qa.nota_final < 6 THEN 1 ELSE 0 END) as problematicos,\n  SUM(qa.red_flags_count) as total_red_flags\nFROM qa_analyses qa\nJOIN agent_conversations ac ON qa.conversation_id = ac.id\nJOIN agent_versions av ON qa.agent_version_id = av.id\nJOIN clients c ON av.client_id = c.id\nWHERE qa.created_at > NOW() - INTERVAL '24 hours'\nGROUP BY av.agent_name, c.nome\nORDER BY total_analises DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3520, 300],
      "id": "gerar-relatorio",
      "name": "Gerar Relatorio Diario",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatar relatorio diario\nconst dados = $input.all().map(item => item.json);\nconst agora = new Date();\nconst hora = agora.getHours();\n\n// So envia relatorio as 18h, 19h ou 20h\nconst horaRelatorio = hora >= 18 && hora <= 20;\n\nif (!horaRelatorio || dados.length === 0) {\n  return [{ json: { enviar_relatorio: false, motivo: 'Fora do horario ou sem dados' } }];\n}\n\n// Calcular totais\nlet totalAnalises = 0;\nlet somaNotas = 0;\nlet totalExcelentes = 0;\nlet totalBons = 0;\nlet totalAdequados = 0;\nlet totalProblematicos = 0;\nlet totalRedFlags = 0;\n\ndados.forEach(d => {\n  totalAnalises += parseInt(d.total_analises) || 0;\n  somaNotas += (parseFloat(d.media_geral) || 0) * (parseInt(d.total_analises) || 0);\n  totalExcelentes += parseInt(d.excelentes) || 0;\n  totalBons += parseInt(d.bons) || 0;\n  totalAdequados += parseInt(d.adequados) || 0;\n  totalProblematicos += parseInt(d.problematicos) || 0;\n  totalRedFlags += parseInt(d.total_red_flags) || 0;\n});\n\nconst mediaGeral = totalAnalises > 0 ? (somaNotas / totalAnalises).toFixed(1) : '0.0';\n\n// Formatar por agente\nconst porAgente = dados.map(d => \n  `• ${d.agent_name} (${d.cliente_nome}): ${d.media_geral}/10 (${d.total_analises} conversas)`\n).join('\\n');\n\n// Montar mensagem\nconst mensagem = `📊 *RELATORIO QA DIARIO*\\n` +\n  `📅 ${agora.toLocaleDateString('pt-BR')}\\n\\n` +\n  `*RESUMO GERAL*\\n` +\n  `✅ Conversas analisadas: ${totalAnalises}\\n` +\n  `📈 Nota media: ${mediaGeral}/10\\n\\n` +\n  `*DISTRIBUICAO*\\n` +\n  `🌟 Excelente (9-10): ${totalExcelentes}\\n` +\n  `✅ Bom (7.5-8.9): ${totalBons}\\n` +\n  `⚠️ Adequado (6-7.4): ${totalAdequados}\\n` +\n  `❌ Problematico (<6): ${totalProblematicos}\\n\\n` +\n  `🚩 Total Red Flags: ${totalRedFlags}\\n\\n` +\n  `*POR AGENTE*\\n` +\n  `${porAgente}\\n\\n` +\n  `${totalProblematicos > 0 ? '⚠️ ' + totalProblematicos + ' conversa(s) precisam atencao!' : '✨ Todas as conversas dentro do esperado!'}`;\n\nreturn [{\n  json: {\n    enviar_relatorio: true,\n    mensagem: mensagem,\n    dados: {\n      total_analises: totalAnalises,\n      media_geral: parseFloat(mediaGeral),\n      excelentes: totalExcelentes,\n      bons: totalBons,\n      adequados: totalAdequados,\n      problematicos: totalProblematicos,\n      red_flags: totalRedFlags\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3760, 300],
      "id": "formatar-relatorio",
      "name": "Formatar Relatorio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-enviar",
              "leftValue": "={{ $json.enviar_relatorio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4000, 300],
      "id": "check-enviar-relatorio",
      "name": "Enviar Relatorio?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-fe627027-b9cb-4ea3-aaa4-149459e66a03"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"WhatsApp\",\n  \"contactId\": \"Ql1qBRN8GTemuG0BlM0F\",\n  \"message\": \"{{ $json.mensagem }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4240, 200],
      "id": "enviar-relatorio",
      "name": "Enviar Relatorio WhatsApp"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [4240, 400],
      "id": "fim-sem-relatorio",
      "name": "Fim (Sem Relatorio)"
    },
    {
      "parameters": {
        "content": "## QA Analyst IA v1.0 (CAMADA 3)\n\n**Funcao**: Monitorar performance de agentes em PRODUCAO.\n\n### Modo de Operacao:\n- **OBSERVADOR PASSIVO** - NAO intervem nas conversas\n- **JUIZ IMPARCIAL** - Avalia objetivamente\n- **AUTOMATICO** - Roda a cada 1 hora\n\n### Fluxo:\n1. Poll a cada 1h por conversas nao analisadas (ultimas 48h)\n2. Para cada conversa:\n   - Busca historico completo de mensagens\n   - Analisa 4 dimensoes (0-10 cada)\n   - Identifica red flags\n   - Calcula nota final\n3. Salva analise no banco (qa_analyses)\n4. Se nota < 6.0 ou red flag critica: ALERTA via WhatsApp\n5. As 18h: Envia relatorio diario consolidado\n\n### As 4 Dimensoes:\n1. **Clareza de Conducao** - Lead entende o processo?\n2. **Tratamento de Objecoes** - Superou bem?\n3. **Loop/Compliance** - Evitou repeticoes? Seguiu regras?\n4. **Avanco para Objetivo** - Moveu no funil?\n\n### Classificacao:\n- EXCELENTE (9-10)\n- BOM (7.5-8.9)\n- ADEQUADO (6-7.4)\n- PRECISA_ATENCAO (4-5.9)\n- CRITICO (0-3.9)",
        "height": 580,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 100],
      "id": "sticky-instrucoes",
      "name": "Instrucoes"
    },
    {
      "parameters": {
        "content": "## Migration SQL Necessaria\n\n```sql\n-- Tabela de analises QA\nCREATE TABLE IF NOT EXISTS qa_analyses (\n  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n  conversation_id UUID NOT NULL,\n  agent_version_id UUID NOT NULL,\n  nota_clareza NUMERIC(4,2),\n  nota_objecoes NUMERIC(4,2),\n  nota_compliance NUMERIC(4,2),\n  nota_avanco NUMERIC(4,2),\n  nota_final NUMERIC(4,2),\n  classificacao VARCHAR(50),\n  red_flags_count INTEGER DEFAULT 0,\n  precisa_alerta BOOLEAN DEFAULT FALSE,\n  analise_completa JSONB,\n  resumo TEXT,\n  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\n-- Colunas na tabela agent_conversations\nALTER TABLE agent_conversations\nADD COLUMN IF NOT EXISTS qa_analyzed BOOLEAN DEFAULT FALSE,\nADD COLUMN IF NOT EXISTS qa_score NUMERIC(4,2),\nADD COLUMN IF NOT EXISTS qa_analyzed_at TIMESTAMP WITH TIME ZONE;\n\n-- Indices\nCREATE INDEX IF NOT EXISTS idx_qa_analyses_conversation\nON qa_analyses(conversation_id);\n\nCREATE INDEX IF NOT EXISTS idx_qa_analyses_agent\nON qa_analyses(agent_version_id);\n\nCREATE INDEX IF NOT EXISTS idx_conversations_qa\nON agent_conversations(qa_analyzed, started_at);\n```\n\nExecute antes de ativar o workflow!",
        "height": 520,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 700],
      "id": "sticky-sql",
      "name": "SQL Migration"
    },
    {
      "parameters": {
        "content": "## Alertas Automaticos\n\n**Dispara alerta se:**\n- Nota final < 6.0\n- Red flag CRITICA detectada\n- Violacao de compliance\n- Loop grave (3+ repeticoes)\n\n**Formato do alerta:**\n```\n🚨 ALERTA QA ANALYST\n\n🤖 Agente: Isabella\n👤 Cliente: Dr. Luiz\n\n❌ Nota Final: 4.5/10\n🏷️ Classificacao: CRITICO\n\n📊 Notas por Dimensao:\n- Clareza: 5/10\n- Objecoes: 4/10\n- Compliance: 3/10\n- Avanco: 6/10\n\n🚩 Red Flags: 2 (1 critica)\n\n⚠️ Motivo: Violacao compliance\n\n📝 Resumo: ...\n```",
        "height": 440,
        "width": 300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [480, 700],
      "id": "sticky-alertas",
      "name": "Alertas"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule - A cada 1 hora": {
      "main": [
        [
          {
            "node": "Buscar Conversas Nao Analisadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Nao Analisadas": {
      "main": [
        [
          {
            "node": "Tem Conversas Pendentes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Conversas Pendentes?": {
      "main": [
        [
          {
            "node": "Loop - Processar Conversas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nenhuma Conversa Pendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop - Processar Conversas": {
      "main": [
        [
          {
            "node": "Buscar Mensagens da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Mensagens da Conversa": {
      "main": [
        [
          {
            "node": "Preparar Dados para Analise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados para Analise": {
      "main": [
        [
          {
            "node": "AI - QA Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "AI - QA Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI - QA Analyst": {
      "main": [
        [
          {
            "node": "Processar Resultado QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resultado QA": {
      "main": [
        [
          {
            "node": "Salvar Analise QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Analise QA": {
      "main": [
        [
          {
            "node": "Marcar Conversa como Analisada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Conversa como Analisada": {
      "main": [
        [
          {
            "node": "Precisa Alerta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa Alerta?": {
      "main": [
        [
          {
            "node": "Enviar Alerta WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Alerta Necessario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Alerta WhatsApp": {
      "main": [
        [
          {
            "node": "Mais Conversas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem Alerta Necessario": {
      "main": [
        [
          {
            "node": "Mais Conversas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mais Conversas?": {
      "main": [
        [
          {
            "node": "Loop - Processar Conversas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar Relatorio Diario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Relatorio Diario": {
      "main": [
        [
          {
            "node": "Formatar Relatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Relatorio": {
      "main": [
        [
          {
            "node": "Enviar Relatorio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Relatorio?": {
      "main": [
        [
          {
            "node": "Enviar Relatorio WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fim (Sem Relatorio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "tags": [
    {
      "name": "AI Factory",
      "createdAt": "2025-12-19T00:00:00.000Z",
      "updatedAt": "2025-12-19T00:00:00.000Z"
    },
    {
      "name": "QA",
      "createdAt": "2025-12-19T00:00:00.000Z",
      "updatedAt": "2025-12-19T00:00:00.000Z"
    }
  ]
}
