apps/testing/workflows 💎/1. core/15-New-Followers-Detector (no claude - projeto growth-os).json
{
  "name": "15 - New Followers Detector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        300
      ],
      "id": "schedule-trigger-6h",
      "name": "Cron - A cada 6 horas"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.PYTHON_API_URL || 'https://agenticoskevsacademy-production.up.railway.app' }}/followers/accounts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "active_only",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        300
      ],
      "id": "get-monitored-accounts",
      "name": "Buscar Contas Monitoradas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-accounts",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "count-check",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        300
      ],
      "id": "check-has-accounts",
      "name": "Tem Contas?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        80,
        500
      ],
      "id": "no-accounts",
      "name": "Nenhuma Conta Monitorada"
    },
    {
      "parameters": {
        "fieldToSplitOut": "accounts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        300
      ],
      "id": "split-accounts",
      "name": "Split por Conta"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        520,
        300
      ],
      "id": "process-one-by-one",
      "name": "Processar Uma por Uma"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PYTHON_API_URL || 'https://agenticoskevsacademy-production.up.railway.app' }}/followers/detect-new",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ account_id: $json.id, max_followers: 500, enrich: false, save_snapshot: true }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ],
      "id": "detect-new-followers",
      "name": "Detectar Novos Seguidores"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst account = $('Processar Uma por Uma').first().json;\n\nreturn [{\n  json: {\n    account_id: input.account_id,\n    username: input.username || account.username,\n    success: input.success,\n    current_followers: input.current_followers_count || 0,\n    new_followers: input.new_followers_count || 0,\n    saved: input.saved_count || 0,\n    error: input.error || null,\n    detected_at: input.detected_at\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "id": "parse-result",
      "name": "Processar Resultado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-new",
              "leftValue": "={{ $json.new_followers }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1240,
        300
      ],
      "id": "check-has-new",
      "name": "Tem Novos?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_execution_logs (workflow_name, execution_data, created_at)\nVALUES ('new_followers_detector', $1::jsonb, NOW())",
        "options": {
          "queryReplacement": "={{ [JSON.stringify($json)] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1480,
        300
      ],
      "id": "log-new-followers",
      "name": "Log Novos Detectados",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1480,
        500
      ],
      "id": "no-new-followers",
      "name": "Sem Novos Seguidores"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1720,
        300
      ],
      "id": "wait-rate-limit",
      "name": "Aguardar 60s (Rate Limit)"
    },
    {
      "parameters": {
        "jsCode": "// Agregar resultados de todas as contas processadas\nconst items = $input.all();\n\nconst summary = {\n  total_accounts: items.length,\n  total_new_followers: 0,\n  total_saved: 0,\n  accounts_with_new: 0,\n  errors: []\n};\n\nitems.forEach(item => {\n  const data = item.json;\n  summary.total_new_followers += data.new_followers || 0;\n  summary.total_saved += data.saved || 0;\n  if (data.new_followers > 0) summary.accounts_with_new++;\n  if (data.error) summary.errors.push({ account: data.username, error: data.error });\n});\n\nsummary.executed_at = new Date().toISOString();\nsummary.success = summary.errors.length === 0;\n\nreturn [{ json: summary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        300
      ],
      "id": "aggregate-results",
      "name": "Agregar Resultados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "notify-check",
              "leftValue": "={{ $json.total_new_followers }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        300
      ],
      "id": "should-notify",
      "name": "Notificar?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DASHBOARD_WEBHOOK_URL || 'https://cliente-a1.mentorfy.io/webhook/new-followers-detected' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        300
      ],
      "id": "notify-dashboard",
      "name": "Notificar Dashboard",
      "continueOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2440,
        500
      ],
      "id": "no-notification",
      "name": "Sem Notificacao"
    }
  ],
  "connections": {
    "Cron - A cada 6 horas": {
      "main": [
        [
          {
            "node": "Buscar Contas Monitoradas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contas Monitoradas": {
      "main": [
        [
          {
            "node": "Tem Contas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Contas?": {
      "main": [
        [
          {
            "node": "Split por Conta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nenhuma Conta Monitorada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split por Conta": {
      "main": [
        [
          {
            "node": "Processar Uma por Uma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Uma por Uma": {
      "main": [
        [
          {
            "node": "Detectar Novos Seguidores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agregar Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Novos Seguidores": {
      "main": [
        [
          {
            "node": "Processar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resultado": {
      "main": [
        [
          {
            "node": "Tem Novos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Novos?": {
      "main": [
        [
          {
            "node": "Log Novos Detectados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Novos Seguidores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Novos Detectados": {
      "main": [
        [
          {
            "node": "Aguardar 60s (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem Novos Seguidores": {
      "main": [
        [
          {
            "node": "Aguardar 60s (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 60s (Rate Limit)": {
      "main": [
        [
          {
            "node": "Processar Uma por Uma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Resultados": {
      "main": [
        [
          {
            "node": "Notificar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar?": {
      "main": [
        [
          {
            "node": "Notificar Dashboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Notificacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "instagram",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "new-followers",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-17T00:00:00.000Z",
  "versionId": "1"
}
