apps/testing/workflows 💎/1. core/16-New-Followers-Outreach (no claude - projeto growth-os).json
{
  "name": "16 - New Followers Outreach",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-followers-outreach",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        300
      ],
      "id": "webhook-trigger",
      "name": "Webhook - Outreach Trigger",
      "webhookId": "new-followers-outreach-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.PYTHON_API_URL || 'https://agenticoskevsacademy-production.up.railway.app' }}/followers/pending",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "min_icp_score",
              "value": "={{ $json.min_icp_score || 70 }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit || 50 }}"
            },
            {
              "name": "account_id",
              "value": "={{ $json.account_id || '' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        300
      ],
      "id": "get-pending-followers",
      "name": "Buscar Seguidores Pendentes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-pending",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "count-check",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        300
      ],
      "id": "check-has-pending",
      "name": "Tem Pendentes?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        80,
        500
      ],
      "id": "no-pending",
      "name": "Nenhum Pendente"
    },
    {
      "parameters": {
        "fieldToSplitOut": "followers",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        300
      ],
      "id": "split-followers",
      "name": "Split por Seguidor"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        520,
        300
      ],
      "id": "process-one-by-one",
      "name": "Processar Um por Um"
    },
    {
      "parameters": {
        "jsCode": "const follower = $input.first().json;\nconst webhookData = $('Webhook - Outreach Trigger').first().json;\n\n// Template da mensagem personalizada\nconst messageTemplate = webhookData.message_template || `Oi {{name}}! Vi que você começou a me seguir recentemente. Obrigado pelo interesse! 🙌\n\nSou especialista em {{niche}} e ajudo {{target}} a {{benefit}}.\n\nPosso te enviar um conteúdo exclusivo sobre isso?`;\n\n// Substituir variáveis\nlet message = messageTemplate\n  .replace('{{name}}', follower.follower_full_name?.split(' ')[0] || follower.follower_username)\n  .replace('{{username}}', follower.follower_username)\n  .replace('{{niche}}', webhookData.niche || 'marketing digital')\n  .replace('{{target}}', webhookData.target || 'empreendedores')\n  .replace('{{benefit}}', webhookData.benefit || 'escalar seus resultados');\n\nreturn [{\n  json: {\n    follower_id: follower.id,\n    follower_username: follower.follower_username,\n    follower_user_id: follower.follower_user_id,\n    account_id: follower.account_id,\n    icp_score: follower.icp_score,\n    message: message,\n    detected_at: follower.detected_at\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ],
      "id": "prepare-message",
      "name": "Preparar Mensagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PYTHON_API_URL || 'https://agenticoskevsacademy-production.up.railway.app' }}/followers/outreach",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ follower_id: $json.follower_id, message: $json.message }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "id": "send-dm",
      "name": "Enviar DM",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst followerData = $('Preparar Mensagem').first().json;\n\nreturn [{\n  json: {\n    follower_id: followerData.follower_id,\n    follower_username: followerData.follower_username,\n    success: input.success || false,\n    error: input.error || input.message || null,\n    message_sent: followerData.message,\n    sent_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        300
      ],
      "id": "parse-result",
      "name": "Processar Resultado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dm-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        300
      ],
      "id": "check-dm-success",
      "name": "DM Enviada?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_execution_logs (workflow_name, execution_data, created_at)\nVALUES ('new_followers_outreach_success', $1::jsonb, NOW())",
        "options": {
          "queryReplacement": "={{ [JSON.stringify($json)] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1720,
        200
      ],
      "id": "log-success",
      "name": "Log Sucesso",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_execution_logs (workflow_name, execution_data, created_at)\nVALUES ('new_followers_outreach_error', $1::jsonb, NOW())",
        "options": {
          "queryReplacement": "={{ [JSON.stringify($json)] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1720,
        400
      ],
      "id": "log-error",
      "name": "Log Erro",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1960,
        300
      ],
      "id": "wait-rate-limit",
      "name": "Aguardar 30s (Rate Limit)"
    },
    {
      "parameters": {
        "jsCode": "// Agregar resultados de todas as DMs enviadas\nconst items = $input.all();\n\nconst summary = {\n  total_attempted: items.length,\n  total_sent: 0,\n  total_failed: 0,\n  errors: []\n};\n\nitems.forEach(item => {\n  const data = item.json;\n  if (data.success) {\n    summary.total_sent++;\n  } else {\n    summary.total_failed++;\n    if (data.error) {\n      summary.errors.push({ \n        username: data.follower_username, \n        error: data.error \n      });\n    }\n  }\n});\n\nsummary.executed_at = new Date().toISOString();\nsummary.success_rate = items.length > 0 \n  ? ((summary.total_sent / items.length) * 100).toFixed(1) + '%' \n  : '0%';\n\nreturn [{ json: summary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ],
      "id": "aggregate-results",
      "name": "Agregar Resultados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DASHBOARD_WEBHOOK_URL || 'https://cliente-a1.mentorfy.io/webhook/outreach-completed' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        300
      ],
      "id": "notify-dashboard",
      "name": "Notificar Dashboard",
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook - Outreach Trigger": {
      "main": [
        [
          {
            "node": "Buscar Seguidores Pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Seguidores Pendentes": {
      "main": [
        [
          {
            "node": "Tem Pendentes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Pendentes?": {
      "main": [
        [
          {
            "node": "Split por Seguidor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nenhum Pendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split por Seguidor": {
      "main": [
        [
          {
            "node": "Processar Um por Um",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Um por Um": {
      "main": [
        [
          {
            "node": "Preparar Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agregar Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem": {
      "main": [
        [
          {
            "node": "Enviar DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar DM": {
      "main": [
        [
          {
            "node": "Processar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resultado": {
      "main": [
        [
          {
            "node": "DM Enviada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DM Enviada?": {
      "main": [
        [
          {
            "node": "Log Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sucesso": {
      "main": [
        [
          {
            "node": "Aguardar 30s (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Erro": {
      "main": [
        [
          {
            "node": "Aguardar 30s (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 30s (Rate Limit)": {
      "main": [
        [
          {
            "node": "Processar Um por Um",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Resultados": {
      "main": [
        [
          {
            "node": "Notificar Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "instagram",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "outreach",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "dm",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-17T00:00:00.000Z",
  "versionId": "1"
}
