workflows/Prospector-DM-Dispatcher.json
{"name": "Prospector DM Dispatcher", "nodes": [{"parameters": {"httpMethod": "POST", "path": "prospector-dm-dispatch", "responseMode": "lastNode", "options": {}}, "id": "wh01", "name": "Webhook Prospector", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [220, 300], "webhookId": "prospector-dm-dispatch"}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst required = ['lead_id', 'channel', 'message'];\nconst missing = required.filter(f => \\!body[f]);\n\nif (missing.length > 0) {\n  return [{json: {success: false, error: 'Missing: ' + missing.join(', '), channel: 'error'}}];\n}\n\nreturn [{json: {\n  lead_id: body.lead_id,\n  lead_name: body.lead_name || '',\n  username: (body.username || '').replace('@',''),\n  channel: body.channel,\n  message: body.message,\n  template_id: body.template_id || '',\n  campaign_id: body.campaign_id || '',\n  campaign_name: body.campaign_name || '',\n  vertical: body.vertical || '',\n  stage: body.stage || ''\n}}];"}, "id": "val01", "name": "Validar Payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [440, 300]}, {"parameters": {"rules": {"rules": [{"conditions": {"options": {"caseSensitive": true, "leftValue": ""}, "conditions": [{"leftValue": "={{ $json.channel }}", "rightValue": "instagram", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": "Instagram"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": ""}, "conditions": [{"leftValue": "={{ $json.channel }}", "rightValue": "whatsapp", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": "WhatsApp"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": ""}, "conditions": [{"leftValue": "={{ $json.channel }}", "rightValue": "linkedin", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": "LinkedIn"}]}, "options": {}}, "id": "sw01", "name": "Roteador Canal", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [660, 300]}, {"parameters": {"method": "POST", "url": "https://agenticoskevsacademy-production.up.railway.app/api/dm-send", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({from_username: \"marcosdanielsf\", to_username: $json.username, message: $json.message, update_outreach_status: false}) }}", "options": {"timeout": 30000}}, "id": "ig01", "name": "Instagram DM Railway", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [920, 160], "onError": "continueRegularOutput", "alwaysOutputData": true}, {"parameters": {"jsCode": "const lead = $input.first().json;\nreturn [{json: {\n  success: false,\n  channel: 'whatsapp',\n  action: 'pending_manual',\n  lead_id: lead.lead_id,\n  lead_name: lead.lead_name,\n  message: lead.message,\n  reason: 'WhatsApp requer contact_id GHL + PIT token'\n}}];"}, "id": "wa01", "name": "WhatsApp Pendente", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [920, 320], "alwaysOutputData": true}, {"parameters": {"jsCode": "const lead = $input.first().json;\nreturn [{json: {\n  success: false,\n  channel: 'linkedin',\n  action: 'pending_manual',\n  lead_id: lead.lead_id,\n  lead_name: lead.lead_name,\n  message: lead.message,\n  reason: 'LinkedIn sem API publica de mensagens'\n}}];"}, "id": "li01", "name": "LinkedIn Pendente", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [920, 480], "alwaysOutputData": true}, {"parameters": {"jsCode": "const input = $input.first().json;\nconst channel = input.channel || $('Validar Payload').item.json.channel;\nconst leadId = input.lead_id || $('Validar Payload').item.json.lead_id;\n\nlet success = false;\nlet result = 'unknown';\n\nif (channel === 'instagram') {\n  success = input.success === true || input.status === 'sent';\n  result = success ? 'sent_instagram' : 'failed_instagram';\n} else if (channel === 'whatsapp') {\n  result = 'pending_whatsapp';\n} else if (channel === 'linkedin') {\n  result = 'pending_linkedin';\n}\n\nreturn [{json: {\n  success,\n  lead_id: leadId,\n  channel,\n  dispatch_result: result,\n  timestamp: new Date().toISOString()\n}}];"}, "id": "pr01", "name": "Resultado Final", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1180, 300], "alwaysOutputData": true}], "connections": {"Webhook Prospector": {"main": [[{"node": "Validar Payload", "type": "main", "index": 0}]]}, "Validar Payload": {"main": [[{"node": "Roteador Canal", "type": "main", "index": 0}]]}, "Roteador Canal": {"main": [[{"node": "Instagram DM Railway", "type": "main", "index": 0}], [{"node": "WhatsApp Pendente", "type": "main", "index": 0}], [{"node": "LinkedIn Pendente", "type": "main", "index": 0}]]}, "Instagram DM Railway": {"main": [[{"node": "Resultado Final", "type": "main", "index": 0}]]}, "WhatsApp Pendente": {"main": [[{"node": "Resultado Final", "type": "main", "index": 0}]]}, "LinkedIn Pendente": {"main": [[{"node": "Resultado Final", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveManualExecutions": true}}