apps/api/n8n-workflows-bpo-financeiro/tools/financeiro/01-TOOL-Fluxo-Caixa-Projetado.json
{"updatedAt":"2025-12-17T04:56:19.170Z","createdAt":"2025-11-30T23:19:15.237Z","id":"C4kPTHRzifQ0CIMy","name":"[TOOL] Fluxo de Caixa Projetado","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[128,32],"id":"079646b1-ebca-456b-8ec1-2c673f26a631","name":"Execute Workflow Trigger"},{"parameters":{"operation":"executeQuery","query":"=-- Fluxo de caixa projetado\nWITH fluxo AS (\n  SELECT \n    data_vencimento,\n    SUM(CASE WHEN tipo = 'receita' THEN valor_previsto ELSE 0 END) as entradas,\n    SUM(CASE WHEN tipo = 'despesa' THEN valor_previsto ELSE 0 END) as saidas\n  FROM fin_movimentacoes\n  WHERE \n    quitado = false\n    AND data_vencimento BETWEEN CURRENT_DATE AND CURRENT_DATE + INTERVAL '{{ $json.dias || 30 }} days'\n  GROUP BY data_vencimento\n  ORDER BY data_vencimento\n)\nSELECT \n  data_vencimento,\n  entradas,\n  saidas,\n  entradas - saidas as saldo_dia,\n  SUM(entradas - saidas) OVER (ORDER BY data_vencimento) as saldo_acumulado\nFROM fluxo;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,-64],"id":"9202f030-8c9d-44cd-9365-253a0a6c4c1c","name":"Buscar Fluxo de Caixa","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels"}}},{"parameters":{"operation":"executeQuery","query":"-- Resumo totais\nSELECT \n  COALESCE(SUM(CASE WHEN tipo = 'receita' AND quitado = false THEN valor_previsto ELSE 0 END), 0) as total_entradas_previstas,\n  COALESCE(SUM(CASE WHEN tipo = 'despesa' AND quitado = false THEN valor_previsto ELSE 0 END), 0) as total_saidas_previstas,\n  COALESCE(SUM(CASE WHEN tipo = 'receita' AND quitado = false THEN valor_previsto ELSE 0 END), 0) - \n  COALESCE(SUM(CASE WHEN tipo = 'despesa' AND quitado = false THEN valor_previsto ELSE 0 END), 0) as saldo_projetado\nFROM fin_movimentacoes\nWHERE \n  data_vencimento BETWEEN CURRENT_DATE AND CURRENT_DATE + INTERVAL '30 days';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,128],"id":"6908fd8a-8e56-4140-af25-b2ed7c8c3269","name":"Totais","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels"}}},{"parameters":{"jsCode":"// Formatar resposta do fluxo de caixa\n// Dados vêm do Merge node agora\nconst items = $input.all();\n\n// Separar os dados - fluxo diário vem do primeiro input, totais do segundo\nconst fluxoDiario = items.filter(i => i.json.data_vencimento);\nconst totaisItem = items.find(i => i.json.total_entradas_previstas !== undefined);\nconst totais = totaisItem ? totaisItem.json : {\n  total_entradas_previstas: 0,\n  total_saidas_previstas: 0,\n  saldo_projetado: 0\n};\n\nconst formatarValor = (valor) => new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(valor || 0);\n\nconst formatarData = (dataStr) => {\n  if (!dataStr) return '-';\n  const data = new Date(dataStr + 'T00:00:00');\n  return data.toLocaleDateString('pt-BR', {day: '2-digit', month: '2-digit'});\n};\n\n// Agrupar por semana\nconst semanas = {};\nfluxoDiario.forEach(item => {\n  const d = item.json;\n  const data = new Date(d.data_vencimento + 'T00:00:00');\n  const semana = Math.ceil((data.getDate()) / 7);\n  const chave = `Semana ${semana}`;\n  \n  if (!semanas[chave]) {\n    semanas[chave] = { entradas: 0, saidas: 0 };\n  }\n  semanas[chave].entradas += parseFloat(d.entradas) || 0;\n  semanas[chave].saidas += parseFloat(d.saidas) || 0;\n});\n\nconst entradasPrevistas = parseFloat(totais.total_entradas_previstas) || 0;\nconst saidasPrevistas = parseFloat(totais.total_saidas_previstas) || 0;\nconst saldoProjetado = parseFloat(totais.saldo_projetado) || 0;\n\nreturn {\n  json: {\n    resumo: {\n      periodo: 'Próximos 30 dias',\n      total_entradas: formatarValor(entradasPrevistas),\n      total_saidas: formatarValor(saidasPrevistas),\n      saldo_projetado: formatarValor(saldoProjetado),\n      situacao: saldoProjetado >= 0 ? 'POSITIVO' : 'NEGATIVO'\n    },\n    por_semana: Object.entries(semanas).map(([semana, valores]) => ({\n      semana,\n      entradas: formatarValor(valores.entradas),\n      saidas: formatarValor(valores.saidas),\n      saldo: formatarValor(valores.entradas - valores.saidas)\n    })),\n    detalhes_diarios: fluxoDiario.slice(0, 10).map(item => {\n      const d = item.json;\n      return {\n        data: formatarData(d.data_vencimento),\n        entradas: formatarValor(d.entradas),\n        saidas: formatarValor(d.saidas),\n        saldo_acumulado: formatarValor(d.saldo_acumulado)\n      };\n    }),\n    alerta: saldoProjetado < 0 ? `ATENÇÃO: Saldo projetado negativo de ${formatarValor(Math.abs(saldoProjetado))}` : null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,32],"id":"cfee5566-c424-4fed-9e0d-359a44d66762","name":"Formatar Resposta"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,32],"id":"86b992c5-5b74-4dbf-be29-3ea3d3942284","name":"Merge"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Buscar Fluxo de Caixa","type":"main","index":0},{"node":"Totais","type":"main","index":0}]]},"Buscar Fluxo de Caixa":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Totais":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{}}]},"versionId":"7616cd3d-4806-4d54-bfb4-5b8fa454355f","activeVersionId":null,"versionCounter":6,"triggerCount":0,"shared":[{"updatedAt":"2025-11-30T23:19:15.250Z","createdAt":"2025-11-30T23:19:15.250Z","role":"workflow:owner","workflowId":"C4kPTHRzifQ0CIMy","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":null}