apps/api/n8n-workflows-bpo-financeiro/tools/financeiro/02-TOOL-Criar-Parcelamento.json
{"updatedAt":"2025-12-17T04:56:06.211Z","createdAt":"2025-11-30T23:22:33.834Z","id":"lbOH0pP3mOyEAkXQ","name":"[TOOL] Criar Parcelamento","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-1088,-48],"id":"824f2d4d-651a-4745-ba79-180943701398","name":"Execute Workflow Trigger"},{"parameters":{"jsCode":"// Validar e preparar dados do parcelamento\nconst input = $json;\n\n// Campos obrigatórios\nconst tipo = input.tipo; // 'receita' ou 'despesa'\nconst descricao = input.descricao;\nconst valorTotal = parseFloat(input.valor_total);\nconst numParcelas = parseInt(input.num_parcelas);\nconst dataPrimeira = input.data_primeira_parcela;\n\n// Validações\nconst erros = [];\n\nif (!tipo || !['receita', 'despesa'].includes(tipo)) {\n  erros.push('Tipo deve ser \"receita\" ou \"despesa\"');\n}\n\nif (!descricao || descricao.trim().length < 3) {\n  erros.push('Descrição é obrigatória (mínimo 3 caracteres)');\n}\n\nif (!valorTotal || valorTotal <= 0) {\n  erros.push('Valor total deve ser maior que zero');\n}\n\nif (!numParcelas || numParcelas < 2 || numParcelas > 120) {\n  erros.push('Número de parcelas deve ser entre 2 e 120');\n}\n\nif (!dataPrimeira) {\n  erros.push('Data da primeira parcela é obrigatória');\n}\n\nif (erros.length > 0) {\n  return {\n    json: {\n      sucesso: false,\n      erro: erros.join('; ')\n    }\n  };\n}\n\n// Calcular valor da parcela\nconst valorParcela = Math.round((valorTotal / numParcelas) * 100) / 100;\n\nreturn {\n  json: {\n    sucesso: true,\n    tipo,\n    descricao: descricao.trim(),\n    valor_total: valorTotal,\n    num_parcelas: numParcelas,\n    valor_parcela: valorParcela,\n    data_primeira_parcela: dataPrimeira,\n    tipo_entidade: input.tipo_entidade || 'pj',\n    categoria_id: input.categoria_id || null,\n    cliente_fornecedor_id: input.cliente_fornecedor_id || null,\n    observacao: input.observacao || null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-48],"id":"f2507cbd-bef1-470b-9cd5-a679d3fac479","name":"Validar Dados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-sucesso","leftValue":"={{ $json.sucesso }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-656,-48],"id":"e1ce1eb0-595d-47bc-9db0-cf6dec8fac7d","name":"Validação OK?"},{"parameters":{"jsCode":"// Gerar as movimentações de cada parcela direto para fin_movimentacoes\nconst dados = $json;\n\nconst parcelas = [];\nlet dataBase = new Date(dados.data_primeira_parcela + 'T00:00:00');\n\nfor (let i = 1; i <= dados.num_parcelas; i++) {\n  const dataVencimento = new Date(dataBase);\n  dataVencimento.setMonth(dataVencimento.getMonth() + (i - 1));\n  \n  parcelas.push({\n    tipo: dados.tipo,\n    descricao: dados.descricao,\n    valor_previsto: dados.valor_parcela,\n    data_vencimento: dataVencimento.toISOString().split('T')[0],\n    tipo_entidade: dados.tipo_entidade,\n    categoria_id: dados.categoria_id,\n    cliente_fornecedor_id: dados.cliente_fornecedor_id,\n    parcela_numero: i,\n    parcelas_total: dados.num_parcelas,\n    observacao: dados.observacao\n  });\n}\n\nreturn parcelas.map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,-144],"id":"0bb8a716-75b0-46c3-a282-52c5acd1ba78","name":"Gerar Parcelas"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO fin_movimentacoes (\n  tipo,\n  descricao,\n  valor_previsto,\n  data_vencimento,\n  tipo_entidade,\n  categoria_id,\n  cliente_fornecedor_id,\n  parcela_numero,\n  parcelas_total,\n  observacao,\n  quitado\n)\nVALUES (\n  '{{ $json.tipo }}',\n  '{{ $json.descricao.replace(/'/g, \"''\") }}',\n  {{ $json.valor_previsto }},\n  '{{ $json.data_vencimento }}'::date,\n  '{{ $json.tipo_entidade }}',\n  {{ $json.categoria_id ? \"'\" + $json.categoria_id + \"'::uuid\" : 'NULL' }},\n  {{ $json.cliente_fornecedor_id ? \"'\" + $json.cliente_fornecedor_id + \"'::uuid\" : 'NULL' }},\n  {{ $json.parcela_numero }},\n  {{ $json.parcelas_total }},\n  {{ $json.observacao ? \"'\" + $json.observacao.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  false\n)\nRETURNING id, parcela_numero;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-208,-144],"id":"aee28120-7abc-4af6-a747-a59c8185538d","name":"Inserir Parcela","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels"}}},{"parameters":{"jsCode":"// Formatar resposta de sucesso\nconst dadosOriginais = $('Validar Dados').first().json;\nconst parcelasInseridas = $('Inserir Parcela').all();\n\nconst formatarValor = (valor) => new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(valor || 0);\n\nconst formatarData = (dataStr) => {\n  if (!dataStr) return '-';\n  const data = new Date(dataStr + 'T00:00:00');\n  return data.toLocaleDateString('pt-BR');\n};\n\nreturn {\n  json: {\n    sucesso: true,\n    mensagem: `Parcelamento criado com sucesso!`,\n    detalhes: {\n      tipo: dadosOriginais.tipo === 'receita' ? '💰 A Receber' : '💳 A Pagar',\n      descricao: dadosOriginais.descricao,\n      valor_total: formatarValor(dadosOriginais.valor_total),\n      parcelas: `${dadosOriginais.num_parcelas}x de ${formatarValor(dadosOriginais.valor_parcela)}`,\n      primeira_parcela: formatarData(dadosOriginais.data_primeira_parcela),\n      movimentacoes_criadas: parcelasInseridas.length\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-144],"id":"0b66b340-3de6-4d3b-b2cc-7cb58c92bdd8","name":"Formatar Resposta"},{"parameters":{"jsCode":"// Retornar erro de validação\nreturn {\n  json: {\n    sucesso: false,\n    erro: $json.erro\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,64],"id":"2041483d-887b-462d-a9ef-dba4944cb04d","name":"Retornar Erro"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Validar Dados","type":"main","index":0}]]},"Validar Dados":{"main":[[{"node":"Validação OK?","type":"main","index":0}]]},"Validação OK?":{"main":[[{"node":"Gerar Parcelas","type":"main","index":0}],[{"node":"Retornar Erro","type":"main","index":0}]]},"Gerar Parcelas":{"main":[[{"node":"Inserir Parcela","type":"main","index":0}]]},"Inserir Parcela":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"tipo":"despesa","descricao":"Compra de Equipamento","valor_total":6000,"num_parcelas":6,"data_primeira_parcela":"2025-01-15","tipo_entidade":"pj"}}]},"versionId":"1903a524-cc5a-4c52-9691-1a6fb0922c5c","activeVersionId":null,"versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2025-11-30T23:22:33.847Z","createdAt":"2025-11-30T23:22:33.847Z","role":"workflow:owner","workflowId":"lbOH0pP3mOyEAkXQ","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":null}