apps/api/n8n-workflows-bpo-financeiro/tools/financeiro/03-TOOL-Criar-Recorrencia.json
{"updatedAt":"2025-12-17T04:56:12.618Z","createdAt":"2025-11-30T23:22:51.032Z","id":"h2JGa8pTPjTtA5vn","name":"[TOOL] Criar Recorrência","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Validar e preparar dados da recorrência\nconst input = $json;\n\n// Campos obrigatórios\nconst tipo = input.tipo; // 'receita' ou 'despesa'\nconst descricao = input.descricao;\nconst valor = parseFloat(input.valor);\nconst diaVencimento = parseInt(input.dia_vencimento);\n\n// Validações\nconst erros = [];\n\nif (!tipo || !['receita', 'despesa'].includes(tipo)) {\n  erros.push('Tipo deve ser \"receita\" ou \"despesa\"');\n}\n\nif (!descricao || descricao.trim().length < 3) {\n  erros.push('Descrição é obrigatória (mínimo 3 caracteres)');\n}\n\nif (!valor || valor <= 0) {\n  erros.push('Valor deve ser maior que zero');\n}\n\nif (!diaVencimento || diaVencimento < 1 || diaVencimento > 31) {\n  erros.push('Dia de vencimento deve ser entre 1 e 31');\n}\n\nif (erros.length > 0) {\n  return {\n    json: {\n      sucesso: false,\n      erro: erros.join('; ')\n    }\n  };\n}\n\nreturn {\n  json: {\n    sucesso: true,\n    tipo,\n    descricao: descricao.trim(),\n    valor,\n    dia_vencimento: diaVencimento,\n    tipo_entidade: input.tipo_entidade || 'pj',\n    categoria_id: input.categoria_id || null,\n    cliente_fornecedor_id: input.cliente_fornecedor_id || null,\n    observacao: input.observacao || null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1552,416],"id":"8dc6746c-0d38-4342-ac50-b68e59c5a0d1","name":"Validar Dados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-sucesso","leftValue":"={{ $json.sucesso }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1328,416],"id":"83a85300-ad12-4a50-9ba7-7e029e2a04a6","name":"Validação OK?"},{"parameters":{"operation":"executeQuery","query":"=-- Verificar se já existe recorrência similar\nSELECT id, descricao, valor, dia_vencimento\nFROM fin_recorrencias\nWHERE \n  ativo = true\n  AND tipo = '{{ $json.tipo }}'\n  AND LOWER(descricao) = LOWER('{{ $json.descricao.replace(/'/g, \"''\") }}')\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1104,320],"id":"ae35208d-b83f-44cc-a311-a45335f505eb","name":"Verificar Duplicada","alwaysOutputData":true,"credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"nao-existe","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,320],"id":"b441b159-3cfb-4cc4-9cda-ada5ca2c2216","name":"Já Existe?"},{"parameters":{"operation":"executeQuery","query":"=-- Criar nova recorrência\nINSERT INTO fin_recorrencias (\n  tipo,\n  descricao,\n  valor,\n  dia_vencimento,\n  tipo_entidade,\n  categoria_id,\n  cliente_fornecedor_id,\n  observacao,\n  ativo\n)\nVALUES (\n  '{{ $('Validar Dados').item.json.tipo }}',\n  '{{ $('Validar Dados').item.json.descricao.replace(/'/g, \"''\") }}',\n  {{ $('Validar Dados').item.json.valor }},\n  {{ $('Validar Dados').item.json.dia_vencimento }},\n  '{{ $('Validar Dados').item.json.tipo_entidade }}',\n  {{ $('Validar Dados').item.json.categoria_id ? \"'\" + $('Validar Dados').item.json.categoria_id + \"'::uuid\" : 'NULL' }},\n  {{ $('Validar Dados').item.json.cliente_fornecedor_id ? \"'\" + $('Validar Dados').item.json.cliente_fornecedor_id + \"'::uuid\" : 'NULL' }},\n  {{ $('Validar Dados').item.json.observacao ? \"'\" + $('Validar Dados').item.json.observacao.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  true\n)\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-656,224],"id":"947981bd-7d11-4d2b-ad50-df813ee49a93","name":"Criar Recorrência","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels"}}},{"parameters":{"jsCode":"// Formatar resposta de sucesso\nconst recorrencia = $json;\nconst dadosOriginais = $('Validar Dados').first().json;\n\nconst formatarValor = (valor) => new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(valor || 0);\n\nreturn {\n  json: {\n    sucesso: true,\n    mensagem: `Recorrência criada com sucesso!`,\n    detalhes: {\n      id: recorrencia.id,\n      tipo: dadosOriginais.tipo === 'receita' ? 'Receita Recorrente' : 'Despesa Recorrente',\n      descricao: dadosOriginais.descricao,\n      valor: formatarValor(dadosOriginais.valor),\n      dia_vencimento: dadosOriginais.dia_vencimento,\n      proxima_geracao: 'Dia 1 do próximo mês às 6h'\n    },\n    nota: 'As movimentações serão geradas automaticamente no dia 1 de cada mês.'\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,224],"id":"1d042d48-3e74-49cd-89ab-1f6922496cec","name":"Formatar Resposta"},{"parameters":{"jsCode":"// Retornar erro - já existe\nconst existente = $json;\n\nconst formatarValor = (valor) => new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(valor || 0);\n\nreturn {\n  json: {\n    sucesso: false,\n    erro: `Já existe uma recorrência ativa com esta descrição: \"${existente.descricao}\" - ${formatarValor(existente.valor)} dia ${existente.dia_vencimento}`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,416],"id":"46394e59-9eeb-4888-83ea-692b86c7d556","name":"Erro: Duplicada"},{"parameters":{"jsCode":"// Retornar erro de validação\nreturn {\n  json: {\n    sucesso: false,\n    erro: $json.erro\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,512],"id":"c0e24b6e-5480-4c6d-bc0a-fa5dfaee1c5f","name":"Retornar Erro"},{"parameters":{"workflowInputs":{"values":[{"name":"tipo"},{"name":"descricao"},{"name":"valor"},{"name":"dia_vencimento"},{"name":"tipo_entidade"},{"name":"observacao"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1776,416],"id":"d8876e2a-426c-410b-b599-2f3821613f5c","name":"When Executed by Another Workflow"}],"connections":{"Validar Dados":{"main":[[{"node":"Validação OK?","type":"main","index":0}]]},"Validação OK?":{"main":[[{"node":"Verificar Duplicada","type":"main","index":0}],[{"node":"Retornar Erro","type":"main","index":0}]]},"Verificar Duplicada":{"main":[[{"node":"Já Existe?","type":"main","index":0}]]},"Já Existe?":{"main":[[{"node":"Criar Recorrência","type":"main","index":0}],[{"node":"Erro: Duplicada","type":"main","index":0}]]},"Criar Recorrência":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Validar Dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"413e0ffb-a99f-4d23-8233-5ec024fc4bf9","activeVersionId":null,"versionCounter":7,"triggerCount":0,"shared":[{"updatedAt":"2025-11-30T23:22:51.045Z","createdAt":"2025-11-30T23:22:51.045Z","role":"workflow:owner","workflowId":"h2JGa8pTPjTtA5vn","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":null}