apps/api/n8n-workflows-bpo-financeiro/tools/financeiro/05-TOOL-Dashboard-KPIs.json
{"updatedAt":"2025-12-23T23:32:58.451Z","createdAt":"2025-12-01T00:20:45.523Z","id":"s6HIkSZxkKL90B18","name":"[TOOL] Dashboard KPIs","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[304,112],"id":"5783a98f-74dd-4c72-89e8-820fb186dd50","name":"Execute Workflow Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM vw_dashboard_kpis;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[528,112],"id":"18e01bf2-b519-4db8-93a1-37d8f17b35bd","name":"Buscar KPIs","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar dashboard de KPIs\nconst kpis = $json;\n\nconst formatarValor = (valor) => new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(valor || 0);\n\nconst getStatusResultado = (valor) => {\n  if (valor > 0) return '🟢 POSITIVO';\n  if (valor < 0) return '🔴 NEGATIVO';\n  return '⚪ NEUTRO';\n};\n\nconst getStatusInadimplencia = (taxa) => {\n  if (taxa <= 5) return '🟢 Saudável';\n  if (taxa <= 15) return '🟡 Atenção';\n  if (taxa <= 30) return '🟠 Preocupante';\n  return '🔴 Crítico';\n};\n\nconst mesAtual = new Date().toLocaleDateString('pt-BR', { month: 'long', year: 'numeric' });\n\nreturn {\n  json: {\n    titulo: `Dashboard Financeiro - ${mesAtual}`,\n    resultado_mes: {\n      receitas: formatarValor(kpis.receitas_mes_atual),\n      despesas: formatarValor(kpis.despesas_mes_atual),\n      resultado: formatarValor(kpis.resultado_mes),\n      status: getStatusResultado(parseFloat(kpis.resultado_mes))\n    },\n    contas_a_receber: {\n      total: formatarValor(kpis.total_a_receber),\n      quantidade: parseInt(kpis.qtd_a_receber) || 0\n    },\n    contas_a_pagar: {\n      total: formatarValor(kpis.total_a_pagar),\n      quantidade: parseInt(kpis.qtd_a_pagar) || 0,\n      proximos_7_dias: formatarValor(kpis.a_pagar_7dias),\n      qtd_7_dias: parseInt(kpis.qtd_vencendo_7dias) || 0\n    },\n    inadimplencia: {\n      valor_total: formatarValor(kpis.valor_inadimplente),\n      titulos_vencidos: parseInt(kpis.qtd_titulos_vencidos) || 0,\n      clientes_inadimplentes: parseInt(kpis.clientes_inadimplentes) || 0,\n      taxa: `${parseFloat(kpis.taxa_inadimplencia || 0).toFixed(1)}%`,\n      status: getStatusInadimplencia(parseFloat(kpis.taxa_inadimplencia || 0))\n    },\n    projecao: {\n      saldo_projetado: formatarValor(kpis.saldo_projetado),\n      status: getStatusResultado(parseFloat(kpis.saldo_projetado))\n    },\n    gerado_em: new Date().toLocaleString('pt-BR')\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,112],"id":"9804c252-cd52-4d2e-bd15-0620e0d9bac0","name":"Formatar Dashboard"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Buscar KPIs","type":"main","index":0}]]},"Buscar KPIs":{"main":[[{"node":"Formatar Dashboard","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8973d1b3-6389-4d98-bb22-7d8acea1b0db","activeVersionId":"8973d1b3-6389-4d98-bb22-7d8acea1b0db","versionCounter":12,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T00:20:45.546Z","createdAt":"2025-12-01T00:20:45.546Z","role":"workflow:owner","workflowId":"s6HIkSZxkKL90B18","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[{"updatedAt":"2025-11-03T19:28:46.270Z","createdAt":"2025-11-03T19:28:46.270Z","id":"3znkt8vlq1yubGAB","name":"on"}],"activeVersion":{"updatedAt":"2025-12-23T23:32:49.000Z","createdAt":"2025-12-15T12:58:49.223Z","versionId":"8973d1b3-6389-4d98-bb22-7d8acea1b0db","workflowId":"s6HIkSZxkKL90B18","nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[304,112],"id":"5783a98f-74dd-4c72-89e8-820fb186dd50","name":"Execute Workflow Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM vw_dashboard_kpis;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[528,112],"id":"18e01bf2-b519-4db8-93a1-37d8f17b35bd","name":"Buscar KPIs","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar dashboard de KPIs\nconst kpis = $json;\n\nconst formatarValor = (valor) => new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(valor || 0);\n\nconst getStatusResultado = (valor) => {\n  if (valor > 0) return '🟢 POSITIVO';\n  if (valor < 0) return '🔴 NEGATIVO';\n  return '⚪ NEUTRO';\n};\n\nconst getStatusInadimplencia = (taxa) => {\n  if (taxa <= 5) return '🟢 Saudável';\n  if (taxa <= 15) return '🟡 Atenção';\n  if (taxa <= 30) return '🟠 Preocupante';\n  return '🔴 Crítico';\n};\n\nconst mesAtual = new Date().toLocaleDateString('pt-BR', { month: 'long', year: 'numeric' });\n\nreturn {\n  json: {\n    titulo: `Dashboard Financeiro - ${mesAtual}`,\n    resultado_mes: {\n      receitas: formatarValor(kpis.receitas_mes_atual),\n      despesas: formatarValor(kpis.despesas_mes_atual),\n      resultado: formatarValor(kpis.resultado_mes),\n      status: getStatusResultado(parseFloat(kpis.resultado_mes))\n    },\n    contas_a_receber: {\n      total: formatarValor(kpis.total_a_receber),\n      quantidade: parseInt(kpis.qtd_a_receber) || 0\n    },\n    contas_a_pagar: {\n      total: formatarValor(kpis.total_a_pagar),\n      quantidade: parseInt(kpis.qtd_a_pagar) || 0,\n      proximos_7_dias: formatarValor(kpis.a_pagar_7dias),\n      qtd_7_dias: parseInt(kpis.qtd_vencendo_7dias) || 0\n    },\n    inadimplencia: {\n      valor_total: formatarValor(kpis.valor_inadimplente),\n      titulos_vencidos: parseInt(kpis.qtd_titulos_vencidos) || 0,\n      clientes_inadimplentes: parseInt(kpis.clientes_inadimplentes) || 0,\n      taxa: `${parseFloat(kpis.taxa_inadimplencia || 0).toFixed(1)}%`,\n      status: getStatusInadimplencia(parseFloat(kpis.taxa_inadimplencia || 0))\n    },\n    projecao: {\n      saldo_projetado: formatarValor(kpis.saldo_projetado),\n      status: getStatusResultado(parseFloat(kpis.saldo_projetado))\n    },\n    gerado_em: new Date().toLocaleString('pt-BR')\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,112],"id":"9804c252-cd52-4d2e-bd15-0620e0d9bac0","name":"Formatar Dashboard"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Buscar KPIs","type":"main","index":0}]]},"Buscar KPIs":{"main":[[{"node":"Formatar Dashboard","type":"main","index":0}]]}},"authors":"Alan Jones Rios","name":"Version 8973d1b3","description":"","workflowPublishHistory":[{"createdAt":"2025-12-23T23:32:49.091Z","id":322,"workflowId":"s6HIkSZxkKL90B18","versionId":"8973d1b3-6389-4d98-bb22-7d8acea1b0db","event":"activated","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1"}]}}