apps/api/n8n-workflows-bpo-financeiro/tools/financeiro/06-TOOL-Centros-Custo.json
{"updatedAt":"2025-12-17T04:55:55.143Z","createdAt":"2025-12-01T00:21:05.034Z","id":"Vu6Uk9NqVD5KTNqM","name":"[TOOL] Centros de Custo","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-352,16],"id":"ceb389a5-53e3-446f-a195-1b50d0b4769b","name":"Execute Workflow Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-acao","leftValue":"={{ $json.acao }}","rightValue":"relatorio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-128,16],"id":"e1995c7c-5156-490f-a9ee-b4a1cf53c623","name":"Relatório ou Listar?"},{"parameters":{"operation":"executeQuery","query":"=-- Relatório de despesas por centro de custo\nSELECT \n  cc.nome as centro_custo,\n  cc.codigo,\n  COUNT(m.id) as qtd_movimentacoes,\n  SUM(COALESCE(m.valor_realizado, m.valor_previsto)) as valor_total,\n  ROUND(SUM(COALESCE(m.valor_realizado, m.valor_previsto)) * 100.0 / \n    NULLIF((SELECT SUM(COALESCE(valor_realizado, valor_previsto)) \n     FROM fin_movimentacoes \n     WHERE tipo = 'despesa' \n     AND EXTRACT(YEAR FROM data_vencimento) = {{ $json.ano || 'EXTRACT(YEAR FROM CURRENT_DATE)' }}\n     AND EXTRACT(MONTH FROM data_vencimento) = {{ $json.mes || 'EXTRACT(MONTH FROM CURRENT_DATE)' }}), 0), 2) as percentual\nFROM fin_centros_custo cc\nLEFT JOIN fin_movimentacoes m ON \n  m.centro_custo_id = cc.id \n  AND m.tipo = 'despesa'\n  AND EXTRACT(YEAR FROM m.data_vencimento) = {{ $json.ano || 'EXTRACT(YEAR FROM CURRENT_DATE)' }}\n  AND EXTRACT(MONTH FROM m.data_vencimento) = {{ $json.mes || 'EXTRACT(MONTH FROM CURRENT_DATE)' }}\nWHERE cc.ativo = true\nGROUP BY cc.id, cc.nome, cc.codigo\nORDER BY valor_total DESC NULLS LAST;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,-96],"id":"7623f725-63a5-480d-a019-42f207209ca7","name":"Relatório por Centro","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels"}}},{"parameters":{"operation":"executeQuery","query":"-- Listar centros de custo ativos\nSELECT id, nome, descricao, codigo\nFROM fin_centros_custo\nWHERE ativo = true\nORDER BY nome;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,112],"id":"c84fcc77-abff-46d4-952d-fec9692ab2c0","name":"Listar Centros","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels"}}},{"parameters":{"jsCode":"// Formatar relatório de centros de custo\nconst dados = $input.all().filter(i => i.json.centro_custo);\n\nconst formatarValor = (valor) => new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(valor || 0);\n\nconst totalGeral = dados.reduce((sum, i) => sum + (parseFloat(i.json.valor_total) || 0), 0);\n\nconst mesNome = new Date().toLocaleDateString('pt-BR', { month: 'long', year: 'numeric' });\n\nreturn {\n  json: {\n    titulo: `Despesas por Centro de Custo - ${mesNome}`,\n    total_geral: formatarValor(totalGeral),\n    centros: dados.map(i => ({\n      centro: i.json.centro_custo,\n      codigo: i.json.codigo,\n      movimentacoes: parseInt(i.json.qtd_movimentacoes) || 0,\n      valor: formatarValor(i.json.valor_total),\n      percentual: `${parseFloat(i.json.percentual || 0).toFixed(1)}%`\n    }))\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-96],"id":"e01e2d1b-5cb0-4835-8391-56eb99e0d519","name":"Formatar Relatório"},{"parameters":{"jsCode":"// Formatar lista de centros de custo\nconst centros = $input.all().filter(i => i.json.id);\n\nreturn {\n  json: {\n    titulo: 'Centros de Custo Disponíveis',\n    quantidade: centros.length,\n    centros: centros.map(i => ({\n      id: i.json.id,\n      nome: i.json.nome,\n      codigo: i.json.codigo,\n      descricao: i.json.descricao || '-'\n    }))\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,112],"id":"b6e1be07-dea4-429f-ac7b-847c3cb2ad29","name":"Formatar Lista"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Relatório ou Listar?","type":"main","index":0}]]},"Relatório ou Listar?":{"main":[[{"node":"Relatório por Centro","type":"main","index":0}],[{"node":"Listar Centros","type":"main","index":0}]]},"Relatório por Centro":{"main":[[{"node":"Formatar Relatório","type":"main","index":0}]]},"Listar Centros":{"main":[[{"node":"Formatar Lista","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{}}]},"versionId":"7f1e54d0-15f4-4a9d-ae37-a3892db4f88d","activeVersionId":null,"versionCounter":6,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T00:21:05.043Z","createdAt":"2025-12-01T00:21:05.043Z","role":"workflow:owner","workflowId":"Vu6Uk9NqVD5KTNqM","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":null}