apps/api/n8n-workflows-bpo-financeiro/tools/financeiro/07-TOOL-Orcamento-Realizado.json
{"updatedAt":"2025-12-17T04:56:31.110Z","createdAt":"2025-12-01T00:21:25.681Z","id":"vStkWfdwFAg0vqZw","name":"[TOOL] Or칞amento vs Realizado","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[320,112],"id":"0e2248e6-a25c-44f0-8918-27295022de46","name":"Execute Workflow Trigger"},{"parameters":{"operation":"executeQuery","query":"=-- Or칞amento vs Realizado\nSELECT \n  ano,\n  mes,\n  tipo,\n  categoria,\n  centro_custo,\n  valor_planejado,\n  valor_realizado,\n  diferenca,\n  percentual_realizado\nFROM vw_orcamento_realizado\nWHERE \n  ano = {{ $json.ano || 'EXTRACT(YEAR FROM CURRENT_DATE)' }}\n  AND mes = {{ $json.mes || 'EXTRACT(MONTH FROM CURRENT_DATE)' }}\nORDER BY tipo, categoria;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,112],"id":"09e15b1d-58ac-4a4c-a9dd-349e4a9ef3ff","name":"Buscar Or칞amento","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar relat칩rio de or칞amento vs realizado\nconst dados = $input.all().filter(i => i.json.categoria);\n\nconst formatarValor = (valor) => new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(valor || 0);\n\nconst getStatusPercentual = (percentual, tipo) => {\n  if (tipo === 'receita') {\n    if (percentual >= 100) return '游릭';\n    if (percentual >= 80) return '游리';\n    return '游댮';\n  } else {\n    // Para despesas, menos 칠 melhor\n    if (percentual <= 80) return '游릭';\n    if (percentual <= 100) return '游리';\n    return '游댮';\n  }\n};\n\n// Separar por tipo\nconst receitas = dados.filter(d => d.json.tipo === 'receita');\nconst despesas = dados.filter(d => d.json.tipo === 'despesa');\n\n// Totais\nconst totalReceitaPlanejada = receitas.reduce((sum, i) => sum + (parseFloat(i.json.valor_planejado) || 0), 0);\nconst totalReceitaRealizada = receitas.reduce((sum, i) => sum + (parseFloat(i.json.valor_realizado) || 0), 0);\nconst totalDespesaPlanejada = despesas.reduce((sum, i) => sum + (parseFloat(i.json.valor_planejado) || 0), 0);\nconst totalDespesaRealizada = despesas.reduce((sum, i) => sum + (parseFloat(i.json.valor_realizado) || 0), 0);\n\nconst mesNome = new Date().toLocaleDateString('pt-BR', { month: 'long', year: 'numeric' });\n\nif (dados.length === 0) {\n  return {\n    json: {\n      titulo: `Or칞amento vs Realizado - ${mesNome}`,\n      mensagem: 'Nenhum or칞amento cadastrado para este per칤odo. Use a ferramenta de criar or칞amento para definir metas.',\n      tem_dados: false\n    }\n  };\n}\n\nreturn {\n  json: {\n    titulo: `Or칞amento vs Realizado - ${mesNome}`,\n    tem_dados: true,\n    resumo: {\n      receitas: {\n        planejado: formatarValor(totalReceitaPlanejada),\n        realizado: formatarValor(totalReceitaRealizada),\n        percentual: `${totalReceitaPlanejada > 0 ? ((totalReceitaRealizada / totalReceitaPlanejada) * 100).toFixed(1) : 0}%`,\n        status: getStatusPercentual(totalReceitaPlanejada > 0 ? (totalReceitaRealizada / totalReceitaPlanejada) * 100 : 0, 'receita')\n      },\n      despesas: {\n        planejado: formatarValor(totalDespesaPlanejada),\n        realizado: formatarValor(totalDespesaRealizada),\n        percentual: `${totalDespesaPlanejada > 0 ? ((totalDespesaRealizada / totalDespesaPlanejada) * 100).toFixed(1) : 0}%`,\n        status: getStatusPercentual(totalDespesaPlanejada > 0 ? (totalDespesaRealizada / totalDespesaPlanejada) * 100 : 0, 'despesa')\n      },\n      resultado_planejado: formatarValor(totalReceitaPlanejada - totalDespesaPlanejada),\n      resultado_realizado: formatarValor(totalReceitaRealizada - totalDespesaRealizada)\n    },\n    detalhes_receitas: receitas.map(i => ({\n      categoria: i.json.categoria || 'Sem categoria',\n      planejado: formatarValor(i.json.valor_planejado),\n      realizado: formatarValor(i.json.valor_realizado),\n      percentual: `${parseFloat(i.json.percentual_realizado || 0).toFixed(1)}%`,\n      status: getStatusPercentual(parseFloat(i.json.percentual_realizado || 0), 'receita')\n    })),\n    detalhes_despesas: despesas.map(i => ({\n      categoria: i.json.categoria || 'Sem categoria',\n      centro_custo: i.json.centro_custo || '-',\n      planejado: formatarValor(i.json.valor_planejado),\n      realizado: formatarValor(i.json.valor_realizado),\n      percentual: `${parseFloat(i.json.percentual_realizado || 0).toFixed(1)}%`,\n      status: getStatusPercentual(parseFloat(i.json.percentual_realizado || 0), 'despesa')\n    }))\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,112],"id":"bda8f68a-01a3-4f8f-91c7-28e513eadbab","name":"Formatar Relat칩rio"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Buscar Or칞amento","type":"main","index":0}]]},"Buscar Or칞amento":{"main":[[{"node":"Formatar Relat칩rio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"titulo":"Or칞amento vs Realizado - dezembro de 2025","mensagem":"Nenhum or칞amento cadastrado para este per칤odo. Use a ferramenta de criar or칞amento para definir metas.","tem_dados":false}}]},"versionId":"5dc1ad54-d79b-4fe9-b45d-c88aa0bea045","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T00:21:25.694Z","createdAt":"2025-12-01T00:21:25.694Z","role":"workflow:owner","workflowId":"vStkWfdwFAg0vqZw","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":null}