apps/api/n8n-workflows-bpo-financeiro/tools/financeiro/08-TOOL-DRE-Simplificado.json
{"updatedAt":"2025-12-23T23:33:37.270Z","createdAt":"2025-12-01T00:21:42.637Z","id":"9N4DwvjLk6WsJm64","name":"[TOOL] DRE Simplificado","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[16,112],"id":"4414c210-d957-484e-9b88-1a097cb3ddba","name":"Execute Workflow Trigger"},{"parameters":{"operation":"executeQuery","query":"=-- DRE dos últimos meses\nSELECT * FROM vw_dre_mensal\nWHERE \n  (ano = EXTRACT(YEAR FROM CURRENT_DATE) AND mes <= EXTRACT(MONTH FROM CURRENT_DATE))\n  OR (ano = EXTRACT(YEAR FROM CURRENT_DATE) - 1 AND mes > EXTRACT(MONTH FROM CURRENT_DATE))\nORDER BY ano DESC, mes DESC\nLIMIT {{ $json.meses || 6 }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,0],"id":"0a7a0dee-c31f-4f1b-b871-411fef5eda35","name":"Buscar DRE","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"operation":"executeQuery","query":"=-- Despesas detalhadas por categoria (mês atual)\nSELECT \n  cat.nome as categoria,\n  SUM(COALESCE(m.valor_realizado, m.valor_previsto)) as valor\nFROM fin_movimentacoes m\nLEFT JOIN fin_categorias cat ON m.categoria_id = cat.id\nWHERE \n  m.tipo = 'despesa'\n  AND m.quitado = true\n  AND EXTRACT(YEAR FROM m.data_vencimento) = EXTRACT(YEAR FROM CURRENT_DATE)\n  AND EXTRACT(MONTH FROM m.data_vencimento) = EXTRACT(MONTH FROM CURRENT_DATE)\nGROUP BY cat.nome\nORDER BY valor DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,208],"id":"4d740cd9-cd00-41d8-9c68-da46d656d779","name":"Despesas por Categoria","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar DRE\nconst allItems = $input.all();\nconst dre = allItems.filter(i => i.json.ano);\nconst despesas = allItems.filter(i => i.json.categoria);\n\nconst formatarValor = (valor) => new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(valor || 0);\n\nconst getMesNome = (mes) => {\n  const meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];\n  return meses[mes - 1];\n};\n\nconst getStatusResultado = (valor) => {\n  if (valor > 0) return '🟢';\n  if (valor < 0) return '🔴';\n  return '⚪';\n};\n\n// Calcular totais do período\nconst totalReceitas = dre.reduce((sum, i) => sum + (parseFloat(i.json.receita_bruta) || 0), 0);\nconst totalDespesas = dre.reduce((sum, i) => sum + (parseFloat(i.json.despesas_totais) || 0), 0);\nconst totalResultado = dre.reduce((sum, i) => sum + (parseFloat(i.json.resultado_liquido) || 0), 0);\n\nreturn {\n  json: {\n    titulo: 'Demonstrativo de Resultado do Exercício (DRE)',\n    periodo: `Últimos ${dre.length} meses`,\n    resumo_periodo: {\n      receita_total: formatarValor(totalReceitas),\n      despesa_total: formatarValor(totalDespesas),\n      resultado_total: formatarValor(totalResultado),\n      margem_media: `${dre.length > 0 ? (dre.reduce((sum, i) => sum + (parseFloat(i.json.margem_liquida_percentual) || 0), 0) / dre.length).toFixed(1) : 0}%`,\n      status: getStatusResultado(totalResultado)\n    },\n    evolucao_mensal: dre.map(i => ({\n      mes: `${getMesNome(i.json.mes)}/${i.json.ano}`,\n      receita: formatarValor(i.json.receita_bruta),\n      despesa: formatarValor(i.json.despesas_totais),\n      resultado: formatarValor(i.json.resultado_liquido),\n      margem: `${parseFloat(i.json.margem_liquida_percentual || 0).toFixed(1)}%`,\n      status: getStatusResultado(parseFloat(i.json.resultado_liquido))\n    })),\n    composicao_despesas_mes_atual: despesas.map(i => ({\n      categoria: i.json.categoria || 'Sem categoria',\n      valor: formatarValor(i.json.valor)\n    })),\n    gerado_em: new Date().toLocaleString('pt-BR')\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,112],"id":"ddf233ab-60c6-452b-b34f-c19d26841b00","name":"Formatar DRE"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,128],"id":"8a9cf543-5b25-4632-9898-4746fcb1d91e","name":"Merge"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Buscar DRE","type":"main","index":0},{"node":"Despesas por Categoria","type":"main","index":0}]]},"Buscar DRE":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Despesas por Categoria":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Formatar DRE","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6a3dc413-316f-472b-8839-eec552bbc990","activeVersionId":"6a3dc413-316f-472b-8839-eec552bbc990","versionCounter":10,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T00:21:42.650Z","createdAt":"2025-12-01T00:21:42.650Z","role":"workflow:owner","workflowId":"9N4DwvjLk6WsJm64","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-23T23:33:40.000Z","createdAt":"2025-12-23T23:33:37.271Z","versionId":"6a3dc413-316f-472b-8839-eec552bbc990","workflowId":"9N4DwvjLk6WsJm64","nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[16,112],"id":"4414c210-d957-484e-9b88-1a097cb3ddba","name":"Execute Workflow Trigger"},{"parameters":{"operation":"executeQuery","query":"=-- DRE dos últimos meses\nSELECT * FROM vw_dre_mensal\nWHERE \n  (ano = EXTRACT(YEAR FROM CURRENT_DATE) AND mes <= EXTRACT(MONTH FROM CURRENT_DATE))\n  OR (ano = EXTRACT(YEAR FROM CURRENT_DATE) - 1 AND mes > EXTRACT(MONTH FROM CURRENT_DATE))\nORDER BY ano DESC, mes DESC\nLIMIT {{ $json.meses || 6 }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,0],"id":"0a7a0dee-c31f-4f1b-b871-411fef5eda35","name":"Buscar DRE","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"operation":"executeQuery","query":"=-- Despesas detalhadas por categoria (mês atual)\nSELECT \n  cat.nome as categoria,\n  SUM(COALESCE(m.valor_realizado, m.valor_previsto)) as valor\nFROM fin_movimentacoes m\nLEFT JOIN fin_categorias cat ON m.categoria_id = cat.id\nWHERE \n  m.tipo = 'despesa'\n  AND m.quitado = true\n  AND EXTRACT(YEAR FROM m.data_vencimento) = EXTRACT(YEAR FROM CURRENT_DATE)\n  AND EXTRACT(MONTH FROM m.data_vencimento) = EXTRACT(MONTH FROM CURRENT_DATE)\nGROUP BY cat.nome\nORDER BY valor DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,208],"id":"4d740cd9-cd00-41d8-9c68-da46d656d779","name":"Despesas por Categoria","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar DRE\nconst allItems = $input.all();\nconst dre = allItems.filter(i => i.json.ano);\nconst despesas = allItems.filter(i => i.json.categoria);\n\nconst formatarValor = (valor) => new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(valor || 0);\n\nconst getMesNome = (mes) => {\n  const meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];\n  return meses[mes - 1];\n};\n\nconst getStatusResultado = (valor) => {\n  if (valor > 0) return '🟢';\n  if (valor < 0) return '🔴';\n  return '⚪';\n};\n\n// Calcular totais do período\nconst totalReceitas = dre.reduce((sum, i) => sum + (parseFloat(i.json.receita_bruta) || 0), 0);\nconst totalDespesas = dre.reduce((sum, i) => sum + (parseFloat(i.json.despesas_totais) || 0), 0);\nconst totalResultado = dre.reduce((sum, i) => sum + (parseFloat(i.json.resultado_liquido) || 0), 0);\n\nreturn {\n  json: {\n    titulo: 'Demonstrativo de Resultado do Exercício (DRE)',\n    periodo: `Últimos ${dre.length} meses`,\n    resumo_periodo: {\n      receita_total: formatarValor(totalReceitas),\n      despesa_total: formatarValor(totalDespesas),\n      resultado_total: formatarValor(totalResultado),\n      margem_media: `${dre.length > 0 ? (dre.reduce((sum, i) => sum + (parseFloat(i.json.margem_liquida_percentual) || 0), 0) / dre.length).toFixed(1) : 0}%`,\n      status: getStatusResultado(totalResultado)\n    },\n    evolucao_mensal: dre.map(i => ({\n      mes: `${getMesNome(i.json.mes)}/${i.json.ano}`,\n      receita: formatarValor(i.json.receita_bruta),\n      despesa: formatarValor(i.json.despesas_totais),\n      resultado: formatarValor(i.json.resultado_liquido),\n      margem: `${parseFloat(i.json.margem_liquida_percentual || 0).toFixed(1)}%`,\n      status: getStatusResultado(parseFloat(i.json.resultado_liquido))\n    })),\n    composicao_despesas_mes_atual: despesas.map(i => ({\n      categoria: i.json.categoria || 'Sem categoria',\n      valor: formatarValor(i.json.valor)\n    })),\n    gerado_em: new Date().toLocaleString('pt-BR')\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,112],"id":"ddf233ab-60c6-452b-b34f-c19d26841b00","name":"Formatar DRE"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,128],"id":"8a9cf543-5b25-4632-9898-4746fcb1d91e","name":"Merge"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Buscar DRE","type":"main","index":0},{"node":"Despesas por Categoria","type":"main","index":0}]]},"Buscar DRE":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Despesas por Categoria":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Formatar DRE","type":"main","index":0}]]}},"authors":"Alan Jones Rios","name":"Version 6a3dc413","description":"","workflowPublishHistory":[{"createdAt":"2025-12-23T23:33:40.224Z","id":323,"workflowId":"9N4DwvjLk6WsJm64","versionId":"6a3dc413-316f-472b-8839-eec552bbc990","event":"activated","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1"}]}}