apps/api/n8n-workflows-bpo-financeiro/tools/financeiro/09-TOOL-Conciliacao-Bancaria.json
{"updatedAt":"2025-12-17T04:55:58.517Z","createdAt":"2025-12-01T00:22:02.468Z","id":"Z1IFeHsHZYnooRMs","name":"[TOOL] Conciliação Bancária","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-160,160],"id":"8acfee00-a96d-40e4-8b1c-9196942d429b","name":"Execute Workflow Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-acao","leftValue":"={{ $json.acao }}","rightValue":"pendentes","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,160],"id":"609527c5-7340-48d3-91a1-d7cdc02c8b4a","name":"Qual Ação?"},{"parameters":{"operation":"executeQuery","query":"-- Buscar itens pendentes de conciliação\nSELECT \n  e.id as extrato_id,\n  e.data_transacao,\n  e.descricao as descricao_extrato,\n  e.valor as valor_extrato,\n  e.tipo as tipo_extrato,\n  cb.nome as conta,\n  m.id as movimentacao_id,\n  m.descricao as descricao_movimentacao,\n  COALESCE(m.valor_realizado, m.valor_previsto) as valor_movimentacao\nFROM extrato_bancario e\nJOIN fin_contas_bancarias cb ON e.conta_bancaria_id = cb.id\nLEFT JOIN fin_movimentacoes m ON\n  m.quitado = true\n  AND ABS(e.data_transacao - m.data_vencimento) <= 3\n  AND ABS(e.valor - COALESCE(m.valor_realizado, m.valor_previsto)) < 0.01\n  AND (\n    (e.tipo = 'credito' AND m.tipo = 'receita')\n    OR (e.tipo = 'debito' AND m.tipo = 'despesa')\n  )\nWHERE e.conciliado = false\nORDER BY e.data_transacao DESC\nLIMIT 20;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,48],"id":"39ed8be8-d43a-484c-af57-f23d9dfd0ef5","name":"Pendentes de Conciliação","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels"}}},{"parameters":{"operation":"executeQuery","query":"=-- Executar conciliação\nUPDATE extrato_bancario\nSET \n  conciliado = true,\n  movimentacao_id = '{{ $json.movimentacao_id }}'::uuid,\n  conciliado_em = NOW()\nWHERE id = '{{ $json.extrato_id }}'::uuid\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,256],"id":"3dc70d16-886a-4860-840e-7ae671486474","name":"Executar Conciliação","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels"}}},{"parameters":{"jsCode":"// Formatar lista de pendentes\nconst pendentes = $input.all().filter(i => i.json.extrato_id);\n\nconst formatarValor = (valor) => new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(valor || 0);\n\nconst formatarData = (dataStr) => {\n  if (!dataStr) return '-';\n  const data = new Date(dataStr);\n  return data.toLocaleDateString('pt-BR');\n};\n\n// Separar com e sem match\nconst comMatch = pendentes.filter(p => p.json.movimentacao_id);\nconst semMatch = pendentes.filter(p => !p.json.movimentacao_id);\n\nreturn {\n  json: {\n    titulo: 'Conciliação Bancária - Itens Pendentes',\n    resumo: {\n      total_pendentes: pendentes.length,\n      com_sugestao: comMatch.length,\n      sem_match: semMatch.length\n    },\n    com_sugestao_match: comMatch.map(p => ({\n      extrato_id: p.json.extrato_id,\n      data: formatarData(p.json.data_transacao),\n      descricao_banco: p.json.descricao_extrato,\n      valor: formatarValor(p.json.valor_extrato),\n      tipo: p.json.tipo_extrato === 'credito' ? 'Entrada' : 'Saída',\n      conta: p.json.conta,\n      match: {\n        movimentacao_id: p.json.movimentacao_id,\n        descricao: p.json.descricao_movimentacao,\n        valor: formatarValor(p.json.valor_movimentacao)\n      }\n    })),\n    sem_match: semMatch.slice(0, 10).map(p => ({\n      extrato_id: p.json.extrato_id,\n      data: formatarData(p.json.data_transacao),\n      descricao: p.json.descricao_extrato,\n      valor: formatarValor(p.json.valor_extrato),\n      tipo: p.json.tipo_extrato === 'credito' ? 'Entrada' : 'Saída',\n      conta: p.json.conta,\n      acao_sugerida: 'Criar movimentação correspondente ou ignorar'\n    })),\n    instrucoes: 'Para conciliar um item, use a ação \"conciliar\" informando extrato_id e movimentacao_id'\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,48],"id":"395f717f-75ba-4f61-a149-e7372d1d4745","name":"Formatar Pendentes"},{"parameters":{"jsCode":"// Formatar resultado da conciliação\nconst resultado = $json;\n\nreturn {\n  json: {\n    sucesso: true,\n    mensagem: 'Item conciliado com sucesso!',\n    detalhes: {\n      extrato_id: resultado.id,\n      movimentacao_id: resultado.movimentacao_id,\n      conciliado_em: new Date(resultado.conciliado_em).toLocaleString('pt-BR')\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,256],"id":"de73e59c-5b0c-4d34-afc1-ab1cae442650","name":"Formatar Resultado"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Qual Ação?","type":"main","index":0}]]},"Qual Ação?":{"main":[[{"node":"Pendentes de Conciliação","type":"main","index":0}],[{"node":"Executar Conciliação","type":"main","index":0}]]},"Pendentes de Conciliação":{"main":[[{"node":"Formatar Pendentes","type":"main","index":0}]]},"Executar Conciliação":{"main":[[{"node":"Formatar Resultado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1758f9cb-9535-439d-a722-370a9647543d","activeVersionId":null,"versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T00:22:02.496Z","createdAt":"2025-12-01T00:22:02.496Z","role":"workflow:owner","workflowId":"Z1IFeHsHZYnooRMs","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":null}