apps/api/n8n-workflows-bpo-financeiro/tools/financeiro/10-TOOL-Listar-Categorias.json
{"updatedAt":"2025-12-17T04:56:27.040Z","createdAt":"2025-11-30T22:02:25.445Z","id":"Acllbvk5jMEMDzd7","name":"[TOOL] Listar Categorias","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[128,-192],"id":"bea80f79-8457-4442-b849-ad84b789052b","name":"Execute Workflow Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT id, nome, tipo, descricao, cor\nFROM fin_categorias\nWHERE ativo = true\nORDER BY tipo, nome","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,-192],"id":"e1f68232-aa92-434e-92be-6642422642fe","name":"Listar Categorias","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar resposta\nconst items = $input.all();\n\nif (items.length === 0) {\n  return {\n    json: {\n      message: 'Nenhuma categoria encontrada',\n      categorias: []\n    }\n  };\n}\n\nconst receitas = items.filter(i => i.json.tipo === 'receita').map(i => ({\n  id: i.json.id,\n  nome: i.json.nome,\n  descricao: i.json.descricao\n}));\n\nconst despesas = items.filter(i => i.json.tipo === 'despesa').map(i => ({\n  id: i.json.id,\n  nome: i.json.nome,\n  descricao: i.json.descricao\n}));\n\nreturn {\n  json: {\n    total: items.length,\n    categorias_receita: receitas,\n    categorias_despesa: despesas\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,-192],"id":"5338af64-3526-4297-9557-d08752807231","name":"Formatar Resposta"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Listar Categorias","type":"main","index":0}]]},"Listar Categorias":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3d411618-efc5-40ce-af32-68c221ebf710","activeVersionId":"3d411618-efc5-40ce-af32-68c221ebf710","versionCounter":8,"triggerCount":0,"shared":[{"updatedAt":"2025-11-30T22:02:25.468Z","createdAt":"2025-11-30T22:02:25.468Z","role":"workflow:owner","workflowId":"Acllbvk5jMEMDzd7","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-11T04:43:31.254Z","createdAt":"2025-12-11T04:43:31.254Z","versionId":"3d411618-efc5-40ce-af32-68c221ebf710","workflowId":"Acllbvk5jMEMDzd7","nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[128,-192],"id":"bea80f79-8457-4442-b849-ad84b789052b","name":"Execute Workflow Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT id, nome, tipo, descricao, cor\nFROM fin_categorias\nWHERE ativo = true\nORDER BY tipo, nome","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,-192],"id":"e1f68232-aa92-434e-92be-6642422642fe","name":"Listar Categorias","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar resposta\nconst items = $input.all();\n\nif (items.length === 0) {\n  return {\n    json: {\n      message: 'Nenhuma categoria encontrada',\n      categorias: []\n    }\n  };\n}\n\nconst receitas = items.filter(i => i.json.tipo === 'receita').map(i => ({\n  id: i.json.id,\n  nome: i.json.nome,\n  descricao: i.json.descricao\n}));\n\nconst despesas = items.filter(i => i.json.tipo === 'despesa').map(i => ({\n  id: i.json.id,\n  nome: i.json.nome,\n  descricao: i.json.descricao\n}));\n\nreturn {\n  json: {\n    total: items.length,\n    categorias_receita: receitas,\n    categorias_despesa: despesas\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,-192],"id":"5338af64-3526-4297-9557-d08752807231","name":"Formatar Resposta"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Listar Categorias","type":"main","index":0}]]},"Listar Categorias":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]}},"authors":"Alan Jones Rios","name":null,"description":null,"workflowPublishHistory":[{"createdAt":"2025-12-11T04:43:31.000Z","id":139,"workflowId":"Acllbvk5jMEMDzd7","versionId":"3d411618-efc5-40ce-af32-68c221ebf710","event":"activated","userId":null}]}}