apps/api/n8n-workflows-bpo-financeiro/tools/financeiro/16-TOOL-Buscar-Movimentacoes.json
{"updatedAt":"2025-12-17T04:56:45.322Z","createdAt":"2025-11-30T22:02:02.830Z","id":"2b7qY6FV4SksBgXV","name":"TOOL fin_movimentacoes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[32,-128],"id":"4d026f38-b095-49a5-9e37-0286dbbf6f07","name":"Execute Workflow Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT id, tipo, valor_previsto, data_vencimento\nFROM fin_movimentacoes\nWHERE valor_previsto > 0\nORDER BY data_vencimento DESC\nLIMIT 1000;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[256,-128],"id":"6bb836bb-db76-44ce-93c9-d4c4fae3b92d","name":"Buscar Movimentações","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar resposta\nconst items = $input.all();\n\nif (items.length === 0 || (items.length === 1 && Object.keys(items[0].json).length === 0)) {\n  return {\n    json: {\n      encontrado: false,\n      message: 'Nenhuma movimentação encontrada com os filtros informados',\n      movimentacoes: []\n    }\n  };\n}\n\nconst movimentacoes = items.map(item => {\n  const m = item.json;\n  const valorFormatado = new Intl.NumberFormat('pt-BR', {\n    style: 'currency',\n    currency: 'BRL'\n  }).format(parseFloat(m.valor_previsto) || 0);\n  \n  // Corrigir parsing da data\n  const dataVenc = m.data_vencimento ? new Date(m.data_vencimento).toLocaleDateString('pt-BR') : 'N/A';\n  \n  return {\n    id: m.id,\n    tipo: m.tipo,\n    descricao: m.descricao,\n    valor: valorFormatado,\n    valor_numerico: parseFloat(m.valor_previsto) || 0,\n    data_vencimento: dataVenc,\n    quitado: m.quitado,\n    cliente_fornecedor: m.cliente_fornecedor || 'Não informado',\n    categoria: m.categoria || 'Não categorizado',\n    tipo_entidade: m.tipo_entidade\n  };\n});\n\n// Calcular totais com parseFloat\nconst totalReceitas = items.filter(i => i.json.tipo === 'receita').reduce((sum, i) => sum + (parseFloat(i.json.valor_previsto) || 0), 0);\nconst totalDespesas = items.filter(i => i.json.tipo === 'despesa').reduce((sum, i) => sum + (parseFloat(i.json.valor_previsto) || 0), 0);\n\nreturn {\n  json: {\n    encontrado: true,\n    quantidade: movimentacoes.length,\n    total_receitas: new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(totalReceitas),\n    total_despesas: new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(totalDespesas),\n    movimentacoes\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-128],"id":"20d0f8c7-5b81-4aa1-a719-bd2ef57725cd","name":"Formatar Resposta"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Buscar Movimentações","type":"main","index":0}]]},"Buscar Movimentações":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"query":"contas pagas dezembro 2025"}}]},"versionId":"41f366e4-efd8-41bc-b491-49751c01ec84","activeVersionId":"41f366e4-efd8-41bc-b491-49751c01ec84","versionCounter":15,"triggerCount":0,"shared":[{"updatedAt":"2025-11-30T22:02:02.849Z","createdAt":"2025-11-30T22:02:02.849Z","role":"workflow:owner","workflowId":"2b7qY6FV4SksBgXV","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-15T12:56:07.810Z","createdAt":"2025-12-15T12:56:07.810Z","versionId":"41f366e4-efd8-41bc-b491-49751c01ec84","workflowId":"2b7qY6FV4SksBgXV","nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[32,-128],"id":"4d026f38-b095-49a5-9e37-0286dbbf6f07","name":"Execute Workflow Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT id, tipo, valor_previsto, data_vencimento\nFROM fin_movimentacoes\nWHERE valor_previsto > 0\nORDER BY data_vencimento DESC\nLIMIT 1000;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[256,-128],"id":"6bb836bb-db76-44ce-93c9-d4c4fae3b92d","name":"Buscar Movimentações","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels."}}},{"parameters":{"jsCode":"// Formatar resposta\nconst items = $input.all();\n\nif (items.length === 0 || (items.length === 1 && Object.keys(items[0].json).length === 0)) {\n  return {\n    json: {\n      encontrado: false,\n      message: 'Nenhuma movimentação encontrada com os filtros informados',\n      movimentacoes: []\n    }\n  };\n}\n\nconst movimentacoes = items.map(item => {\n  const m = item.json;\n  const valorFormatado = new Intl.NumberFormat('pt-BR', {\n    style: 'currency',\n    currency: 'BRL'\n  }).format(parseFloat(m.valor_previsto) || 0);\n  \n  // Corrigir parsing da data\n  const dataVenc = m.data_vencimento ? new Date(m.data_vencimento).toLocaleDateString('pt-BR') : 'N/A';\n  \n  return {\n    id: m.id,\n    tipo: m.tipo,\n    descricao: m.descricao,\n    valor: valorFormatado,\n    valor_numerico: parseFloat(m.valor_previsto) || 0,\n    data_vencimento: dataVenc,\n    quitado: m.quitado,\n    cliente_fornecedor: m.cliente_fornecedor || 'Não informado',\n    categoria: m.categoria || 'Não categorizado',\n    tipo_entidade: m.tipo_entidade\n  };\n});\n\n// Calcular totais com parseFloat\nconst totalReceitas = items.filter(i => i.json.tipo === 'receita').reduce((sum, i) => sum + (parseFloat(i.json.valor_previsto) || 0), 0);\nconst totalDespesas = items.filter(i => i.json.tipo === 'despesa').reduce((sum, i) => sum + (parseFloat(i.json.valor_previsto) || 0), 0);\n\nreturn {\n  json: {\n    encontrado: true,\n    quantidade: movimentacoes.length,\n    total_receitas: new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(totalReceitas),\n    total_despesas: new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(totalDespesas),\n    movimentacoes\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-128],"id":"20d0f8c7-5b81-4aa1-a719-bd2ef57725cd","name":"Formatar Resposta"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Buscar Movimentações","type":"main","index":0}]]},"Buscar Movimentações":{"main":[[{"node":"Formatar Resposta","type":"main","index":0}]]}},"authors":"Alan Jones Rios","name":null,"description":null,"workflowPublishHistory":[{"createdAt":"2025-12-15T12:56:07.000Z","id":138,"workflowId":"2b7qY6FV4SksBgXV","versionId":"41f366e4-efd8-41bc-b491-49751c01ec84","event":"activated","userId":null}]}}