apps/testing/workflow_mottivme_grupo_vip_steffo(no claude - projeto growth-os).json
{
  "name": "MOTTIVME - Criar Grupo VIP com Closer (Stevo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mottivme/stevo/criar-grupo-vip",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook GHL - Agendamento Confirmado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "mottivme-stevo-grupo-vip"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-fields",
              "name": "Extrair campos do lead",
              "value": "={{ $json.body.first_name }}",
              "type": "string"
            },
            {
              "id": "lead-phone",
              "name": "leadPhone",
              "value": "={{ $json.body.phone.replace(/[^\\d]/g, '') }}",
              "type": "string"
            },
            {
              "id": "location-id",
              "name": "locationId",
              "value": "={{ $json.body.location.id }}",
              "type": "string"
            },
            {
              "id": "location-name",
              "name": "locationName",
              "value": "={{ $json.body.location.name }}",
              "type": "string"
            },
            {
              "id": "sdr-agent",
              "name": "sdrAgent",
              "value": "={{ $json.body.customData.agente_ia }}",
              "type": "string"
            }
          ]
        },
        "mode": "manual"
      },
      "id": "extract-data",
      "name": "Extrair Dados do Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mapping-closers",
              "name": "closerMapping",
              "value": "={{ { \"sNwLyynZWP6jEtBy1ubf\": { \"location_name\": \"Dr. Luiz / Instituto Amar\", \"closer_number\": \"5518997096638\", \"sdr_agent\": \"hallen-notification\", \"sdr_name\": \"Isabella Delduco\" }, \"Bgi2hFMgiLLoRlOO0K5b\": { \"location_name\": \"Marina & Gustavo Couto\", \"closer_number\": \"551619453067\", \"sdr_agent\": \"marinacouto\", \"sdr_name\": \"Marina Couto\" }, \"cd1uyzpJox6XPt4Vct8Y\": { \"location_name\": \"Marcos Daniel\", \"closer_number\": \"5511936180422\", \"sdr_agent\": \"marcosdaniels\", \"sdr_name\": \"Marcos Daniel\" }, \"uEh9LDrdLpKH1oruwxZ4\": { \"location_name\": \"André Rosa\", \"closer_number\": \"5519085905623\", \"sdr_agent\": \"andre-rosa\", \"sdr_name\": \"André Rosa\" }, \"mHuN6v75KQc3lwmBd6mV\": { \"location_name\": \"Milton e Adriana\", \"closer_number\": \"551619081973\", \"sdr_agent\": \"milton\", \"sdr_name\": \"Milton\" } } }}",
              "type": "object"
            }
          ]
        },
        "mode": "manual"
      },
      "id": "set-mapping",
      "name": "Definir Mapping de Closers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "closer-data",
              "name": "closerData",
              "value": "={{ $node[\"Definir Mapping de Closers\"].json.closerMapping[$node[\"Extrair Dados do Lead\"].json.locationId] }}",
              "type": "object"
            },
            {
              "id": "closer-number",
              "name": "closerNumber",
              "value": "={{ $node[\"Definir Mapping de Closers\"].json.closerMapping[$node[\"Extrair Dados do Lead\"].json.locationId].closer_number }}",
              "type": "string"
            },
            {
              "id": "sdr-name",
              "name": "sdrName",
              "value": "={{ $node[\"Definir Mapping de Closers\"].json.closerMapping[$node[\"Extrair Dados do Lead\"].json.locationId].sdr_name }}",
              "type": "string"
            },
            {
              "id": "group-name",
              "name": "groupName",
              "value": "=MOTTIVME | {{ $node[\"Extrair Dados do Lead\"].json.first_name.split(' ')[0] }} + {{ $node[\"Definir Mapping de Closers\"].json.closerMapping[$node[\"Extrair Dados do Lead\"].json.locationId].location_name.split(' ')[0] }}",
              "type": "string"
            }
          ]
        },
        "mode": "manual"
      },
      "id": "lookup-closer",
      "name": "Buscar Closer por Location ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-closer",
              "leftValue": "={{ $json.closerData }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-valid",
      "name": "Location ID Mapeado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smv2-2.stevo.chat/group/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1768108453277bwfTzN4uG8h9Hng5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"instanceName\": \"marcosdaniels\",\n  \"groupName\": $node[\"Buscar Closer por Location ID\"].json.groupName,\n  \"participants\": [\n    $node[\"Extrair Dados do Lead\"].json.leadPhone,\n    $node[\"Buscar Closer por Location ID\"].json.closerNumber\n  ]\n} }}",
        "options": {}
      },
      "id": "create-group",
      "name": "Stevo API - Criar Grupo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "group-jid",
              "name": "groupJid",
              "value": "={{ $json.data.jid }}",
              "type": "string"
            },
            {
              "id": "success",
              "name": "success",
              "value": "true",
              "type": "boolean"
            }
          ]
        },
        "mode": "manual"
      },
      "id": "extract-jid",
      "name": "Extrair JID do Grupo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "value": "=🎯 *GRUPO EXCLUSIVO MOTTIVME*\n\nOlá *{{ $node[\"Extrair Dados do Lead\"].json.first_name }}*! 👋\n\nCriei este grupo para facilitar nossa comunicação.\n\nTudo será conduzido pelo time *{{ $node[\"Buscar Closer por Location ID\"].json.closerData.location_name }}*.\n\nA *{{ $node[\"Buscar Closer por Location ID\"].json.sdrName }}* te agendou e você está em boas mãos!\n\nQualquer dúvida, podem usar o grupo. 🚀",
              "type": "string"
            }
          ]
        },
        "mode": "manual"
      },
      "id": "create-message",
      "name": "Criar Mensagem de Apresentação",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smv2-2.stevo.chat/send/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1768108453277bwfTzN4uG8h9Hng5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"instanceName\": \"marcosdaniels\",\n  \"number\": $node[\"Extrair JID do Grupo\"].json.groupJid,\n  \"text\": $node[\"Criar Mensagem de Apresentação\"].json.message\n} }}",
        "options": {}
      },
      "id": "send-message",
      "name": "Stevo API - Enviar Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Grupo VIP criado com sucesso!\",\n  \"groupJid\": $node[\"Extrair JID do Grupo\"].json.groupJid,\n  \"groupName\": $node[\"Buscar Closer por Location ID\"].json.groupName,\n  \"closer\": $node[\"Buscar Closer por Location ID\"].json.closerData.location_name\n} }}"
      },
      "id": "response-success",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"message\": \"Location ID não mapeado: \" + $node[\"Extrair Dados do Lead\"].json.locationId,\n  \"locationId\": $node[\"Extrair Dados do Lead\"].json.locationId\n} }}",
        "options": {}
      },
      "id": "response-error",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 450]
    }
  ],
  "connections": {
    "Webhook GHL - Agendamento Confirmado": {
      "main": [
        [
          {
            "node": "Extrair Dados do Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados do Lead": {
      "main": [
        [
          {
            "node": "Definir Mapping de Closers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Mapping de Closers": {
      "main": [
        [
          {
            "node": "Buscar Closer por Location ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Closer por Location ID": {
      "main": [
        [
          {
            "node": "Location ID Mapeado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Location ID Mapeado?": {
      "main": [
        [
          {
            "node": "Stevo API - Criar Grupo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stevo API - Criar Grupo": {
      "main": [
        [
          {
            "node": "Extrair JID do Grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair JID do Grupo": {
      "main": [
        [
          {
            "node": "Criar Mensagem de Apresentação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Mensagem de Apresentação": {
      "main": [
        [
          {
            "node": "Stevo API - Enviar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stevo API - Enviar Mensagem": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T06:00:00.000Z",
  "versionId": "1"
}
