apps/api/n8n-workflows-bpo-financeiro/tools/cadastros/18-TOOL-Criar-Cliente-Fornecedor.json
{"updatedAt":"2025-12-17T04:56:02.128Z","createdAt":"2025-11-30T21:27:14.036Z","id":"dEPGbp6hUQbW1g5a","name":"[TOOL] Criar Cliente/Fornecedor","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[448,-32],"id":"3e396a37-1293-427b-9789-d17d13be6bc0","name":"Execute Workflow Trigger"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO fin_clientes_fornecedores (\n  nome,\n  documento,\n  telefone,\n  email,\n  tipo,\n  endereco,\n  ativo\n)\nVALUES (\n  '{{ $json.nome }}',\n  {{ $json.documento ? \"'\" + $json.documento + \"'\" : 'NULL' }},\n  {{ $json.telefone ? \"'\" + $json.telefone + \"'\" : 'NULL' }},\n  {{ $json.email ? \"'\" + $json.email + \"'\" : 'NULL' }},\n  '{{ $json.tipo || 'pessoa_juridica' }}',\n  {{ $json.endereco ? \"'\" + $json.endereco + \"'\" : 'NULL' }},\n  true\n)\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,-32],"id":"e319a9fa-2e5b-41d9-b992-88d7f24c6331","name":"Insert Cliente/Fornecedor","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels"}}},{"parameters":{"assignments":{"assignments":[{"id":"success","name":"success","value":true,"type":"boolean"},{"id":"message","name":"message","value":"Cliente/Fornecedor criado com sucesso","type":"string"},{"id":"cliente_id","name":"cliente_id","value":"={{ $json.id }}","type":"string"},{"id":"nome","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"documento","name":"documento","value":"={{ $json.documento }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-32],"id":"4f512d09-fd65-4815-9c09-3e602606d84d","name":"Format Response"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Insert Cliente/Fornecedor","type":"main","index":0}]]},"Insert Cliente/Fornecedor":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bce0b27e-77da-4a5e-b533-491a53023eb6","activeVersionId":"bce0b27e-77da-4a5e-b533-491a53023eb6","versionCounter":8,"triggerCount":0,"shared":[{"updatedAt":"2025-11-30T21:27:14.062Z","createdAt":"2025-11-30T21:27:14.062Z","role":"workflow:owner","workflowId":"dEPGbp6hUQbW1g5a","projectId":"VAjodPr5Fy7WALLy","project":{"updatedAt":"2025-06-18T03:44:57.988Z","createdAt":"2025-06-18T03:36:54.736Z","id":"VAjodPr5Fy7WALLy","name":"Alan Jones Rios <alan@mentorfy.io>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-18T03:36:54.737Z","createdAt":"2025-06-18T03:36:54.737Z","userId":"c236702a-fb1c-471c-b22c-6b898a17bcb1","projectId":"VAjodPr5Fy7WALLy","user":{"updatedAt":"2026-01-11T10:10:00.323Z","createdAt":"2025-06-18T03:36:53.786Z","id":"c236702a-fb1c-471c-b22c-6b898a17bcb1","email":"alan@mentorfy.io","firstName":"Alan Jones","lastName":"Rios","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-18T03:45:05.123Z","personalization_survey_n8n_version":"1.98.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ccHBfcfeKrXwUhIA","userActivatedAt":1750223854201,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1768126200157},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-11","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-11T04:21:00.277Z","createdAt":"2025-12-11T04:21:00.277Z","versionId":"bce0b27e-77da-4a5e-b533-491a53023eb6","workflowId":"dEPGbp6hUQbW1g5a","nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[448,-32],"id":"3e396a37-1293-427b-9789-d17d13be6bc0","name":"Execute Workflow Trigger"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO fin_clientes_fornecedores (\n  nome,\n  documento,\n  telefone,\n  email,\n  tipo,\n  endereco,\n  ativo\n)\nVALUES (\n  '{{ $json.nome }}',\n  {{ $json.documento ? \"'\" + $json.documento + \"'\" : 'NULL' }},\n  {{ $json.telefone ? \"'\" + $json.telefone + \"'\" : 'NULL' }},\n  {{ $json.email ? \"'\" + $json.email + \"'\" : 'NULL' }},\n  '{{ $json.tipo || 'pessoa_juridica' }}',\n  {{ $json.endereco ? \"'\" + $json.endereco + \"'\" : 'NULL' }},\n  true\n)\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,-32],"id":"e319a9fa-2e5b-41d9-b992-88d7f24c6331","name":"Insert Cliente/Fornecedor","credentials":{"postgres":{"id":"w2mBaRwhZ3tM4FUw","name":"Postgres Marcos Daniels"}}},{"parameters":{"assignments":{"assignments":[{"id":"success","name":"success","value":true,"type":"boolean"},{"id":"message","name":"message","value":"Cliente/Fornecedor criado com sucesso","type":"string"},{"id":"cliente_id","name":"cliente_id","value":"={{ $json.id }}","type":"string"},{"id":"nome","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"documento","name":"documento","value":"={{ $json.documento }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-32],"id":"4f512d09-fd65-4815-9c09-3e602606d84d","name":"Format Response"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Insert Cliente/Fornecedor","type":"main","index":0}]]},"Insert Cliente/Fornecedor":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"authors":"Alan Jones Rios","name":null,"description":null,"workflowPublishHistory":[{"createdAt":"2025-12-11T04:21:00.000Z","id":134,"workflowId":"dEPGbp6hUQbW1g5a","versionId":"bce0b27e-77da-4a5e-b533-491a53023eb6","event":"activated","userId":null}]}}